@use '~@talend/design-tokens/lib/tokens';

.affix {
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 0;
	color: tokens.$coral-color-neutral-text-weak;
	background: tokens.$coral-color-neutral-background-strong;
	padding: 0 tokens.$coral-size-xs;
	justify-content: center;
	align-items: center;
	font: tokens.$coral-paragraph-m;

	&:first-child {
		border-radius: 2px 0 0 2px;
	}

	&:last-child {
		border-radius: 0 2px 2px 0;
	}

	&__icon {
		width: tokens.$coral-size-s;
		height: tokens.$coral-size-s;
	}

	&__caret {
		width: tokens.$coral-size-xs;
		height: tokens.$coral-size-xs;
	}

	&.button {
		color: tokens.$coral-color-accent-text;
		background: tokens.$coral-color-accent-background;

		&:active {
			color: tokens.$coral-color-accent-text-active;
			background: tokens.$coral-color-accent-background-active;
		}

		&:hover {
			color: tokens.$coral-color-accent-text-hover;
			background: tokens.$coral-color-accent-background-hover;
		}
	}
}
