@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

.container {
	padding-left: 0;
	margin: 0;
	width: 100%;
	background: tokens.$coral-color-neutral-background;
}

.tc-list-toolbar-select-all {
	margin: $padding-small 0 $padding-small $padding-large;
	padding-left: 0;

	:global(label) {
		margin-bottom: 0;
		margin-left: 5px;
		line-height: 1.3rem;
	}
}
