@use '@talend/design-tokens/lib/tokens' as tokens;

.container {
	background: tokens.$coral-color-neutral-background;
	display: flex;
	margin: 0;
	padding: tokens.$coral-spacing-m tokens.$coral-sizing-s;
	width: 100%;

	label {
		line-height: 1rem;
		margin-bottom: 0;
	}
}
