.list {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.toolbar {
	flex-shrink: 0;
	flex-grow: 0;
}

.vlist {
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
}
