$tc-table-header-height: 30px !default;

.tc-table-header {
	display: block;
	width: 100%;
	height: $tc-table-header-height;

	&-row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&-cell {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
	}

}
