$tc-table-header-height: 30px !default;
$tc-table-header-data-padding: 0.3rem;

.tc-table-header {
	display: block;
	width: 100%;
	height: $tc-table-header-height;

	&-row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&-cell {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
	}

	&-data {
		padding: $tc-table-header-data-padding;
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}
