@use '@talend/design-tokens/lib/tokens';

:global(.tc-drawer-content:has([data-drawer-absolute-footer-buttons])) {
	margin-bottom: 66px;

	.drawer-absolute-footer-buttons {
		background: tokens.$coral-color-neutral-background-medium;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: tokens.$coral-spacing-m;
		display: flex;
		justify-content: space-between;
	}
}
