$tc-drawer-content-max-width: 60rem !default;

.container,
.form-content {
	display: flex;
	flex-direction: column;
}

.form-content {
	flex-grow: 1;
	min-height: 0;
	overflow-y: auto;

	:global {
		.tc-skeleton {
			margin: $padding-large 0 0;

			&.skeleton-fit-content {
				width: auto;
			}
		}
	}
}

.form-actions {
	display: flex;
	justify-content: space-between;
	padding: {
		top: $padding-larger;
		bottom: $padding-larger;
	}
}

:global(.tc-drawer-container) {
	> .container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
	}

	.form-content {
		padding: 0 $padding-larger;
	}

	.form-actions {
		padding: {
			left: $padding-larger;
			right: $padding-larger;
		}
		box-shadow: 0px -1px 5px 0px;
	}
}

@media screen and (min-width: $screen-xs-max) {
	:global(.stacked) :global(.tc-drawer-container) {
		.form-content,
		.form-actions {
			margin: 0 auto;
			width: $tc-drawer-content-max-width;
			background: none;
			box-shadow: none;
		}
	}
}
