$tc-drawer-content-max-width: 65rem !default;

.container {
	margin: $padding-normal;
}

.container,
.form-content,
.form-content-wrapper {
	display: flex;
	flex-direction: column;
}

.form-content {
	:global {
		.tc-skeleton {
			margin: $padding-normal 0;

			&.skeleton-fit-content {
				width: auto;
			}
		}
	}
}

.submit-wrapper {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

:global(.tc-drawer-container) {
	> .container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
		margin: 0;
	}

	.form-content,
	.submit-wrapper {
		padding: $padding-normal;
	}

	.form-content {
		flex-grow: 1;
		min-height: 0;
		overflow-y: auto;
		margin: 0 $padding-small;
	}

	.submit {
		width: 100%;
		background-color: $wild-sand;
	}
}

@media screen and (min-width: $screen-xs-max) {
	:global(.stacked) :global(.tc-drawer-container) {
		.form-content {
			.form-content-wrapper {
				padding: 0 $padding-normal;
				width: $tc-drawer-content-max-width;
				margin: 0 auto;
			}
		}
		.submit-wrapper {
			max-width: $tc-drawer-content-max-width;
		}
		:global(.form-actions) {
			padding: 0 $padding-normal;
			max-width: $tc-drawer-content-max-width;
			margin: auto;
		}
	}
}
