.tf-array-fieldset {
	margin-bottom: $padding-normal;

	&::before {
		content: attr(data-content);
		display: inline-block;
		text-transform: uppercase;
		margin: $padding-normal 0;
	}

	.tf-array-add {
		float: right;
	}

	.tf-array {
		padding: 0;

		.item {
			list-style: none;
		}
	}
}
