$badge-label-font-size: 13px;
$badge-height: 25px;
$badge-delete-icon-size: $svg-xs-size;
// it should sum up in 25px height:
$badge-label-vertical-padding: ($badge-height - $badge-label-font-size * $line-height-base) / 2;

.tc-badge {
	display: inline-flex;
	max-width: 100%;

	.tc-badge-button {
		display: inline-flex;
		height: $badge-height;
		margin: $padding-smaller;
		padding: $badge-label-vertical-padding $padding-small;
		padding-right: calc(#{$padding-larger} + #{$badge-delete-icon-size});
		background-color: $gallery;
		letter-spacing: 0.4px;
		border: none;
		max-width: 100%;

		.tc-badge-category {
			background-color: $concrete;
			font-size: $badge-label-font-size;
			text-transform: uppercase;

			margin-top: -$badge-label-vertical-padding;
			margin-right: $padding-small;
			margin-left: -$padding-small;
			margin-bottom: -$badge-label-vertical-padding;
			padding: $badge-label-vertical-padding $padding-small;
		}

		.tc-badge-label {
			font-size: $badge-label-font-size;
			font-weight: 700;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&:hover {
			background-color: $alto;

			.tc-badge-category {
				background-color: $gallery;
			}
		}
	}

	svg,
	.tc-badge-label,
	.tc-badge-category {
		color: $dark-silver;
	}

	&-readonly.tc-badge {
		.tc-badge-button {
			padding-right: $padding-small;
		}
	}

	&-selected:not(&-disabled) {
		svg,
		.tc-badge-label,
		.tc-badge-category {
			color: $white;
		}

		.tc-badge-button {
			background-color: $scooter;

			.tc-badge-category {
				background-color: rgba($white, 0.2);
			}

			&:hover {
				background-color: darken($scooter, 10);
			}
		}
	}

	&-disabled {
		.tc-badge-button {
			background-color: $gallery;

			svg,
			.tc-badge-label,
			.tc-badge-category {
				color: $silver;
			}

			.tc-badge-category {
				background-color: $concrete;
			}
		}
	}

	.tc-badge-delete-icon {
		position: relative;
		margin: auto;
		height: $badge-height - 2 * $badge-label-vertical-padding;
		padding: 0;
		background: transparent;
		box-shadow: none;
		left: -$padding-large;

		svg {
			display: block;
			margin: 0;
			height: $badge-delete-icon-size;
			width: $badge-delete-icon-size;
		}
	}
}

