$tc-badge-horizontal-margin: $padding-normal / 2;

.tc-badge {
	border-radius: $border-radius-base;
	display: inline-block;
	font-size: $font-size-small;
	margin: $padding-smaller $tc-badge-horizontal-margin 0;
	max-width: calc(100% - #{$padding-normal});
	padding: 0 $padding-smaller;
	position: relative;

	&,
	svg {
		color: $text-color;
	}

	&.tc-badge-outline {
		background: $white;
		border: 1px solid $brand-primary-darker;
		font-weight: normal;

		&.tc-badge-with-icon:hover {
			background: opacify($brand-primary, 0.25);

			&,
			svg {
				color: $white;
			}
		}
	}

	&.tc-badge-solid {
		background: $brand-primary-darker;
		color: $white;
		border: 1px solid $brand-primary-darker;
		text-transform: uppercase;
		opacity: 0.85;

		svg {
			color: $white;
		}

		&.tc-badge-with-icon:hover {
			background: lighten($brand-primary, $btn-background-tint-percent/100);
		}
	}

	.tc-badge-label {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&-with-icon {
			margin-right: $padding-large;
		}
	}

	.tc-badge-delete-icon {
		position: absolute;
		top: -1px;
		right: 0;
		padding: 0 3px;
		border: none;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
		line-height: inherit;

		svg {
			margin: 0;
			height: $svg-sm-size;
			width: $svg-sm-size;
			padding: 2px;

			& + span {
				padding: 0;
			}
		}
	}
}

