@import '../shared/styles/mixins';

.popper {
	@include popper;
}
.date-picker {
	@include date-picker;
	align-items: flex-end;

	:global(.arrow) {
		@include arrow;
		display: flex;
		align-items: flex-end;

		:global(:icon) {
			@include icon;
		}
	}
}
