@import '../shared/styles/mixins';

.popper {
	@include popper;
}
.date-picker {
	@include date-picker;
	align-items: flex-end;

	.arrow {
		@include arrow;
		display: flex;
		align-items: flex-end;

		.icon {
			@include icon;
		}
	}
}
.date-range-picker-inline {
	@include range-picker-inline;
}
