@mixin heartbeat($animation-name) {
	animation: $animation-name 1.5s ease infinite;
}

@keyframes object-blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes skeleton-blink {
	0%,
	100% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.25;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

$fadein: fadein 0.3s ease-out;
