@mixin heartbeat($animation-name) {
	animation: $animation-name 1.5s ease infinite;
}

@mixin tc-animation($animation-name, $duration, $function, $iteration) {
	animation: $animation-name $duration $function $iteration;
}

@keyframes app-loader-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes app-loader-fadeIn {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}

@keyframes object-blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes skeleton-blink {
	0%,
	100% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.25;
	}
}
