////
/// Bootstrap breadcrumbs customization
/// @group Breadcrumbs
////

.breadcrumb {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 $padding-normal;
	height: $breadcrumb-height;
	white-space: nowrap;
	color: $breadcrumb-items-color;
	border-radius: 0;

	> li {
		display: flex;
		align-items: center;

		> a,
		> span,
		> .btn {
			display: inline-block;
			flex: 1;
			flex-basis: auto; // https://github.com/philipwalton/flexbugs#6-the-default-flex-value-has-changed
			max-width: $breadcrumb-items-max-width;
			padding: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		& + li {
			&:before {
				content: '/';
				padding: 0 $padding-small;
				color: $breadcrumb-items-separator-color;
			}
		}

		&.separator {
			min-width: 0;
		}

		&.active span {
			font-weight: 600;
			color: $breadcrumb-items-active-color;
		}
	}

	// Buttons need to have the same behavior as links
	a,
	.btn {
		font-size: inherit;
		letter-spacing: 0;
		text-align: left;
		text-transform: none;
		background: transparent;
		border: none;

		&:focus,
		&:hover,
		&:active,
		&:active:focus,
		&.active {
			color: $breadcrumb-items-color-hover;
			background: transparent;
			text-decoration: none;
		}

		> span {
			display: inline-block;
		}
	}
}
