////
/// Bootstrap breadcrumbs customization
/// @group Breadcrumbs
////

.breadcrumb {
	font-size: 1.4rem;

	&-item {
		max-width: 30rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		a,
		button {
			color: $black;

			@include hover-focus {
				color: $scooter;
				text-decoration: none;
			}
		}

		&.active {
			font-weight: 600;
		}

		&.dropdown {
			overflow: visible;
			.dropdown-toggle {
				min-height: auto;
				height: auto;
				line-height: inherit;
				&:after {
					content: none;
				}
			}
		}
	}
}
