////
/// Bootstrap buttons customization
/// @group Buttons
////

.btn {
	--btn-color: currentColor;
	--btn-background-color: transparent;
	--btn-border-color: transparent;

	--btn-padding: 0 #{$padding-normal};
	--btn-height: #{$btn-line-height - 0.2rem};

	--btn-primary-color: #{$btn-primary-color};
	--btn-primary-background: #{$btn-primary-bg};
	--btn-primary-background--hover: #{$btn-primary-bg-hover};
	--btn-primary-background--active: #{$btn-primary-bg-active};

	--btn-secondary-background--hover: #{$lochmara100};

	--btn-destructive-background: #{$btn-danger-bg};
	--btn-destructive-background--hover: #{$btn-danger-bg-hover};
	--btn-destructive-background--active: #{$btn-danger-bg-active};

	position: relative;
	font-size: $btn-font-size;
	font-weight: $font-weight-semi-bold;
	min-height: var(--btn-height);
	line-height: var(--btn-height);
	padding: var(--btn-padding);
	box-shadow: none;
	transition: all 0.1s ease-out;

	&,
	&:hover,
	&:focus,
	&.focus {
		color: var(--btn-color);
		background-color: var(--btn-background-color);
		border: 1px solid var(--btn-border-color);
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		&,
		&:hover,
		&:focus,
		&.focus {
			color: var(--btn-color);
			background-color: var(--btn-background-color);
			border-color: var(--btn-border-color);
		}
	}

	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			outline: 2px solid $moody-purple500;
			outline-offset: 1px;
		}
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus {
			opacity: 0.54;
			cursor: not-allowed;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: -1 * $padding-smaller;
		right: -1 * $padding-smaller;
		bottom: -1 * $padding-smaller;
		left: -1 * $padding-smaller;
		border-radius: $btn-border-radius-base;
	}

	&,
	& > span {
		display: inline-flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;

		> * {
			flex-shrink: 0;
		}
	}

	svg {
		fill: currentColor;
		height: $svg-md-size;
		width: $svg-md-size;
	}

	&-primary,
	&-success,
	&-info,
	&-warning,
	&.btn-danger,
	&--primary,
	&.btn--destructive {
		--btn-color: var(--btn-primary-color);
	}

	&-primary,
	&-success,
	&-info,
	&-warning,
	&--primary {
		--btn-background-color: var(--btn-primary-background);

		&:hover {
			--btn-background-color: var(--btn-primary-background--hover);
		}

		&:active {
			--btn-background-color: var(--btn-primary-background--active);
		}
	}

	&-inverse,
	&--secondary,
	&-tertiary,
	&--tertiary {
		--btn-color: var(--btn-primary-background);
		--btn-background-color: transparent;

		&:hover,
		&:active {
			--btn-background-color: var(--btn-secondary-background--hover);
		}

		&:hover {
			--btn-color: var(--btn-primary-background--hover);
		}

		&:active {
			--btn-color: var(--btn-primary-background--active);
		}
	}

	&-inverse,
	&--secondary {
		--btn-border-color: var(--btn-primary-background);
	}

	&.btn-danger,
	&.btn--destructive {
		--btn-background-color: var(--btn-destructive-background);
		--btn-border-color: var(--btn-destructive-background);

		&,
		&:hover,
		&:active {
			--btn-color: var(--btn-primary-color);
		}

		&:hover {
			--btn-background-color: var(--btn-destructive-background--hover);
			--btn-border-color: var(--btn-destructive-background--hover);
		}

		&:active {
			--btn-background-color: var(--btn-destructive-background--active);
			--btn-border-color: var(--btn-destructive-background--active);
		}
	}

	&-link {
		font-weight: inherit;
		--btn-color: #{$link-color};

		&:hover {
			--btn-color: #{$link-hover-color};
		}

		&:active {
			--btn-color: #{$link-active-color};
		}
	}

	&-icon-text {
		--btn-padding: 0;
		--btn-background-color: transparent;
		--btn-border-color: transparent;
	}

	&-xs,
	&-sm {
		--btn-padding: 0 #{$padding-small-horizontal};
		--btn-height: 2.8rem - 0.2rem;
	}

	.caret.caret {
		margin-left: $padding-smaller;
	}

	svg + span,
	span + svg {
		margin-left: $padding-smaller;
	}
}
