////
/// Bootstrap button groups customization
/// @group Button Groups
////

.btn-group-vertical {
	.btn-group {
		display: flex;

		.dropdown-toggle {
			flex: 1;
		}
	}
}

.btn-group {
	display: inline-flex;

	.btn {
		&-primary,
		&-success,
		&-info,
		&-warning,
		&-danger {
			.caret {
				@include dropdown-caret-color($navbar-inverse-link-color);
			}
		}

		+ .btn {
			.caret.caret {
				margin-left: 0;
			}
		}
	}

	&-justified {
		> .btn,
		> .btn-group {
			width: auto;
		}
	}

	> .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-15px);
		transition: opacity 0.15s cubic-bezier(0, 0,0.2,1), transform 0.15s cubic-bezier(0, 0,0.2,1), visibility 0s;
		overflow-y: auto;
	}

	&.open {
		> .dropdown-menu {
			visibility: visible;
			opacity: 1;
			max-height: 320px;
			transform: translateY(0);
		}
	}
}
