////
/// Bootstrap buttons customization
/// @group Buttons
////

@use '@talend/design-tokens/lib/tokens';

:root {
	--t-button-color: currentColor;
	--t-button-background-color: transparent;
	--t-button-border-color: transparent;

	--t-button-padding: 0 #{$padding-normal};
	--t-button-height: #{$btn-line-height - 0.2rem};

	--t-button-primary-color: tokens.$coral-color-accent-text-weak;
	--t-button-primary-background: tokens.$coral-color-accent-background-strong;
	--t-button-primary-background--hover: tokens.$coral-color-accent-background-strong-hover;
	--t-button-primary-background--active: tokens.$coral-color-accent-background-strong-active;

	--t-button-secondary-background--hover: #{$lochmara100};

	--t-button-destructive-background: #{$btn-danger-bg};
	--t-button-destructive-background--hover: #{$btn-danger-bg-hover};
	--t-button-destructive-background--active: #{$btn-danger-bg-active};
}

.btn {
	font-size: $btn-font-size;
	font-weight: $font-weight-semi-bold;
	min-height: var(--t-button-height);
	line-height: var(--t-button-height);
	padding: var(--t-button-padding);
	border: 1px solid;
	box-shadow: none;
	/* stylelint-disable-next-line declaration-property-value-disallowed-list */
	transition: all 0.1s ease-out;

	&,
	&:focus,
	&:hover {
		color: var(--t-button-color);
		background-color: var(--t-button-background-color);
		border-color: var(--t-button-border-color);
	}

	&:active,
	.open > &.dropdown-toggle {
		box-shadow: none;

		&,
		&:hover {
			color: var(--t-button-color);
			background-color: var(--t-button-background-color);
			border-color: var(--t-button-border-color);
		}
	}

	&,
	&:active {
		&:focus {
			outline: 2px solid $moody-purple500;
			outline-offset: 1px;
		}
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus {
			color: var(--t-button-color);
			background-color: var(--t-button-background-color);
			border-color: var(--t-button-border-color);
			opacity: 0.54;
			cursor: not-allowed;
		}
	}

	&,
	> span {
		display: inline-flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;

		> * {
			flex-shrink: 0;
		}
	}

	svg {
		fill: currentColor;
		height: $svg-md-size;
		width: $svg-md-size;
	}

	&-primary,
	&-success,
	&-info,
	&-warning,
	&--primary {
		--t-button-color: tokens.$coral-color-accent-text-weak;
		--t-button-background-color: tokens.$coral-color-accent-background-strong;
		color: tokens.$coral-color-accent-text-weak;
		background: tokens.$coral-color-accent-background-strong;

		&:hover {
			--t-button-color: tokens.$coral-color-accent-text-weak-hover;
			--t-button-background-color: tokens.$coral-color-accent-background-strong-hover;
			color: tokens.$coral-color-accent-text-weak-hover;
			background: tokens.$coral-color-accent-background-strong-hover;
		}

		&:active {
			--t-button-color: tokens.$coral-color-accent-text-weak-active;
			--t-button-background-color: tokens.$coral-color-accent-background-strong-active;
			color: tokens.$coral-color-accent-text-weak-active;
			background: tokens.$coral-color-accent-background-strong-active;
		}
	}

	&-inverse,
	&--secondary,
	&-tertiary,
	&--tertiary,
	&-link {
		--t-button-color: tokens.$coral-color-accent-text;
		color: tokens.$coral-color-accent-text;

		&:hover {
			--t-button-color: tokens.$coral-color-accent-text-strong-hover;
			color: tokens.$coral-color-accent-text-strong-hover;
			background: tokens.$coral-color-accent-background-weak-hover;
		}

		&:active {
			--t-button-color: tokens.$coral-color-accent-text-strong-active;
			color: tokens.$coral-color-accent-text-strong-active;
			background: tokens.$coral-color-accent-background-weak-active;
		}

		&:disabled,
		&[aria-disabled='true'],
		&[aria-busy='true'] {
			background: transparent;
			color: tokens.$coral-color-neutral-text-disabled;
		}
	}

	&-inverse,
	&--secondary,
	&-tertiary,
	&--tertiary {
		--t-button-border-color: tokens.$coral-border-s-solid tokens.$coral-color-accent-border;
		--t-button-background-color: transparent;
		background-color: transparent;
		border: tokens.$coral-border-s-solid tokens.$coral-color-accent-border;

		&:hover,
		&:active {
			--t-button-background-color: var(--t-button-secondary-background--hover);
			border: tokens.$coral-border-s-solid tokens.$coral-color-accent-border-hover;
		}

		&:disabled,
		&[aria-disabled='true'],
		&[aria-busy='true'] {
			border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-disabled;
		}

		&[disabled] {
			&:hover {
				--t-button-background-color: transparent;
				background-color: transparent;
			}
		}
	}

	&.btn-danger,
	&.btn--destructive {
		--t-button-background-color: var(--t-button-destructive-background);
		--t-button-border-color: tokens.$coral-color-danger-text-weak;
		--t-button-color: tokens.$coral-color-danger-text-weak;

		color: tokens.$coral-color-danger-text-weak;
		border: tokens.$coral-color-danger-background-strong;
		background: tokens.$coral-color-danger-background-strong;

		&:hover {
			--t-button-background-color: tokens.$coral-color-danger-background-strong-hover;
			--t-button-border-color: tokens.$coral-color-danger-background-strong-hover;
			color: tokens.$coral-color-danger-text-weak-hover;
			background: tokens.$coral-color-danger-background-strong-hover;
		}

		&:active {
			--t-button-color: tokens.$coral-color-danger-text-weak-active;
			--t-button-background-color: tokens.$coral-color-danger-background-strong-active;
			--t-button-border-color: tokens.$coral-color-danger-background-strong-active;
			color: tokens.$coral-color-danger-text-weak-active;
			background: tokens.$coral-color-danger-background-strong-active;
		}

		&[disabled] &:hover,
		.disabled &:hover {
			background: tokens.$coral-color-neutral-background-disabled;
			color: tokens.$coral-color-neutral-text-disabled;
		}
	}

	&-icon-text {
		--t-button-padding: 0;
		--t-button-background-color: transparent;
		--t-button-border-color: transparent;
	}

	&-xs,
	&-sm {
		--t-button-padding: 0 #{$padding-small-horizontal};
		--t-button-height: 2.8rem - 0.2rem;
	}

	.caret.caret {
		margin-left: $padding-smaller;
	}

	svg + span,
	span + svg {
		margin-left: $padding-smaller;
	}
}
