////
/// Talend colors
/// @group Colors
////

////
/// Primary colors
/// These colors defines the brand color
/// @group PrimaryColors
////

/// Regal Blue
/// @type Color
$regal-blue: #17486E;

/// Saint Tropaz
/// @type Color
$st-tropaz: #236192;

/// Green Talend
///
/// @type Color
$green-talend: #B6BE00;

////
/// Accent colors
/// These colors emphasizes actions and highlighted information
/// @group AccentColors
////

/// Black
/// @type Color
$black: #202020;

/// Dove Gray
/// @type Color
$dove-gray: #555;

/// Dark Silver
/// @type Color
$dark-silver: #888;

/// Gray
/// @type Color
$gray: #969696;

/// Silver Chalice
/// @type Color
$silver-chalice: #ABABAB;

/// Silver
/// @type Color
$silver: #C6C6C6;

/// Rio Grande
/// @type Color
$rio-grande: #C3D600;

/// Scooter
/// @type Color
$scooter: #66BDFF;

/// Chesnut Rose
/// @type Color
$chestnut-rose: #E96065;

/// Lightning Yellow
/// @type Color
$lightning-yellow: #F2DA0D;

////
/// Background colors
/// These colors used for backgrounds
/// @group BackgroundColors
////

/// White
/// @type Color
$white: #FFF;

/// Concrete
/// @type Color
$concrete: #F2F2F2;

/// Alto
/// @type Color
$alto: #DEDEDE;

/// Gallery
/// @type Color
$gallery: #EAEAEA;

/// Slate Gray
/// @type Color
$slate-gray: #758495;

/// Wild Sand
/// @type Color
$wild-sand: #F6F6F6;

////
/// Help colors
/// These colors used for helping purposes
/// @group HelpColors
////

/// Used for default color theme
/// @type Color
$patina: #649083;

/// Used for shadows
/// @type Color
$shadow: rgba(0, 0, 0, 0.2);

////
/// Deprecated colors
/// These colors are deprecated
/// @group DeprecatedColors
////

/// Should be changed to $rio-grande
/// @type Color
$limeade: #8ABC00;

/// Should be changed to $lightning-yellow
/// @type Color
$pirate-gold: #B78001;

/// Should be changed to $black
/// @type Color
$mine-shaft: #333;
