////
/// Talend colors
/// @group Colors
////

/// Talend green color as reference
///
/// @type Color
$green-talend: #b6be00;

/// Talend coral color as reference
///
/// @type Color
$coral: #ff6d70;
$coral700: #994143;

/// Primary color, mostly used for the selected elements
/// and to draw attention to the important elements of interaction.
///
/// @type Color
$regal-blue: #19426c;

/// Primary color, mostly used for the selected elements
/// and to draw attention to the important elements of interaction.
///
/// @type Color
$st-tropaz: #236192;

/// Primary color, mostly used for the selected elements
/// and to draw attention to the important elements of interaction.
///
/// @type Color
$green-talend: #b6be00;

/// Greyscale.
///
/// @type Color
$black: #202020;

/// Greyscale.
///
/// @type Color
$dove-gray: #555;

/// Greyscale.
///
/// @type color
$dark-silver: #888;

/// Greyscale.
///
/// @type color
$indigo-gray: #323e48;

/// Greyscale.
///
/// @type Color
$gray: #969696;
$gray500: #797979;
$gray700: #4d4d4d;

/// Greyscale.
///
/// @type Color
$silver-chalice: #ababab;

/// Greyscale.
///
/// @type Color
$silver: #c6c6c6;

/// Secondary color.
/// Used to valid/validated/validation elements.
///
/// @type Color
$rio-grande: #82bd41;
$rio-grande500: #6ec01e;
$rio-grande700: #427312;

/// Secondary color.
/// Contextual color for informational alert messages.
///
/// @type Color
$scooter: #66bdff;

/// Secondary color.
/// Errors and to notify non-valid elements or warning information.
///
/// @type Color
$chestnut-rose: #e96065;

/// Secondary color.
/// Used to notify invalid elements or warning information.
///
/// @type Color
$lightning-yellow: #f3c446;

/// Secondary color.
///
/// @type Color
$jaffa: #ea8330;
$jaffa700: #8c4e1c;

/// Secondary color.
///
/// @type Color
$lochmara: #0675c1;
$lochmara700: #034673;

/// Background color.
///
/// @type Color
$white: #fff;

/// Background color.
///
/// @type Color
$concrete: #f2f2f2;

/// Background color.
///
/// @type Color
$alto: #d5d5d5;

/// Background color.
///
/// @type Color
$gallery: #eaeaea;

/// Background color.
///
/// @type Color
$slate-gray: #758495;

/// Background color.
///
/// @type Color
$wild-sand: #f6f6f6;

/// Used for shadows
///
/// @type Color
$shadow: rgba(0, 0, 0, 0.2);
