$td-quality-bar-valid-background-color: $rio-grande !default;
$td-quality-bar-empty-background-color: $dove-gray !default;
$td-quality-bar-invalid-background-color: $chestnut-rose !default;

$td-body-font-family: $font-family-monospace !default;
$td-body-background-color: rgba($slate-gray, 0.1) !default;
