////
/// Bootstrap dropdowns customization
/// @group Dropdowns
////
.dropdown {
	&-toggle {
		padding-left: $padding-normal;
		padding-right: $padding-normal;
		transition: 0.1s background-color ease-out;

		.caret {
			@include dropdown-caret-color($dropdown-caret-color);
			margin: 0;
			margin-left: $dropdown-caret-size;
			margin-bottom: $dropdown-caret-size;
			height: $dropdown-caret-size;
			width: $dropdown-caret-size;
			border-width: 1px !important;
			border-style: solid;
			border-bottom-color: transparent;
			border-left-color: transparent;
			transform: rotate(135deg);
			transition: 0.1s transform ease-out;
		}
	}

	&-menu {
		margin: 0;
		padding: $padding-small 0;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);

		li > a {
			display: flex;
			align-items: center;
			flex-basis: 100%;
			padding: $padding-small $padding-normal;
			transition: 0.1s background-color ease-out;

			svg {
				margin-right: $padding-smaller;
			}
		}
	}
}

.open {
	.dropdown-toggle {
		.caret {
			margin-bottom: 0;
			transform: rotate(-45deg);
		}
	}
}

.dropup {
	&.btn-group > .dropdown-menu {
		transform: translateY(17px);
	}

	& .dropdown-toggle .caret {
		margin-bottom: 0;
		transform: rotate(-45deg);
	}

	&.open {
		&.btn-group > .dropdown-menu {
			transform: translateY(2px);
		}

		.dropdown-toggle .caret {
			margin-bottom: $dropdown-caret-size;
			transform: rotate(135deg);
		}
	}
}
