$tt-checkbox-size: $form-checkbox-and-radio-size !default;
$tt-checkbox-background-color: $wild-sand !default;
$tt-checkbox-border-color: $dark-silver !default;
$tt-checkbox-checked-background-color: $lochmara !default;
$tt-checkbox-checked-border-color: shade($lochmara, 15) !default;
$tt-checkbox-focus-border-color: $scooter !default;
$tt-checkbox-hover-border-color: $lochmara !default;
$tt-checkbox-disabled-color: tint($tt-checkbox-border-color, 54);

[type='checkbox'] {
	&:before,
	&:after,
	+ *:before,
	+ *:after {
		width: $tt-checkbox-size;
		height: $tt-checkbox-size;
	}

	&:after,
	+ *:after {
		background-size: contain;
	}

	&:before,
	+ *:before {
		background-color: $tt-checkbox-background-color;
		border: 0.1rem solid $tt-checkbox-border-color;
		border-radius: 0.2rem;
	}

	&:hover {
		&:before,
		+ *:before {
			border-color: $tt-checkbox-hover-border-color;
		}
	}

	&:focus {
		&:before,
		+ *:before {
			// border-color: $tt-checkbox-focus-border-color;
			@include checkbox-outline;
		}
	}

	// Indeterminate Checkboxes style
	&[data-checked='1']:before,
	&[data-checked='1'] + *:before {
		background-color: $tt-checkbox-checked-background-color;
		border-color: $tt-checkbox-checked-border-color;
	}

	&[data-checked='1']:after,
	&[data-checked='1'] + *:after {
		margin: 0;
		width: $tt-checkbox-size;
		height: $tt-checkbox-size;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgMTIgMTIiPgogIDxyZWN0IHg9IjMiIHk9IjUiIHdpZHRoPSI2IiBoZWlnaHQ9IjIiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4K');
	}

	&:checked:before,
	&:checked + *:before {
		background-color: $tt-checkbox-checked-background-color;
		border-color: $tt-checkbox-checked-border-color;
	}

	&:checked:after,
	&:checked + *:after {
		$check-mark-margin: 0.1rem;
		$check-mark-size: $tt-checkbox-size - 2 * $check-mark-margin;
		@include transition(240ms);
		margin: $check-mark-margin;
		width: $check-mark-size;
		height: $check-mark-size;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImZpbGw6IHdoaXRlIj4KCTxwYXRoIGQ9Ik02IDE0TDAgOGwxLjktMS45TDYgMTAuMiAxNC4xIDIgMTYgMy45eiI+PC9wYXRoPgo8L3N2Zz4=');
	}

	&:disabled:before,
	&:disabled + *:before {
		border-color: $tt-checkbox-disabled-color;
	}

	&[data-checked='1']:disabled:before,
	&[data-checked='1']:disabled + *:before {
		background-color: $tt-checkbox-disabled-color;
		border-color: $tt-checkbox-disabled-color;
	}

	&:checked:disabled:before,
	&:checked:disabled + *:before {
		background-color: $tt-checkbox-disabled-color;
		border-color: $tt-checkbox-disabled-color;
	}
}
