////
/// Bootstrap forms customization
/// @group Forms
////

$form-shadow: inset 0 -1px 0 $silver-chalice;
$form-focus-shadow: inset 0 -2px 0 $scooter;

@import 'forms.switch';
@import 'forms.switch-nested';

form {
	// Bootswatch Paper theme fork
	// @see https://github.com/thomaspark/bootswatch/tree/gh-pages/paper

	// Change this var with restrict scope in order to not modify Bootswatch fork
	$brand-primary: $scooter;

	// Forms ======================================================================

	label {
		font-weight: normal;
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	div:not(.has-success):not(.has-warning):not(.has-error) {
		textarea,
		textarea.form-control,
		input.form-control,
		input[type='text'],
		input[type='password'],
		input[type='email'],
		input[type='number'],
		[type='text'].form-control,
		[type='password'].form-control,
		[type='email'].form-control,
		[type='tel'].form-control,
		[contenteditable].form-control {
			&:focus:not([readonly]) + label {
				color: $scooter;
			}
		}
	}

	textarea,
	textarea.form-control,
	input.form-control,
	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='number'],
	[type='text'].form-control,
	[type='password'].form-control,
	[type='email'].form-control,
	[type='tel'].form-control,
	[contenteditable].form-control {
		@include box-shadow($form-shadow);
		padding: 0;
		border: none;
		border-radius: 0;
		font-size: $form-input-font-size;
		font-weight: $form-base-font-weight;

		&:focus {
			@include box-shadow($form-focus-shadow);
		}

		&[disabled] {
			background-color: transparent;
		}

		&[readonly],
		&[readonly]:focus {
			background-color: transparent;
			box-shadow: none;
		}

		&.input {
			&-sm {
				font-size: $font-size-small;
			}

			&-lg {
				font-size: $font-size-large;
			}
		}

		&::placeholder {
			color: $silver;
			font-style: oblique;
		}
	}

	select,
	select.form-control {
		@include box-shadow($form-shadow);
		border: none;
		border-radius: 0;
		appearance: none;
		padding-left: 0;
		padding-right: 0 \9; // remove padding for < ie9 since default arrow can't be removed
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=');
		background-size: 13px;
		background-repeat: no-repeat;
		background-position: right center;
		font-size: $form-input-font-size;
		font-weight: $form-base-font-weight;
		line-height: 1.5;

		&::-ms-expand {
			// sass-lint:disable-line no-vendor-prefixes
			display: none;
		}

		&.input {
			&-sm {
				font-size: $font-size-small;
			}

			&-lg {
				font-size: $font-size-large;
			}
		}

		&:focus {
			@include box-shadow(inset 0 -2px 0 $brand-primary);
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=');
		}

		&[multiple] {
			background: none;
		}
	}

	.radio,
	.radio-inline,
	.checkbox,
	.checkbox-inline {
		label {
			cursor: pointer;
			position: relative;
			padding-left: 25px;
		}

		input[type='radio'],
		input[type='checkbox'] {
			position: absolute;
			left: 0;
			margin: 0;
		}
	}

	input[type='radio'],
	.radio input[type='radio'],
	.radio-inline input[type='radio'] {
		&:focus {
			outline: none;
		}

		&:before,
		&:after,
		+ *:before,
		+ *:after {
			@include transition(240ms);
			position: absolute;
			top: -1px; /* IE 11 */
			left: -1px; /* IE 11 */
			content: '';
			width: 18px;
			height: 18px;
			border-radius: 50%;
		}

		&:before,
		+ *:before {
			@include scale(0);
			background-color: $brand-primary;
			z-index: 1;
		}

		&:after,
		+ *:after {
			border: 2px solid $gray;
			background-color: $white;
		}

		&:checked:before,
		&:checked + *:before {
			@include scale(0.45);
		}

		&:disabled:checked:before,
		&:disabled:checked + *:before {
			background-color: $gray-light;
		}

		&:focus + span:after,
		&:checked:after,
		&:checked + *:after {
			border-color: $brand-primary;
		}

		&:disabled:after,
		&:disabled:checked:after,
		&:disabled + *:after,
		&:disabled:checked + *:after {
			border-color: $gray-light;
		}
	}

	input[type='checkbox'],
	.checkbox input[type='checkbox'],
	.checkbox-inline input[type='checkbox'] {
		&:before,
		&:after,
		+ *:before,
		+ *:after {
			position: absolute;
			top: 0;
			left: 0;
		}

		&:after,
		+ *:after {
			@include transition(240ms);
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			border: 2px solid $gray;
			border-radius: 2px;
			background-color: $white;
		}

		&:checked:before,
		&:checked + *:before {
			@include rotate(45deg);
			content: '';
			top: 2px;
			left: 6px;
			display: table;
			width: 6px;
			height: 12px;
			border: 2px solid $white;
			border-top-width: 0;
			border-left-width: 0;
			z-index: 1;
		}

		&:focus {
			outline: none;
		}

		&:focus:after,
		&:focus + *:after {
			border-color: $brand-primary;
		}

		&:checked:after,
		&:checked + *:after {
			background-color: $brand-primary;
			border-color: $brand-primary;
		}

		&:disabled:after,
		&:disabled + *:after {
			border-color: $gray-light;
		}

		&:disabled:checked:after,
		&:disabled:checked + *:after {
			background-color: $gray-light;
			border-color: transparent;
		}
	}

	.has-warning {
		input:not([type='checkbox']),
		.form-control,
		input.form-control[readonly],
		input[type='text'][readonly],
		[type='text'].form-control[readonly],
		input:not([type='checkbox']):focus,
		.form-control:focus {
			@include box-shadow(inset 0 -2px 0 $brand-warning);
			border-bottom: none;
		}
	}

	.has-error {
		input:not([type='checkbox']),
		.form-control,
		input.form-control[readonly],
		input[type='text'][readonly],
		[type='text'].form-control[readonly],
		input:not([type='checkbox']):focus,
		.form-control:focus {
			@include box-shadow(inset 0 -2px 0 $brand-danger);
			border-bottom: none;
		}

		.error-detail {
			padding-left: 0;

			.text-danger {
				list-style-type: none;
			}
		}
	}

	.has-success {
		input:not([type='checkbox']),
		.form-control,
		input.form-control[readonly],
		input[type='text'][readonly],
		[type='text'].form-control[readonly],
		input:not([type='checkbox']):focus,
		.form-control:focus {
			@include box-shadow(inset 0 -2px 0 $brand-success);
			border-bottom: none;
		}
	}

	// Remove the Bootstrap feedback styles for input addons
	.input-group-addon {
		.has-warning &,
		.has-error &,
		.has-success & {
			color: $input-color;
			border-color: $input-group-addon-border-color;
			background-color: $input-group-addon-bg;
		}
	}

	.form-group-lg {
		select,
		select.form-control {
			line-height: 1.5;
		}
	}
}

.form {
	&-group {
		position: relative;
		padding-top: $padding-normal;
		margin-bottom: $padding-normal;

		select {
			padding: 0;
		}
	}

	&-control {
		+ label {
			position: absolute;
			top: 23px;
			left: 0;
			color: $dove-gray;
			font-size: $font-size-base;
			transition: opacity 0.1s linear, font-size 0.1s linear, top 0.1s linear;
			pointer-events: none;
		}

		&.input-sm + label {
			font-size: $font-size-small;
		}

		&.input-lg + label {
			top: 2.6rem;
			font-size: $font-size-large;
		}
	}

	&-control:focus,
	&-control[placeholder]:not([placeholder='']),
	&-control:not(:empty),
	&-control:disabled,
	&-control[value]:not([value='']),
	input[type='date'],
	input[type='datetime-local'] {
		+ label {
			color: $silver-chalice;
			font-weight: $form-base-font-weight;
			font-size: $font-size-base;
			top: 0;
		}
	}

	&-control:disabled,
	&-control[value]:not([value='']):disabled {
		color: $silver-chalice;

		+ label {
			color: $form-label-base-color;
			font-weight: $form-base-font-weight;
			font-size: $font-size-base;
		}
	}
}

form {
	legend {
		font-size: 1.7rem;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: none;
	}
}

.input-group-btn {
	.btn {
		line-height: $font-size-base * $line-height-base;
	}
}

input::-ms-clear {
	display: none;
}
