////
/// Bootstrap forms customization
/// @group Forms
////

@mixin checkbox-outline() {
	outline: 2px solid Highlight;
	outline-offset: 1px;
}

@import 'forms.guideline';
@import 'forms.input';
@import 'forms.label';
@import 'forms.legend';
@import 'forms.select';
@import 'forms.switch';
@import 'forms.switch-nested';
@import 'forms.checkbox';
@import 'forms.radio';

.form-control {
	padding: 0 10px;
	text-overflow: ellipsis;
	box-shadow: none;

	&:focus {
		border-width: 2px;
		box-shadow: none;
	}

	&[disabled] {
	}

	&[readonly],
	&[readonly]:focus {
	}

	&.input {
		&-sm {
			font-size: $font-size-small;
		}

		&-lg {
			font-size: $font-size-large;
		}
	}

	&::placeholder {
		color: $silver;
		font-style: oblique;
	}
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
	line-height: $form-checkbox-and-radio-size;
	min-height: $form-checkbox-and-radio-size;

	label {
		display: inline-block;
		position: relative;
		padding-left: 12 + $padding-small;
		font-size: 1.4rem;
		color: $black;
	}

	label,
	input {
		cursor: pointer;
	}

	&.disabled label {
		opacity: 0.54;
	}

	[type='radio'],
	[type='checkbox'] {
		margin: 0;
		width: $form-checkbox-and-radio-size;
		height: $form-checkbox-and-radio-size;
		appearance: none;
		outline: none;

		&,
		+ * {
			display: inline-block;
		}

		&,
		&:before,
		&:after,
		+ *:before,
		+ *:after {
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before,
		&:after,
		+ *:before,
		+ *:after {
			content: '';
		}
	}
}

.has-warning {
}

.has-error {
	.error-detail {
		padding-left: 0;
		margin-top: -10px;
		margin-bottom: 0;

		.text-danger {
			line-height: 15px;
			font-size: $font-size-small;
			font-weight: $form-base-font-weight;
			color: $chestnut-rose;
			list-style-type: none;
		}
	}

	.help-block {
		font-size: $font-size-small;
	}
}

.has-success,
.has-warning,
.has-error {
	.form-control {
		&,
		&:focus {
			box-shadow: none;
		}
	}
}

// Remove the Bootstrap feedback styles for input addons
.input-group-addon {
	.has-warning &,
	.has-error &,
	.has-success & {
		color: $input-color;
		border-color: $input-group-addon-border-color;
		background-color: $input-group-addon-bg;
	}

	.btn {
		line-height: $font-size-base * $line-height-base;
	}
}



.form-group-lg select.form-control {
	line-height: 1.5;
}

.form-control::placeholder {
	font-style: normal;
}

.form-control + label {
	order: -1;
}

.form {
	&-group {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: $padding-normal;
		margin-bottom: $padding-normal;
	}

	&-control-container,
	&-control {
		+ label {
			color: $dove-gray;
		}

		&.input-sm + label {
			font-size: $font-size-small;
		}

		&.input-lg + label {
			font-size: $font-size-large;
		}
	}

	&-horizontal {
		.form-group {
			flex-direction: row;
		}

		.radio-inline,
		.checkbox-inline {
			[type='checkbox'],
			[type='radio'] {
				&,
				+ *:before,
				+ *:after {
					// Same as Bootstrap's padding-top
					// @see ~bootstrap-sass/assets/stylesheets/bootstrap/forms
					top: $padding-base-vertical + 1;
				}
			}
		}
	}
}
