@use '~@talend/design-tokens/lib/tokens';

label {
	font-size: $font-size-small;
	font-weight: 600;
	color: tokens.$coral-color-neutral-text;
	cursor: pointer;
}

// Disable floating labels
.form-control + label {
	order: -1;
}

// Mandatory for being stronger than Bootstrap
.has-success .control-label,
.has-warning .control-label,
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: tokens.$coral-color-neutral-text;
}
