// //
// // Labels
// // --------------------------------------------------

.label {
	@extend .badge;
}

.label-pill {
	@extend .badge-pill;
}

@each $color, $value in $theme-colors {
	.label-#{$color} {
		@extend .badge-#{$color};

		color: shade($value, 25%);
		background-color: rgba($value, 0.2);
		@at-root a#{&} {
			@include hover-focus {
				color: shade($value, 25%);
				background-color: rgba($value, 0.2);
			}
		}

		height: 1.5rem;
		line-height: 1.2;
	}
}
