@mixin label-variant($color) {
	background-color: rgba($color, 0.2);
	color: shade($color, 25%);
	&[href] {
		&:hover,
		&:focus {
			background-color: shade($color, 10%);
		}
	}
}
//
// Labels
// --------------------------------------------------

.label {
	display: inline-block;
	height: 1.5rem;
	padding: 0 $padding-smaller;
	font-size: 1.2rem;
	font-weight: $font-weight-semi-bold;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.3em;

	// [converter] extracted a& to a.label

	// Empty labels collapse automatically (not available in IE8)
	&:empty {
		display: none;
	}

	// Quick fix for labels in buttons
	.btn & {
		position: relative;
		top: -1px;
	}
}

// Add hover effects, but only for links
a.label {
	&:hover,
	&:focus {
		color: $label-link-hover-color;
		text-decoration: none;
		cursor: pointer;
	}
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
	@include label-variant($label-default-bg);
}

.label-primary {
	@include label-variant($label-primary-bg);
}

.label-success {
	@include label-variant($label-success-bg);
}

.label-info {
	@include label-variant($label-info-bg);
}

.label-warning {
	@include label-variant($label-warning-bg);
}

.label-danger {
	@include label-variant($label-danger-bg);
}
