/* stylelint-disable selector-no-qualifying-type */
@use '../../node_modules/@talend/design-tokens/lib/tokens' as tokens;

.list-group-item {
	background-color: tokens.$coral-color-neutral-background;
	border-color: tokens.$coral-color-neutral-border-weak;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	color: tokens.$coral-color-neutral-text;
	background-color: tokens.$coral-color-neutral-background-medium;
	border-color: tokens.$coral-color-neutral-border;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
	color: tokens.$coral-color-neutral-text;
}

a.list-group-item,
button.list-group-item {
	color: tokens.$coral-color-neutral-text;
}
