@import './animation';

$loader-size: 16.5rem;
$logo-size: 15rem;

.tc-app-icon {

	&:before {
		@include tc-animation(app-loader-fadeIn, 1.5s, linear, infinite);
		background-image: $brand-icon;
		content: '';
		position: absolute;
		width: $logo-size;
		height: $logo-size;
		border-radius: 50%;
	}
}

.tc-app-loader {
	width: $loader-size;
	height: $loader-size;

	&:before,
	&:after,
	div:after {
		@include tc-animation(app-loader-spin, 1.2s, cubic-bezier(0.5, 0, 0.5, 1), infinite);
		box-sizing: border-box;
		content: '';
		display: block;
		position: absolute;
		width: $loader-size;
		height: $loader-size;
		border: 4.5px solid $silver-chalice;
		border-radius: 50%;
		margin: -0.7rem 0 0 -0.7rem;
		border-color: $silver-chalice transparent transparent transparent;
	}

	&:before {
		animation-delay: -0.3s;
	}
	&:after {
		animation-delay: -0.15s;
	}
}
