
.modal-dialog {
	max-height: 80vh;
	display: flex;
	flex-direction: column;
}

/** IE-FIX */
.modal-dialog {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		>.modal-content {
			flex-basis: 100%;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
/** END IE-FIX */

.modal {

	&.modal-body-overflow {
		.modal-body {
			overflow: auto;
		}
	}

	.modal-content {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		max-height: 80vh;
	}

	&-header {
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		background-color: $modal-header-bg;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;

		.modal-title {
			font-weight: bold;
			color: $modal-header-color;
			text-align: center;
		}

		.close {
			color: $modal-header-color;
			opacity: 1;
		}
	}

	&-body {
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		max-height: 100%;
	}

	&-footer {
		flex-grow: 0;
		flex-shrink: 0;
		border-top: none;
	}

}
