
.modal-dialog {
	max-height: 80vh;
	display: flex;
	flex-direction: column;
}

.modal {

	&-header {
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		background-color: $modal-header-bg;

		.modal-title {
			font-weight: bold;
			color: $modal-header-color;
			text-align: center;
		}

		.close {
			color: $modal-header-color;
			opacity: 1;
		}
	}

	&-body {
		flex-grow: 1;
	}

	&-footer {
		flex-shrink: 0;
		border-top: none;
	}

}
