////
/// Bootstrap navbars dropdown component customization
/// @group Navbar
////

.navbar {
	.dropdown-toggle {
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}

	&-inverse {
		.dropdown-toggle .caret {
			@include dropdown-caret-color($navbar-inverse-link-color);
		}
	}

	.btn-group {
		&.open {
			> .dropdown-menu {
				max-height: none;
			}
		}
	}
}
