
.navbar {
	[role='search'] {
		.btn {
			display: flex;
			align-items: center;
			height: $navbar-height;
		}

		.form-control {
			font-style: italic;
			color: $navbar-search-btn-color;
			border-radius: 0;
		}
	}

	.navbar-form {
		.form-group {
			padding: $padding-small $padding-small $padding-smaller;
			min-height: $navbar-height;
			background: $white;
		}
	}
}
