.nav {
	.nav-link {
		background: transparent;
		display: flex;
		align-items: center;

		&.disabled {
			cursor: not-allowed;
		}
	}

	&-pills {
		.nav-item {
			max-width: 100%;

			.nav-link {
				display: block;
				line-height: 1;
				overflow: hidden;
				padding: $padding-large;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;

				&.dropdown-toggle {
					display: flex;
				}
			}

			@include hover-focus {
				.nav-link {
					color: $nav-pills-link-active-color;
					background-color: $nav-pills-link-active-bg;

					&.disabled {
						color: $nav-link-disabled-color;
						cursor: not-allowed;
					}
				}
			}
		}
	}

	&-tabs {
		.nav-item {
			padding: $nav-tabs-link-padding-y $nav-tabs-link-padding-x;
		}

		.nav-link {
			color: $nav-tabs-link-color;

			@include hover-focus {
				color: $nav-tabs-link-active-color;

				&.disabled {
					color: $nav-link-disabled-color;
					cursor: not-allowed;
				}
			}
		}

		.nav-link.active,
		&.show .nav-link {
			border-bottom: solid 0.2rem;
			font-weight: semi-bold;
		}
	}
}

.tab-content {
	padding-top: $padding-large;
}