////
/// Talend paddings
/// @group Paddings
////

/// Smaller
/// @type Number (Unit)
$padding-smaller: 5px !default;

/// Small
/// @type Number (Unit)
$padding-small:  10px !default;

/// Normal
/// @type Number (Unit)
$padding-normal: 15px !default;

/// Large
/// @type Number (Unit)
$padding-large:  20px !default;

/// Larger
/// @type Number (Unit)
$padding-larger: 30px !default;
