////
/// Talend paddings
/// @group Paddings
////

/// Smaller
/// @type Number (Unit)
$padding-smaller: 0.5rem !default;

/// Small
/// @type Number (Unit)
$padding-small: 1rem !default;

/// Normal
/// @type Number (Unit)
$padding-normal: 1.5rem !default;

/// Large
/// @type Number (Unit)
$padding-large: 2rem !default;

/// Larger
/// @type Number (Unit)
$padding-larger: 3rem !default;
