@use '../../node_modules/@talend/design-tokens/lib/tokens' as tokens;

.well,
.jumbotron {
	background-color: tokens.$coral-color-neutral-background;
}

.well {
	background-color: tokens.$coral-color-neutral-background-medium;
	border-color: tokens.$coral-color-neutral-border-weak;
}
