////
/// Layout
/// @group Custom widgets
////

/// Layout first columns in two columns background color
/// @type Color
$tc-layout-header-height: $navbar-height !default;

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

.sidemenu {
	flex-shrink: 0;
	flex-grow: 0;
	> * {
		height: 100%;
	}
}

.main {
	flex-grow: 1;
	/*safari need a fixed height (not in %) to manage flex columns to fit container height*/
	height: calc(100vh - #{$tc-layout-header-height});
	position: relative;
}
