
.container {
    display: flex;
    height: 100%;

    button {
        background: none;
        border: none;
        font-weight: 700;
    }

    .previous, .next {
        flex: 1;
        color: grey;
    }

    .title {
        flex: 5;
    }
}
