@use '~@talend/design-tokens/lib/tokens';

.popover {
	&__arrow {
		[class="fill"] {
			fill: tokens.$coral-color-neutral-background;
		}

		[class="stroke"] {
			fill: tokens.$coral-color-illustration-shadow;
		}
	}

	&__animated {
		background-color: tokens.$coral-color-neutral-background;
		transition: opacity tokens.$coral-transition-fast;
		box-shadow: tokens.$coral-elevation-shadow-neutral-m;
		border-radius: tokens.$coral-radius-s;
		opacity: 0;

		[data-enter] & {
			opacity: 1;
		}
	}
}
