:global {
	$font_family_for_type: Inconsolata, Monaco, Menlo, Consolas, Courier New, mono;
	$row_height: 25px;
	$type_field_color: #66bdff;

	/*
	* === MAIN SECTION ===
	*/

	.mapper {
		display: flex;
		justify-content: center;
		flex-direction: row;
		padding: 8px;
		margin: 8px;
		height: 500px;
		width: 80vw;
	}

	.mapper-element:nth-child(1) {
		order: 1;
	}

	.mapper-element:nth-child(2) {
		order: 3;
	}

	.mapper-element:nth-child(3) {
		order: 2;
	}

	/*
	* === SCHEMA SECTION
	*/

	.schema {
		padding: 8px;
		margin: 2px;
		width: 100%;
	}

	.schema.input {
		width: 450px;
	}

	.schema .tc-table-body {
		height: 390px;
	}

	.schema.input .th-name {
		text-align: right;
	}

	.mapped .tc-table-row-data-name {
		font-weight: bold;
	}

	.schema.input .tc-table-row-data-name {
		text-align: right;
	}

	.tc-table-row.selected {
		background-color: #ddd;
	}

	.schema.input .tc-table-head .tc-table-head-row {
		justify-content: space-between;
	}

	.schema.input .tc-table-row {
		justify-content: space-between;
	}

	/*
	* === MAPPING SECTION
	*/

	.mapping {
		background-color: #fbfdff;
		padding: 8px;
		padding-left: 2px;
		padding-right: 2px;
		margin: 2px;
		width: 200px;
		flex: none;
	}

	.mapping-content {
		position: relative;
		height: 92%;
		width: 100%;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 0;
	}

	.mapping-svg {
		position: absolute;
		padding: 0;
		margin: 0;
		margin-left: -12px;
		margin-top: -2px;
	}

	.connection {
		stroke: #000;
		fill: #000;
		stroke-width: 4;
		stroke-linecap: butt;
	}

	.connection.all {
		stroke: #aaa;
		fill: #aaa;
		stroke-width: 3;
	}

	.connection.all.grad-left-top-50 {
		stroke: url(#grad-left-top-50);
	}

	.connection.all.grad-left-bottom-50 {
		stroke: url(#grad-left-bottom-50);
	}

	.connection.all.grad-right-top-50 {
		stroke: url(#grad-right-top-50);
	}

	.connection.all.grad-right-bottom-50 {
		stroke: url(#grad-right-bottom-50);
	}

	.connection.all.grad-left-top-100 {
		stroke: url(#grad-left-top-100);
	}

	.connection.all.grad-left-bottom-100 {
		stroke: url(#grad-left-bottom-100);
	}

	.connection.all.grad-right-top-100 {
		stroke: url(#grad-right-top-100);
	}

	.connection.all.grad-right-bottom-100 {
		stroke: url(#grad-right-bottom-100);
	}

	#grad-stop-51 {
		stop-color: #aaa;
		stop-opacity: 1;
	}

	#grad-stop-52 {
		stop-color: #aaa;
		stop-opacity: 0.07;
	}

	#grad-stop-101 {
		stop-color: #aaa;
		stop-opacity: 1;
	}

	#grad-stop-102 {
		stop-color: #aaa;
		stop-opacity: 0.35;
	}

	.connection.pending {
		stroke: #111;
		fill: #111;
	}

	.connection.curve.pending {
		stroke-dasharray: 4, 4;
	}

	.connection.focused {
		stroke: #777;
		fill: #777;
	}

	.connection.curve {
		fill: transparent;
	}

	.anchor {
		stroke: #aaa;
		stroke-width: 2;
		fill: #fff;
		pointer-events: all;
	}

	.anchor.unmapped {
		cursor: grab;
	}

	.anchor.mapped {
		stroke: #aaa;
		fill: #aaa;
	}

	.anchor.selected {
		stroke: #777;
		stroke-width: 3;
	}

	.anchor.focused {
		stroke: #aaa;
		stroke-width: 3;
	}

	.draggable-anchor {
		opacity: 0;
		cursor: grab;
	}
}
