@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

$tf-comparator-operator-height: 2rem !default;
$tf-comparator-operator-width: 3.125rem !default;
$tf-comparator-operator-top: 1.5rem !default;

.comparator {
	position: relative;
	margin-bottom: $padding-normal;

	:global {
		.dropdown {
			position: absolute;
			top: $tf-comparator-operator-top;

			&-menu {
				min-width: auto;
			}

			.tc-svg-icon {
				flex-shrink: 0;
			}

			.btn {
				height: $tf-comparator-operator-height;
				min-height: $tf-comparator-operator-height;
				width: $tf-comparator-operator-width;
				color: tokens.$coral-color-neutral-text;
				background: tokens.$coral-color-accent-background;
				border: 1px solid tokens.$coral-color-neutral-border;
				border-radius: $input-border-radius 0 0 $input-border-radius;
				z-index: 1;
				padding: {
					left: $padding-smaller;
					right: $padding-smaller;
				}
			}
		}

		.form-group {
			.control-label {
				top: 0;
			}

			.form-control {
				padding-left: $tf-comparator-operator-width + 0.625rem;
			}
		}
	}
}

.operator {
	&.selected {
		font-weight: bold;
	}

	.symbol + .name {
		padding-left: 0.625rem;
	}
}
