/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
.layout :global(.react-grid-item) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--coral-color-neutral-border-weak, hsl(0, 0%, 82%));
  border-radius: 4px;
}
.layout :global(.skeleton-tile .tc-tile-container .tc-tile-body) {
  padding: 0;
}
.layout.draggable :global(.react-grid-item):global(.react-grid-placeholder) {
  background: var(--coral-color-accent-background, hsl(204, 59%, 88%));
}
.layout.draggable :global(.react-grid-item):hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
  cursor: move;
}