////
/// Icon
/// @group Custom widgets
////

$tc-icon-size: $svg-md-size !default;

.tc-svg-icon {
	width: $tc-icon-size;
	height: $tc-icon-size;
	fill: currentColor;
	transform-origin: center;

	use {
		pointer-events: none;
	}
}

.link {
	cursor: pointer;
}

.spin {
	animation-name: svg-spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.rotate-45 {
	transform: rotate(45deg);
}

.rotate-90 {
	transform: rotate(90deg);
}

.rotate-135 {
	transform: rotate(135deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-225 {
	transform: rotate(225deg);
}

.rotate-270 {
	transform: rotate(270deg);
}

.rotate-315 {
	transform: rotate(315deg);
}

.flip-vertical {
	transform: scaleY(-1);
}

.flip-horizontal {
	transform: scaleX(-1);
}

@keyframes svg-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
