@use '~@talend/design-tokens/lib/tokens';

.adv-search {
	position: relative;
	width: inherit;
	height: inherit;

	.adv-search-filter-icon {
		position: absolute;
		color: tokens.$coral-color-neutral-icon-weak;
		top: tokens.$coral-spacing-m;
		left: 1.8rem;
	}

	&-error {
		margin-left: tokens.$coral-spacing-xs;
		color: tokens.$coral-color-danger-text;
	}

	.adv-search-input {
		border-radius: tokens.$coral-radius-s;
		border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
		box-shadow: none;
		color: tokens.$coral-color-neutral-text-weak;
		height: tokens.$coral-sizing-m;
		line-height: tokens.$coral-sizing-m;
		margin: tokens.$coral-spacing-xs tokens.$coral-spacing-xs;
		padding-left: 3.2rem;
		padding-right: 6rem;
		width: calc(100% - 2rem);

		&.has-error {
			box-shadow: inset 0 -0.2rem 0 tokens.$coral-color-danger-border;
		}

		// sass-lint:disable-next-line no-vendor-prefixes
		&::-ms-clear {
			display: none;
		}
	}

	&-buttons {
		position: absolute;
		top: tokens.$coral-spacing-s;
		right: tokens.$coral-spacing-m;
	}
}
