@use '~@talend/design-tokens/lib/tokens';

$faceted-advanced-search-height: 3.5rem;
$custom-icon-vertical-offset: 1rem;
$custom-icon-horizontal-offset: 2rem;

.adv-search {
	position: relative;
	width: inherit;
	height: inherit;

	.adv-search-filter-icon {
		position: absolute;
		color: tokens.$coral-color-neutral-icon-weak;
		top: $custom-icon-vertical-offset;
		left: 1.8rem;
	}

	&-error {
		margin-left: $padding-small;
		color: tokens.$coral-color-danger-text;
	}

	.adv-search-input {
		border-radius: tokens.$coral-radius-s;
		border: 0.1rem solid tokens.$coral-color-neutral-border-weak;
		box-shadow: none;
		color: tokens.$coral-color-neutral-text-weak;
		height: $faceted-advanced-search-height;
		line-height: $faceted-advanced-search-height;
		margin: tokens.$coral-spacing-xs tokens.$coral-spacing-xs;
		padding-left: 3.2rem;
		padding-right: 6rem;
		width: calc(100% - 2rem);

		&.has-error {
			box-shadow: inset 0 -0.2rem 0 tokens.$coral-color-danger-border;
		}

		// sass-lint:disable-next-line no-vendor-prefixes
		&::-ms-clear {
			display: none;
		}
	}

	&-buttons {
		position: absolute;
		top: tokens.$coral-spacing-xxs;
		right: tokens.$coral-spacing-m;
	}
}
