@import '../../shared/styles/variables';

.container {
	color: $dove-gray;
	min-height: 25rem;
	padding: $padding-normal;

	button:focus {
		outline: 1px solid black;
	}
}

.footer{
	:global {
		.btn-link{
			color: $st-tropaz;
			text-decoration: none;


			:hover{
				background-color: rgba( $st-tropaz, 0.1);
				transition: opacity 0.1s ease-in;
			}
			:focus{
				background-color: rgba( $st-tropaz, 0.2);
			}
		}
	}
}

.btn-today {
	color: $st-tropaz;
	font-weight:bold;
	text-transform: uppercase;
	padding: 0px;
	height: 25px;
	>span {
		border-radius: 4px;
		padding-left: $padding-small;
		padding-right: $padding-small;
	}
}
