/* stylelint-disable selector-no-qualifying-type */
@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as token;

.json-schema-renderer {
	margin-top: $padding-large;
	margin-left: $padding-large;

	&.nested {
		margin: 0;
	}

	dt {
		font-weight: 400;
		font-size: 0.875rem;
		color: tokens.$coral-color-neutral-text-weak;
	}

	dd {
		font-size: 1rem;
		font-weight: 400;
		color: tokens.$coral-color-neutral-text;
		padding-top: $padding-smaller;
		margin-bottom: $padding-normal;

		&.array-value {
			display: inline;

			&::after {
				content: ', ';
			}

			&:last-child::after {
				content: '';
			}
		}
	}

	h2 {
		font-size: 1.0625rem;
		font-weight: 700;
		color: tokens.$coral-color-neutral-text;
	}
}
