.json-schema-renderer {

	div {
		padding-bottom: 10px;

		dt {
			font-weight: 400;
			font-size: 1.2rem;
			margin-bottom: 0;
		}

		dd {
			font-size: 14px;
		}

		&.array {

			dd {
				display: inline;
			}

			dd:after {
				content: ', ';
			}

			dd:last-child:after {
				content: '';
			}
		}
	}
}
