.tc-ratio-bar {
	align-items: center;
	display: flex;
	height: 0.5rem;
	padding: var(--coral-spacing-xs, 0.5rem) 0;
	width: 100%;
}
.tc-ratio-bar-counter {
	padding-left: var(--coral-spacing-xxs, 0.25rem);
}
.tc-ratio-bar-lines,
.tc-ratio-bar .tc-ratio-bar-line-error,
.tc-ratio-bar .tc-ratio-bar-line-filled,
.tc-ratio-bar .tc-ratio-bar-line-empty {
	border-radius: 1px;
	height: 100%;
	width: 100%;
}
.tc-ratio-bar .tc-ratio-bar-line {
	height: 0.25rem;
	margin: 0 2px 0 0;
	min-width: 0.25rem;
	transition: var(--coral-transition-instant, 100ms ease-out);
}
.tc-ratio-bar .tc-ratio-bar-line:hover {
	height: 0.5rem;
}
.tc-ratio-bar .tc-ratio-bar-line:first-child {
	margin-left: 0;
}
.tc-ratio-bar .tc-ratio-bar-line:last-child {
	margin-right: 0;
}
.tc-ratio-bar .tc-ratio-bar-line-grow {
	flex-grow: 1;
}
.tc-ratio-bar .tc-ratio-bar-line-empty {
	background-color: var(--coral-color-charts-neutral-weak, hsl(0, 0%, 83%));
}
.tc-ratio-bar .tc-ratio-bar-line-filled {
	background-color: var(--coral-color-charts-default, hsl(216, 82%, 48%));
}
.tc-ratio-bar .tc-ratio-bar-line-error {
	background-color: var(--coral-color-charts-danger, hsl(4, 89%, 49%));
}
