$tc-subheader-bar-height: 7rem !default;

@mixin input-icon($margin-left) {
	margin-top: 1rem;
	margin-left: $margin-left;
}

.tc-subheader-container {
	border-bottom: 0.1rem solid $gallery;
	width: 100%;

	:global(.subheader-navbar) {
		height: $tc-subheader-bar-height;
		background-color: $wild-sand;
		display: flex;
		padding-left: 0;
	}

	.subheader-back-button {
		color: $gray;
		background-color: $gallery;
		width: $tc-subheader-bar-height;
		height: $tc-subheader-bar-height;

		&:focus {
			color: $scooter;
			background-color: $wild-sand;
		}
		&:hover {
			color: $scooter;
			background-color: $wild-sand;
		}
		&:active {
			color: darken($scooter, 25%);
			background-color: $wild-sand;
		}

		> svg {
			width: $padding-large;
			height: $padding-large;
		}
	}
}

.subheader-left {
	display: flex;
}

.subheader-right {
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
	// max-width: 42.2rem;
}

.subheader-center {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-left: $padding-smaller;
	padding-right: $padding-smaller;

	&.no-margin-right {
		margin-right: 0;
	}
}
