@use '~@talend/design-tokens/lib/tokens';

.label {
  font: tokens.$coral-paragraph-s-bold;
  margin: 0;
  padding: 0;
  color: tokens.$coral-color-neutral-text;

  &_inline {
    font: tokens.$coral-paragraph-m;
  }
}
