.welcome {
	:global {
		@keyframes float {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(1rem);
			}
			to {
				transform: translateY(0);
			}
		}

		@keyframes move {
			0% {
				transform: skewX(0);
			}
			50% {
				transform: skewX(1deg);
			}
			to {
				transform: skewX(0);
			}
		}

		@keyframes dive {
			0% {
				transform: rotate(0deg);
			}
			50% {
				transform: rotate(-2deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}

		#Character {
			transform-origin: center;
			animation: dive 10s ease-in-out infinite;
		}

		#Button,
		#Font,
		#Form,
		#Image,
		#TrustScore,
		#Code,
		#Chart {
			transform-origin: center;
			animation: 15s ease-in-out infinite;
		}

		#Coral {
			transform-origin: center;
			animation: move 5s ease-in-out infinite;
		}

		/**/

		.cls-1 {
			fill: #fff;
		}

		.cls-2 {
			fill: url(#gradient_10);
		}

		.cls-3 {
			fill: url(#gradient_48);
		}

		.cls-4 {
			fill: #fb5460;
		}

		.cls-45,
		.cls-5 {
			fill: none;
		}

		.cls-31,
		.cls-6 {
			fill: #ff6d70;
		}

		.cls-7 {
			clip-path: url(#clip-path);
		}

		.cls-40,
		.cls-8 {
			opacity: 0.5;
		}

		.cls-9 {
			fill: url(#gradient_23);
		}

		.cls-10 {
			fill: url(#gradient_6);
		}

		.cls-11 {
			fill: url(#gradient_6-2);
		}

		.cls-12 {
			fill: url(#gradient_23-2);
		}

		.cls-13 {
			clip-path: url(#clip-path-2);
		}

		.cls-14 {
			fill: url(#gradient_48-3);
		}

		.cls-15 {
			clip-path: url(#clip-path-3);
		}

		.cls-16 {
			fill: url(#gradient_48-4);
		}

		.cls-17 {
			clip-path: url(#clip-path-4);
		}

		.cls-18 {
			clip-path: url(#clip-path-5);
		}

		.cls-19 {
			fill: #e1e5f0;
		}

		.cls-20 {
			clip-path: url(#clip-path-6);
		}

		.cls-21 {
			fill: url(#gradient_48-5);
		}

		.cls-22 {
			clip-path: url(#clip-path-7);
		}

		.cls-23 {
			clip-path: url(#clip-path-8);
		}

		.cls-24 {
			fill: url(#gradient_48-6);
		}

		.cls-25 {
			clip-path: url(#clip-path-9);
		}

		.cls-26 {
			clip-path: url(#clip-path-10);
		}

		.cls-27 {
			clip-path: url(#clip-path-11);
		}

		.cls-28 {
			fill: #0075c7;
		}

		.cls-29 {
			fill: url(#gradient_48-7);
		}

		.cls-30 {
			fill: url(#gradient_48-8);
		}

		.cls-31 {
			fill-rule: evenodd;
		}

		.cls-32 {
			mask: url(#mask);
		}

		.cls-33 {
			fill: url(#gradient_48-9);
		}

		.cls-34 {
			fill: #fdd3b5;
		}

		.cls-35 {
			fill: url(#gradient_17);
		}

		.cls-36 {
			fill: url(#gradient_34);
		}

		.cls-37 {
			fill: #1a2e35;
		}

		.cls-38 {
			fill: url(#gradient_4);
		}

		.cls-39 {
			fill: url(#gradient_4-2);
		}

		.cls-40 {
			fill: #2b454e;
		}

		.cls-41 {
			fill: url(#gradient_4-3);
		}

		.cls-42 {
			fill: url(#gradient_34-2);
		}

		.cls-43 {
			fill: url(#gradient_4-4);
		}

		.cls-44 {
			fill: url(#gradient_34-3);
		}

		.cls-45 {
			stroke: #000;
			stroke-linecap: round;
			stroke-miterlimit: 10;
			stroke-width: 1.5px;
		}

		.cls-46 {
			fill: url(#gradient_17-2);
		}

		.cls-47 {
			fill: url(#gradient_34-4);
		}

		.cls-48 {
			fill: url(#gradient_17-3);
		}

		.cls-49 {
			fill: url(#gradient_10-3);
		}

		.cls-50 {
			fill: url(#gradient_34-5);
		}

		.cls-51 {
			fill: url(#gradient_10-4);
		}

		.cls-52 {
			fill: url(#gradient_17-4);
		}

		.cls-53 {
			fill: url(#gradient_17-5);
		}

		.cls-54 {
			fill: url(#gradient_4-5);
		}

		.cls-55 {
			fill: url(#gradient_4-6);
		}

		.cls-56 {
			fill: #e96065;
		}
	}
}
