// Toolbar styles
$tc-list-toolbar-display-color: $silver !default;

.tc-list-toolbar {
	:global(.navbar-text) {
		color: $tc-list-toolbar-display-color;
		font-weight: 400;
		margin-right: 0px;
	}
}
