/** this more specific selector is here else some boostrap rules
 * targeting this html element
 * will override ction-file-label
 */
input[type='file'] {
	&.action-file-label {
		display: none;
	}
}

.btn-file {
	color: $btn-default-color;
	background-color: $btn-default-bg;
}

.btn-file-disabled {
	cursor: not-allowed;
}
