[data-theme="dark"] {
    --coralColorNeutralText: hsla(0,0%,100%,1);
    --coralColorNeutralTextInverted: hsla(210,7%,79%,1);
    --coralColorNeutralTextWeak: hsla(206,17%,82%,1);
    --coralColorNeutralTextDisabled: hsla(207,11%,64%,1);
    --coralColorNeutralBackground: hsla(207,18%,24%,1);
    --coralColorNeutralBackgroundDisabled: hsla(208,18%,21%,1);
    --coralColorNeutralBackgroundMedium: hsla(208,18%,21%,1);
    --coralColorNeutralBackgroundStrong: hsla(208,18%,14%,1);
    --coralColorNeutralBorder: hsla(206,17%,82%,1);
    --coralColorNeutralBorderWeak: hsla(207,18%,34%,1);
    --coralColorNeutralBorderWeakHover: hsla(207,18%,44%,1);
    --coralColorNeutralBorderDisabled: hsla(208,11%,35%,1);
    --coralColorAccentText: hsla(198,72%,65%,1);
    --coralColorAccentTextHover: hsla(198,72%,55%,1);
    --coralColorAccentTextActive: hsla(198,72%,45%,1);
    --coralColorAccentTextWeak: hsla(207,18%,24%,1);
    --coralColorAccentTextWeakHover: hsla(199,71%,15%,1);
    --coralColorAccentTextWeakActive: hsla(199,73%,10%,1);
    --coralColorAccentTextStrong: hsla(198,72%,75%,1);
    --coralColorAccentTextStrongHover: hsla(198,72%,65%,1);
    --coralColorAccentTextStrongActive: hsla(198,72%,55%,1);
    --coralColorAccentBackground: hsla(199,71%,15%,1);
    --coralColorAccentBackgroundHover: hsla(199,73%,10%,1);
    --coralColorAccentBackgroundActive: hsla(200,69%,5%,1);
    --coralColorAccentBackgroundWeak: hsla(207,18%,24%,1);
    --coralColorAccentBackgroundWeakHover: hsla(199,71%,15%,1);
    --coralColorAccentBackgroundWeakActive: hsla(199,73%,10%,1);
    --coralColorAccentBackgroundStrong: hsla(198,72%,75%,1);
    --coralColorAccentBackgroundStrongHover: hsla(198,72%,65%,1);
    --coralColorAccentBackgroundStrongActive: hsla(198,72%,55%,1);
    --coralColorAccentBorder: hsla(198,72%,75%,1);
    --coralColorAccentBorderHover: hsla(198,72%,65%,1);
    --coralColorAccentBorderActive: hsla(199,72%,55%,1);
    --coralColorDangerText: hsla(2,95%,74%,1);
    --coralColorDangerTextHover: hsla(2,95%,69%,1);
    --coralColorDangerTextActive: hsla(2,96%,64%,1);
    --coralColorDangerTextWeak: hsla(207,18%,24%,1);
    --coralColorDangerTextWeakHover: hsla(358,96%,18%,1);
    --coralColorDangerTextWeakActive: hsla(357,97%,13%,1);
    --coralColorDangerTextStrong: hsla(359,100%,78%,1);
    --coralColorDangerTextStrongHover: hsla(359,100%,73%,1);
    --coralColorDangerTextStrongActive: hsla(359,100%,68%,1);
    --coralColorDangerBackground: hsla(358,96%,18%,1);
    --coralColorDangerBackgroundHover: hsla(357,97%,13%,1);
    --coralColorDangerBackgroundActive: hsla(358,95%,8%,1);
    --coralColorDangerBackgroundWeak: hsla(207,18%,24%,1);
    --coralColorDangerBackgroundWeakHover: hsla(358,96%,18%,1);
    --coralColorDangerBackgroundWeakActive: hsla(357,97%,13%,1);
    --coralColorDangerBackgroundStrong: hsla(359,100%,78%,1);
    --coralColorDangerBackgroundStrongHover: hsla(359,100%,73%,1);
    --coralColorDangerBackgroundStrongActive: hsla(359,100%,68%,1);
    --coralColorDangerBorder: hsla(359,100%,78%,1);
    --coralColorDangerBorderHover: hsla(359,100%,73%,1);
    --coralColorDangerBorderActive: hsla(359,100%,68%,1);
    --coralColorSuccessText: hsla(110,50%,60%,1);
    --coralColorSuccessTextHover: hsla(110,45%,50%,1);
    --coralColorSuccessTextActive: hsla(110,45%,40%,1);
    --coralColorSuccessTextWeak: hsla(207,18%,24%,1);
    --coralColorSuccessTextWeakHover: hsla(109,50%,20%,1);
    --coralColorSuccessTextWeakActive: hsla(109,51%,15%,1);
    --coralColorSuccessTextStrong: hsla(110,50%,70%,1);
    --coralColorSuccessTextStrongHover: hsla(110,50%,60%,1);
    --coralColorSuccessTextStrongActive: hsla(110,50%,50%,1);
    --coralColorSuccessBackground: hsla(109,50%,20%,1);
    --coralColorSuccessBackgroundHover: hsla(109,51%,15%,1);
    --coralColorSuccessBackgroundActive: hsla(110,49%,10%,1);
    --coralColorSuccessBackgroundWeak: hsla(207,18%,24%,1);
    --coralColorSuccessBackgroundWeakHover: hsla(109,50%,20%,1);
    --coralColorSuccessBackgroundWeakActive: hsla(109,51%,15%,1);
    --coralColorSuccessBackgroundStrong: hsla(110,50%,70%,1);
    --coralColorSuccessBackgroundStrongHover: hsla(110,50%,60%,1);
    --coralColorSuccessBackgroundStrongActive: hsla(110,50%,50%,1);
    --coralColorSuccessBorder: hsla(110,50%,70%,1);
    --coralColorSuccessBorderHover: hsla(110,50%,60%,1);
    --coralColorSuccessBorderActive: hsla(110,50%,50%,1);
    --coralColorWarningText: hsla(27,97%,57%,1);
    --coralColorWarningTextHover: hsla(27,97%,47%,1);
    --coralColorWarningTextActive: hsla(27,97%,37%,1);
    --coralColorWarningTextWeak: hsla(207,18%,24%,1);
    --coralColorWarningTextWeakHover: hsla(22,84%,20%,1);
    --coralColorWarningTextWeakActive: hsla(23,84%,15%,1);
    --coralColorWarningTextStrong: hsla(27,98%,67%,1);
    --coralColorWarningTextStrongHover: hsla(27,97%,57%,1);
    --coralColorWarningTextStrongActive: hsla(27,98%,47%,1);
    --coralColorWarningBackground: hsla(22,84%,20%,1);
    --coralColorWarningBackgroundHover: hsla(22,84%,15%,1);
    --coralColorWarningBackgroundActive: hsla(22,84%,10%,1);
    --coralColorWarningBackgroundWeak: hsla(207,18%,24%,1);
    --coralColorWarningBackgroundWeakHover: hsla(22,84%,20%,1);
    --coralColorWarningBackgroundWeakActive: hsla(23,84%,15%,1);
    --coralColorWarningBackgroundStrong: hsla(27,98%,67%,1);
    --coralColorWarningBackgroundStrongHover: hsla(27,97%,57%,1);
    --coralColorWarningBackgroundStrongActive: hsla(27,98%,47%,1);
    --coralColorWarningBorder: hsla(27,98%,67%,1);
    --coralColorWarningBorderHover: hsla(27,97%,57%,1);
    --coralColorWarningBorderActive: hsla(27,98%,47%,1);
    --coralColorAssistiveBackground: hsla(208,20%,83%,1);
    --coralColorAssistiveText: hsla(208,18%,14%,1);
    --coralColorAssistiveBorder: hsla(208,20%,63%,1);
    --coralColorAssistiveBorderFocus: hsla(256,66%,76%,1);
    --coralColorChartsNegative: hsla(2,100%,75%,1);
    --coralColorChartsPositive: hsla(110,50%,60%,1);
    --coralColorChartsNeutral: hsla(0,0%,68%,1);
    --coralColorBrandingCoral: hsla(359,100%,71%,1);
    --coralColorNeutralBorderHover: hsla(206,17%,92%,1);
    --coralColorBrandingStitch: hsla(48,100%,50%,1);
    --coralColorBrandingTwilight: linear-gradient(90deg,hsla(222,49%,14%,1) 0%, hsla(253,46%,8%,1) 100%);    
    --coralColorBrandingNavigation: linear-gradient(90deg,hsla(222,49%,14%,1) 0%, hsla(253,46%,8%,1) 100%);    
    --coralSizeXxs: 0.4rem;    
    --coralSizeXs: 0.8rem;    
    --coralSizeS: 1.2rem;    
    --coralSizeM: 1.6rem;    
    --coralSizeL: 2.8rem;    
    --coralSizeXl: 3.2rem;    
    --coralSizeLimit: 32rem;    
    --coralElevationShadowM: 0rem 0.2rem 0.6rem 0rem hsla(0,0%,0%,0.3);    
    --coralElevationShadowL: 0rem 0.4rem 0.8rem 0rem hsla(0,0%,0%,0.3);    
    --coralHeadingL: 600 1.8rem/140% 'Source Sans Pro';
    --coralHeadingM: 600 1.6rem/140% 'Source Sans Pro';
    --coralHeadingS: 600 1.4rem/140% 'Source Sans Pro';
    --coralParagraphM: 400 1.4rem/140% 'Source Sans Pro';
    --coralParagraphMBold: 600 1.4rem/140% 'Source Sans Pro';
    --coralParagraphS: 400 1.2rem/140% 'Source Sans Pro';
    --coralParagraphSBold: 600 1.2rem/140% 'Source Sans Pro';
    --coralRadiusM: 0.8rem;    
    --coralRadiusL: 1.6rem;    
    --coralRadiusRound: 9999.9rem;    
    --coralBorderSolidS: 1px solid;    
    --coralBorderSolidM: 2px solid;    
    --coralBorderDashedS: 1px dashed;    
    --coralBorderDashedM: 2px dashed;    
    --coralOpacityL: 20%;    
    --coralOpacityM: 40%;    
    --coralOpacityS: 60%;    
    --coralBreakpointS: 40em;    
    --coralBreakpointM: 48em;    
    --coralBreakpointL: 64em;    
    --coralBreakpointXl: 80em;    
}