.switch .container {
  position: relative;
  display: inline-flex;
  background: var(--coral-color-neutral-background-strong, hsl(0, 0%, 88%));
  border-radius: 6.25rem;
  box-shadow: inset 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.switch .container:hover .switchIndicator em {
  background-color: var(--coral-color-accent-background-active, hsl(204, 60%, 63%));
}
.switch .container > .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0 0.625rem;
  color: var(--coral-color-neutral-text, hsl(0, 0%, 13%));
  font: var(--coral-paragraph-s, 400 0.75rem/140% "Source Sans Pro");
  opacity: var(--coral-opacity-m, 0.4);
  user-select: none;
  cursor: pointer;
  background: none;
  border: none;
  z-index: var(--coral-elevation-layer-interactive-front, 8);
}
.switch .container > .btn[aria-checked=true] {
  color: var(--coral-color-accent-text-weak, white);
  opacity: 1;
}
.switch .container > .btn[aria-checked] ~ .switchIndicator {
  visibility: hidden;
}
.switch .container > .btn[aria-checked=true] ~ .switchIndicator {
  visibility: visible;
}
.switch .switchIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: var(--coral-elevation-layer-standard-front, 4);
}
.switch .switchIndicator[data-animated=true] {
  transition: var(--coral-transition-fast, 250ms ease-in-out);
}
.switch .switchIndicator em {
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  bottom: 0.125rem;
  left: 0.125rem;
  transition: background 0.3s;
  background: var(--coral-color-accent-background-strong, hsl(204, 95%, 31%));
  border-radius: 100px;
}
.switch.readOnly div .btn[aria-checked] {
  transition: color var(--coral-transition-normal, 300ms ease-in-out);
}
.switch.disabled div {
  opacity: var(--coral-opacity-m, 0.4);
}