$tc-pie-chart-font-size: $font-size-large !default;
$tc-pie-chart-loading-small-circle-size: 20px !default;
$tc-pie-chart-loading-medium-circle-size: 32px !default;
$tc-pie-chart-loading-large-circle-size: 46px !default;

@mixin heartbeat($animation-name) {
    animation: $animation-name 1.5s ease infinite;
}

@keyframes object-blink {
    0%, 100% {
		opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.tc-pie-chart-loading {
	display: flex;
	align-items: center;

	&.animate-object-blink {
		@include heartbeat(object-blink);
	}

	& > div:first-child{
		display: block;
		background: $gallery;
	}

	&-small{
		height: 25px;
	}

	&-medium{
		height: 35px;
	}

	&-large{
		height: 50px;
	}

	&-small-circle{
		width: $tc-pie-chart-loading-small-circle-size;
		height: $tc-pie-chart-loading-small-circle-size;
		border-radius: $tc-pie-chart-loading-small-circle-size / 2;
		// adjust to be like loaded component
		margin-left: 4px;
	}

	&-medium-circle{
		width: $tc-pie-chart-loading-medium-circle-size;
		height: $tc-pie-chart-loading-medium-circle-size;
		border-radius: $tc-pie-chart-loading-medium-circle-size / 2;
		// adjust to be like loaded component
		margin-left: 5px;
	}

	&-large-circle{
		width: $tc-pie-chart-loading-large-circle-size;
		height: $tc-pie-chart-loading-large-circle-size;
		border-radius: $tc-pie-chart-loading-large-circle-size / 2;
		// adjust to be like loaded component
		margin-left: 5px;
	}

	&-skeleton-label{
		margin-top: 1px;
		width: 40px;
		height: 18px;
		border-radius: 4px;
		display: block;
		margin-left: 5px;
		background: $gallery;
	}
}

// PieChart styles
.tc-pie-chart, .tc-pie-chart-loading{
    font-size: $tc-pie-chart-font-size;
    display: flex;
    align-items: center;

    background-color: $white;
	border: none;
	color: $gray;

	box-shadow: none;
	line-height: unset;
	padding: 0;

    > svg {
        margin-right: $padding-smaller;
        height: inherit;
		width: inherit;
    }

    &:hover,
	&:active,
	&:focus {
		box-shadow: none;
		background-color: $white;
		border-color: $scooter;
		color: $scooter;
	}

	&.active {
		background-color: $brand-primary;
		border-color: $brand-primary;
		color: $white;

		&:hover,
		&:active,
		&:focus {
			background-color: $scooter;
			border-color: $scooter;
			color: $white;
		}
	}
}
