:global {
	#simple-list-container {
		&,
		> div,
		> div > div {
			display: flex;
			justify-content: center;
			width: 100vw;
		}
	}

	.simple-list-row {
		height: 25px;
		background-color: #fff;
	}

	.simple-list-row-data-name .list-row-data-drag-name {
		min-width: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.simple-list-row-data-type {
		font-family: Inconsolata, Monaco, Menlo, Consolas, Courier New, mono;
		font-size: 0.9em;
		min-width: 100px;
    float: right;
    text-align: right;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #66bdff;
	}

	.simple-list-row-data-desc {
		color: #aaa;
		font-style: italic;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 2px;
	}

  .highlighted {
    background-color: #f2f2f2;
  }

	table {
		overflow: hidden;
    tr {
      &.draggable {
        cursor: grab;
        td:first-child {
          position: relative;
          span[draggable="true"]:before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            content: '';
            width: 100vw;
          }
        }
      }
    }
  }

}
