.inputContainer {
	position: relative;

	.input {
		position: relative;
		z-index: 1;
		background: none;
	}

	.invalidPlaceHolder {
		position: absolute;
		top: 0;
		width: 155px;
		color: red;
	}
}

.dropdown-wrapper {
	position: relative;
}

.popover {
	width: 320px; // TODO: Remove when width sizing management has been covered
	max-width: none;
	padding: 0;
	border-radius: 0;

	&:global(.popover) {
		margin: 0;
	}

	:global(.arrow) {
		display: none;
	}

	:global(.popover-content) {
		padding: 0;
	}
}
