.dropdown-wrapper {
	position: relative;
}

.popover {
	min-width: 310px;
	max-width: 700px;
	width: 100%;
	padding: 0;
	border-radius: 0;

	&:global(.popover) {
		margin: 0;
	}

	:global(.arrow) {
		display: none;
	}

	:global(.popover-content) {
		padding: 0;
	}
}

.footer {
	display: flex;
	padding: $padding-small $padding-normal;
	background-color: $wild-sand;
	justify-content: space-between;
	align-items: center;
	color: $chestnut-rose;

	.errors {
		display: flex;
		flex-direction: column;
	}
}
