.dropdown-wrapper {
	position: relative;
}

.popover {
	min-width: 310px;
	max-width: 700px;
	width: 100%;
	padding: 0;
	border-radius: 0;

	&:global(.popover) {
		margin: 0;
	}

	:global(.arrow) {
		display: none;
	}

	:global(.popover-content) {
		padding: 0;
	}
}

.footer {
	flex-grow: 1;
	text-align: right;
	padding: $padding-small $padding-normal;
	background-color: $wild-sand;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $chestnut-rose;
	.footerError span {
		&.errorHidden {
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
		}
	}
}
