{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/stories*/*.js", "**/examples/*.js"]}],
    "indent": ["error", "tab", { "SwitchCase": 1, "ignoredNodes": ["ConditionalExpression *", "LogicalExpression *"] }],
    "new-cap": [
        2,
        {
            "capIsNewExceptions": ["List", "Map"]
        }
    ],
    "no-mixed-operators": "off",
    "no-tabs": "off",
    "react/forbid-prop-types": [0],
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],
    "react/no-unused-prop-types": [2, { "skipShapeProps": true }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
