prefer-workspace-packages=true

#https://pnpm.io/blog/2020/10/17/node-modules-configuration-options-with-pnpm#plugnplay-the-strictest-configuration
hoist=false
# hoist-pattern[]=autoprefixer
# hoist-pattern[]=redux-mock-store
# WARNGING Add public-hoist-pattern ONLY if you don't have other solution
public-hoist-pattern[]=autoprefixer
public-hoist-pattern[]=i18next
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=jest-environment-jsdom
public-hoist-pattern[]=jest-environment-jsdom-global
public-hoist-pattern[]=jest-serializer-html
public-hoist-pattern[]=redux*
public-hoist-pattern[]=reakit
public-hoist-pattern[]=*types*
#public-hoist-pattern[]=*eslint*
