.github
.idea
.next
.storybook
.test-cache
.changeset
coverage
/cypress
/pages
node_modules
out
src
static

.babelrc
.eslintrc
.gitignore
.npmignore
.prettierrc
cypress.json
jest.config.js
next.config.js
talend-scripts.json
test-utils.js
tsconfig.json