prefer-workspace-packages=true

#https://pnpm.io/blog/2020/10/17/node-modules-configuration-options-with-pnpm#plugnplay-the-strictest-configuration
hoist=false
# hoist-pattern[]=autoprefixer
# hoist-pattern[]=postcss-loader
# hoist-pattern[]=postcss
# WARNGING Add public-hoist-pattern ONLY if you don't have other solution
public-hoist-pattern[]=autoprefixer
public-hoist-pattern[]=redux-saga
public-hoist-pattern[]=*types*
#public-hoist-pattern[]=*eslint*
