shamefully-hoist=true
#node-linker=hoisted
#symlink=false
prefer-workspace-packages=true
#link-workspace-packages=false
#link-workspace-packages=deep
#strict-peer-dependencies=true
#public-hoist-pattern[]=*storybook*
