/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container .header :global(.btn-icon-only) {
  padding: 0 5px;
}
.container .header :global(.btn-icon-only) svg {
  width: 0.75rem;
}
.container .header :global(.btn-icon-only) span {
  display: none;
}
.container .body {
  flex: 1 1 auto;
}
.container .element-container > * {
  width: 100%;
  height: 100%;
}