$tc-typeahead-input-color: #000 !default;
$tc-typeahead-input-width: 262px;

$tc-typeahead-opened-items-container-color: #AAA !default;
$tc-typeahead-opened-items-container-background-color: #FFF !default;

$tc-typeahead-focused-item-background-color: #F7F7F7 !default;
$tc-typeahead-item-description-color: #C0C0C0 !default;

$tc-typeahead-section-border-color: #E0E0E0 !default;

$tc-typeahead-icon-color: #CCC !default;
$tc-typeahead-only-icon-color: #CCC !default;
$tc-typeahead-section-header-color: #63AEBD !default;

$tc-typeahead-items-list-shadow-color: #CCC;

/******************************************* container *************************************/
.tc-typeahead-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
}

.right-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

/****************************************** input & icon ******************************************/
.typeahead-input {
	width: $tc-typeahead-input-width;
}

.typeahead-input-icon {
	position: relative;
	display: flex;
	align-items: center;

	.icon-cls {
		margin-left: -20px;
		color: $tc-typeahead-icon-color;
	}
}

.only-icon-cls {
	color: $tc-typeahead-only-icon-color;
}

/************************************* Container Open **************************************/
.items-container {
	display: none;
}

.container-open {
	.items-container {
		display: block;
		position: absolute;
		top: 100%;
		min-width: $tc-typeahead-input-width;
		background-color: $tc-typeahead-opened-items-container-background-color;
		border-radius: 4px;
		box-shadow: 1px 1px 5px 1px $tc-typeahead-items-list-shadow-color;
		max-height: 70vh;
		overflow-y: auto;
	}
}

/***************************************** item ********************************************/
.items-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item {
	cursor: pointer;
	margin-bottom: 0;
	padding: 14px;

	.item-title {
		font-weight: normal;
	}

	.item-description {
		color: $tc-typeahead-item-description-color;
		font-size: 1.3rem;
		margin-bottom: 0;
	}
}

.item-focused {
	background-color: $tc-typeahead-focused-item-background-color;
}

/******************************************** section **************************************/
.section-header {
	align-items: center;
	color: $tc-typeahead-section-header-color;
	border-top: 1px solid $tc-typeahead-section-border-color;
	border-bottom: 1px solid $tc-typeahead-section-border-color;
	margin-top: -1px;
	padding: 14px;
	display: flex;

	.section-header-title {
		margin-left: 7px;
		font-size: 1.2rem;
		letter-spacing: 0.6px;
		text-transform: uppercase;
	}
}

/***************************************** highlight ***************************************/
.highlight-match {
	font-weight: 600;
	font-style: normal;
}
