@use '~@talend/design-tokens/lib/tokens';

.message {
	display: flex;
	border-radius: tokens.$coral-radius-s;
	box-shadow: tokens.$coral-elevation-shadow-neutral-s;
	background-color: tokens.$coral-color-neutral-background;
	height: 100%;
	width: 28rem;

	&__border {
		border-top-left-radius: tokens.$coral-radius-s;
		border-bottom-left-radius: tokens.$coral-radius-s;
		width: 0.6rem;
		height: 100%;
		background-color: tokens.$coral-color-neutral-border-hover;
		display: block;
	}

	&__title {
		font: tokens.$coral-heading-m;
	}

	&__description {
		font: tokens.$coral-paragraph-m;
		margin: 0;
	}
}
