.message {
	display: flex;
	border-radius: var(--coral-radius-s, 0.25rem);
	border: var(--coral-border-s-solid, 1px solid)
		var(--coral-color-neutral-border-weak, hsl(0, 0%, 82%));
	background-color: var(--coral-color-neutral-background, white);
	color: var(--coral-color-neutral-text-weak, hsl(0, 0%, 38%));
	height: 100%;
	width: 100%;
	border-top-left-radius: var(--coral-radius-s, 0.25rem);
	border-bottom-left-radius: var(--coral-radius-s, 0.25rem);
	border-left: 0.6rem solid var(--coral-color-neutral-border-hover, hsl(0, 0%, 40%));
}
.message__children {
	text-wrap: pretty;
}
.message__title {
	font: var(--coral-heading-m, 600 1rem/140% 'Source Sans Pro');
	width: 100%;
}
.message__title__info {
	font: var(--coral-paragraph-s, 400 0.75rem/140% 'Source Sans Pro');
	color: var(--coral-color-neutral-text-weak, hsl(0, 0%, 38%));
	white-space: nowrap;
	margin-left: auto;
}
.message__actions {
	margin-left: auto;
}
.message__description {
	font: var(--coral-paragraph-m, 400 0.875rem/140% 'Source Sans Pro');
	color: var(--coral-color-neutral-text-weak, hsl(0, 0%, 38%));
	margin: 0;
}
