@import '../../../mixins';

.action {
    display: flex;
    background: none;
    border: none;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 100%;

    .label {
        width: 2em;
        height: 2em;
        line-height: 2em;
        border-radius: 50%;
    }

    &:hover {
        .label {
            background-color: $concrete;
        }
    }

    &:disabled {
        .label {
            color: $silver-chalice;
            background-color: transparent;
        }
    }

    &.today {
        .label {
            position: relative;

            &::after {
                content: '*';
                color: red;
                line-height: normal;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &.selected {
        .label {
            @include picker-action-selected;
        }
    }
}
