@import '~@talend/bootstrap-theme/src/theme/animation';

.template:global(.required) {
	:global {
		.control-label:after {
			content: '*';
		}

		.checkbox {
			&:after {
				position: static;
				display: inline;
				content: '*';
			}

			.control-label:after {
				content: '';
			}
		}

		// Remove required stars for multi selection
		.control-label ~ .checkbox:after {
			content: '';
		}
	}
}

.updating {
	@include heartbeat(object-blink);
}
