// DisplayTable styles
$tc-list-table-hover-bg: $concrete !default;
$tc-list-table-color: $dove-gray !default;
$tc-list-table-hover-color: $black !default;
$tc-list-table-header-color: $black !default;
$tc-list-table-header-height: 36px !default;

.container {
	padding-top: $tc-list-table-header-height;
	position: relative;
	display: flex;

	> div {
		flex-grow: 1;
		overflow-y: auto;
		box-shadow: $shadow-default;
	}
}

.table {
	margin: 0;

	:global(.btn-group) {
		visibility: hidden;
	}

	:global(.btn-link:hover) {
		color: $tc-list-table-hover-color;
		text-decoration: none;
	}

	tr:hover :global(.btn-group) {
		visibility: visible;
	}

	thead tr {
		text-transform: uppercase;

		th {
			height: 0;
			line-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			border: none;
			color: transparent;
			overflow: hidden;
			white-space: nowrap;
		}

		.header {
			color: $tc-list-table-header-color;
			font-size: 1.4rem;
			font-weight: bold;
			height: auto;
			line-height: normal;
			padding: 8px 0;
			position: absolute;
			top: 0;

			> svg {
				height: $svg-xs-size;
				width: $svg-xs-size;
			}
		}
	}

	tbody {
		:global(.btn-link) {
			color: $tc-list-table-color;
			font-size: inherit;
			letter-spacing: inherit;
			font-weight: 600;
		}

		tr:hover {
			color: $tc-list-table-hover-color;
			background-color: $tc-list-table-hover-bg;

			.tc-list-display-table-td {

				.cell + .actions {
					opacity: 1;
					padding-left: $padding-large;
					visibility: visible;
				}
			}
		}

		td {
			max-width: 200px;
		}

		.tc-list-display-table-td {
			display: flex;
			position: relative;

			.cell {
				display: flex;
				flex-shrink: 1;
				flex-grow: 1;
				min-width: 0;

				+ .actions {
					transition: opacity 0.15s ease-in;
					flex-shrink: 0;
					flex-grow: 0;
					opacity: 0;
					visibility: hidden;

					position: absolute;
					right: 0;
					background: linear-gradient(to right, rgba($tc-list-table-hover-bg, 0), $tc-list-table-hover-bg $padding-large);
				}
			}
		}

		.item-text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
		}
	}
}
