// DisplayTable styles
$tc-list-table-hover-bg: $concrete !default;
$tc-list-table-color: $dove-gray !default;
$tc-list-table-hover-color: $black !default;
$tc-list-table-header-height: 36px !default;

.container {
	padding-top: $tc-list-table-header-height;
	position: relative;
	display: flex;

	> div {
		width: 100%;
		overflow-y: auto;
	}
}

.table {
	:global(.btn-group) {
		visibility: hidden;
	}

	:global(.btn-link:hover) {
		color: $tc-list-table-hover-color;
		text-decoration: none;
	}

	tr:hover :global(.btn-group) {
		visibility: visible;
	}

	thead tr {
		text-transform: uppercase;

		th {
			height: 0;
			line-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			border: none;
			color: transparent;
			overflow: hidden;
			white-space: nowrap;
		}

		.header {
			color: initial;
			height: auto;
			line-height: initial;
			padding: 8px 0;
			position: absolute;
			top: 0;
			> button {
				padding: 0;
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
			}
		}
	}

	tbody {
		:global(.btn-link) {
			color: $tc-list-table-color;
			font-size: inherit;
			letter-spacing: inherit;
			font-weight: 600;
		}

		tr:hover {
			color: $tc-list-table-hover-color;
			background-color: $tc-list-table-hover-bg;
		}

		.item-text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
		}
	}
}
