$tc-dialog-header-icon: 3rem !default;

:global {
	.modal-flex .modal-body {
		display: flex;
		flex-direction: column;
		padding-top: $padding-larger;
	}

	.modal-body {
		padding-top: $padding-larger;
	}

	.modal-footer {
		padding-bottom: $padding-larger;
		.tc-actionbar-container {
			padding: 0;
		}
	}

	.modal-header {
		position: relative;
		max-height: 7rem;
		overflow: hidden;

		.modal-icon {
			float: left;
			padding-top: $padding-smaller;
			margin-right: $padding-normal;

			svg {
				width: $tc-dialog-header-icon;
				height: $tc-dialog-header-icon;
			}
		}

		.modal-title,
		.modal-subtitle {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.modal-title {
			line-height: normal;
		}

		.modal-subtitle {
			margin-bottom: 0;
		}

		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			font-weight: normal;
			color: $gray;

			&:hover,
			&:focus,
			&:active {
				font-weight: bold;
				color: $black;
			}
		}
	}

	.modal-content {
		width: 100%;
	}
}
