@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as token;

:global {
	.modal-flex .modal-body {
		display: flex;
		flex-direction: column;
		padding-top: $padding-larger;
	}

	.modal-body {
		padding-top: $padding-larger;
	}

	.modal-footer {
		padding-bottom: $padding-larger;

		.tc-actionbar-container {
			padding: 0;
		}
	}

	.modal-content,
	.modal-title,
	.modal-subtitle {
		width: 100%;
	}

	.modal-header {
		position: relative;
		max-height: 4.375rem;

		.modal-title,
		.modal-subtitle {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.modal-title {
			line-height: normal;
		}

		.modal-subtitle {
			margin-bottom: 0;
		}

		.close {
			position: absolute;
			top: 0.625rem;
			right: 0.625rem;
			font-weight: normal;
			color: tokens.$coral-color-neutral-text-weak;

			&:hover,
			&:focus,
			&:active {
				font-weight: bold;
				color: tokens.$coral-color-neutral-text;
			}
		}
	}
}
