.tc-slider-container {
	:global(label) {
		display: block;
	}

	.informations {
		display: flex;
		:global(svg) {
			height: 24px;
			width: 24px;
			fill: $brand-primary;
		}

		.informations-label {
			margin-left: $padding-small;
			line-height: 24px;
		}
	}

	.icons {
		display: flex;
		justify-content: space-between;
		margin-top: $padding-small;
		:global(svg) {
			height: 24px;
			width: 24px;
			fill: gray;
		}
		.selected {
			fill: $brand-primary;
		}
	}
}

.tc-slider {
	:global(.rc-slider-step),
	:global(.rc-slider-rail),
	:global(.rc-slider-track) {
		height: 7px;
	}
	:global(.rc-slider-track) {
		background-color: $scooter;
	}
	:global(.rc-slider-handle) {
		width: 17px;
		height: 17px;
		border-color: $alto;
	}
}
