$tc-slider-thumb-shadow: 0 1px 2px 0 rgba(117, 132, 149, 0.5); //$slate-gray;
$tc-slider-thumb-shadow-focused: 0 3px 4px 0.5px rgba(0, 0, 0, 0.25);
$tc-slider-font-size: $font-size-base;
$tc-slider-line-height: 24px;

:global(.rc-slider-tooltip) {
	padding: 0;
	pointer-events: none;

	:global(.rc-slider-tooltip-arrow) {
		display: none;
	}

	:global(.rc-slider-tooltip-inner) {
		background: transparent;
		color: $brand-primary;
		font-size: $tc-slider-font-size;
		box-shadow: none;
	}
}

.tc-slider {
	padding: 0 calc($tc-slider-line-height / 2);

	:global(.rc-slider-disabled) {
		background-color: transparent;
		opacity: 0.4;
	}

	&-captions {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
		margin-top: $padding-small;
		color: $gray;
		font-size: $tc-slider-font-size;

		&-element {
			height: $tc-slider-line-height;
			width: $tc-slider-line-height;
			line-height: $tc-slider-line-height;
			min-height: $tc-slider-line-height;
			display: flex;
			justify-content: center;
		}

		:global(.btn) {
			padding: 0;

			&.selected {
				:global(.tc-svg-icon) {
					fill: $brand-primary;
				}
			}
		}

		:global(svg) {
			height: $tc-slider-line-height;
			width: $tc-slider-line-height;
			margin: 0;
			fill: $gray;

			&.selected {
				fill: $brand-primary;
			}
		}
	}

	&-rc-slider {
		margin-top: $padding-larger;

		:global(.rc-slider-step),
		:global(.rc-slider-rail),
		:global(.rc-slider-track) {
			height: 7px;
		}

		:global(.rc-slider-rail) {
			background-color: $alto;
		}

		:global(.rc-slider-track) {
			background-color: $brand-primary;
		}

		:global(.rc-slider-handle) {
			border: 1px solid $alto;
			box-shadow: $tc-slider-thumb-shadow;
			background-color: $wild-sand;

			&:hover,
			&:focus {
				background-color: $white;
				box-shadow: $tc-slider-thumb-shadow-focused;
			}
		}

		&--track-greater-than,
		&--track-exclusive {
			:global {
				.rc-slider-rail {
					background-color: $brand-primary;
				}

				.rc-slider-track {
					background-color: $alto;
				}
			}
		}

		&--track-equals {
			:global {
				.rc-slider-rail,
				.rc-slider-track {
					background-color: $alto;
				}

				.rc-slider-handle {
					box-shadow: $tc-slider-thumb-shadow;
					background-color: $brand-primary;
				}
			}
		}
	}
}
