/* stylelint-disable declaration-no-important */
@use '@talend/design-tokens/lib/tokens' as token;

.badge {
	display: inline-flex;
	align-items: center;
	font: tokens.$coral-paragraph-s-bold;
	background-color: white;
	color: hsl(0, 0%, 13%) !important;

	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none !important;
	}

	&[href] {
		cursor: pointer;
	}

	span {
		padding: 0 tokens.$coral-spacing-xxs;
		border: tokens.$coral-border-s-solid hsl(0, 0%, 55%);

		&:first-child {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			gap: 1ch;
			border-right: none;
			border-radius: tokens.$coral-radius-s 0 0 tokens.$coral-radius-s;
		}

		&:last-child {
			border-left: none;
			border-radius: 0 tokens.$coral-radius-s tokens.$coral-radius-s 0;
			text-transform: uppercase;
		}
	}

	img {
		height: tokens.$coral-sizing-minimal;
		width: tokens.$coral-sizing-minimal;
	}

	.status {
		&-ok {
			color: white;
			background: hsl(111, 49%, 34%);
		}

		&-wip {
			color: white;
			background: hsla(281, 58%, 29%, 1);
		}

		&-deprecated {
			color: white;
			background: hsla(22, 93%, 41%, 1);
		}

		&-ko {
			color: white;
			background: hsla(359, 51%, 53%, 1);
		}

		&-na {
			color: hsla(0, 0%, 38%, 1);
			background: hsla(0, 0%, 88%, 1);
		}
	}
}
