$tc-table-head-height: 35px !default;
$tc-table-head-label-padding: 0.3rem;

.tc-table-head {
	display: block;
	width: 100%;
	height: $tc-table-head-height;

	&-row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: $tc-table-head-height;
	}

	&-th {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
	}

	&-label {
		padding: $tc-table-head-label-padding;
		text-overflow: ellipsis;
		text-align: left;
		font-weight: bold;
		overflow: hidden;
	}
}
