@use '~@talend/design-tokens/lib/tokens';

.dropdownEntry {
	background: tokens.$coral-color-accent-background-weak;
	min-height: tokens.$coral-size-l;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	white-space: nowrap;
	width: 100%;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	color: tokens.$coral-color-neutral-text;
	font: tokens.$coral-paragraph-m;
	transition: all tokens.$coral-transition-fast;
	padding: 0 tokens.$coral-size-s;
	max-width: 24rem;

	> span {
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
	}

	.buttonIcon {
		display: inline-block;
		flex-shrink: 0;
		height: tokens.$coral-size-m;
		width: tokens.$coral-size-m;
		margin-right: tokens.$coral-size-xxs;
	}

	.buttonContent {
		min-width: 0;
	}

	&:hover {
		background: tokens.$coral-color-accent-background-weak-hover;
		color: tokens.$coral-color-accent-text-strong-hover;
	}

	&:active {
		background: tokens.$coral-color-accent-background-weak-active;
		color: tokens.$coral-color-accent-text-strong-active;
	}
}
