@use '~@talend/design-tokens/lib/tokens';

.dropdownShell {
	z-index: tokens.$coral-elevation-layer-interactive-front;
	position: absolute;
	width: max-content;
	top: 0;
	left: 0;

	.animatedZone {
		background: tokens.$coral-color-neutral-background;
		border-radius: tokens.$coral-radius-s;
		box-shadow: tokens.$coral-elevation-shadow-neutral-m;
		max-height: tokens.$coral-sizing-maximal;
		overflow: auto;
		min-width: calc(#{tokens.$coral-sizing-maximal} / 2);
		max-width: tokens.$coral-sizing-maximal;
		transition: tokens.$coral-transition-fast;
	}

	// &[data-enter] {
	// .animatedZone {
	// opacity: 1;
	// transform: translateY(0%);
	// }
	// }
}
