
@import '../common';

.action-left {
    @include nav-default;

    :global(.tc-svg-icon) {
        width: 16px;
    }

    &:global(.btn):hover {
        @include nav-hover;
    }
}

.action-middle {
    @include default;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.body {
    display: flex;

    .month {
        flex: 3;
    }

    .year {
        flex: 1;
    }
}
