
@import '../common';

.action-left {
    @include nav-action-default(16px);
}

.action-middle {
    @include default;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.body {
    display: flex;
    border-top: $border-default;
    background-color: $wild-sand;

    .month {
        flex: 3;
    }

    .year {
        flex: 1;
        border-left: $border-default;
    }
}
