.card {
  width: 100%;
  height: 100%;
  box-shadow: var(--coral-elevation-shadow-neutral-m);
  border-radius: var(--coral-radius-m);
  padding: var(--coral-spacing-xl);
  background-color: var(--coral-color-neutral-background);
}
.card__header, .card__body {
  width: 100%;
}