@use '@talend/design-tokens/lib/tokens' as tokens;

// stylelint-disable property-no-vendor-prefix
.tc-badge-slider-form-body {
	width: tokens.$coral-sizing-maximal;

	&-row {
		display: flex;
		gap: tokens.$coral-spacing-s;
		align-items: center;
		margin-top: tokens.$coral-sizing-m;

		&-icon {
			display: inline-flex;
			flex: 1 1 45%;
			justify-content: flex-end;
			svg {
				width: tokens.$coral-sizing-l;
				height: tokens.$coral-sizing-l;
			}
		}

		&-value {
			flex: 1 1 55%;
		}

		.tc-badge-value-unit {
			flex: 1;
			font-size: 2rem;
			font-weight: 600;
			height: 2.9375rem;
			margin-bottom: 0;
			border: none;
			background: none;
			padding: 0;
			text-align: start;
		}
	}
}
