@use '~@talend/design-tokens/lib/tokens';
@use '../mixins' as Form;

.select {
  @include Form.baseInput();
  height: Form.$standardInputHeight;
  appearance: none;
  -webkit-appearance: none;

  option:disabled {
      color: tokens.$coral-color-neutral-text-weak;
      opacity: tokens.$coral-opacity-s;
  }
}

.select__wrapper {
  display: block;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.select__icon {
  width: tokens.$coral-sizing-xxxs;
  height: tokens.$coral-sizing-xxxs;
  position: absolute;
  right: tokens.$coral-spacing-xs;
  top: 50%;
  transform: translateY(-50%);
  color: tokens.$coral-color-neutral-icon;
  pointer-events: none;
}

.select:disabled + .select__icon {
  color: tokens.$coral-color-neutral-text-disabled;
  opacity: tokens.$coral-opacity-s;
}
