.smallGrid {
    path {
        fill: none;
        stroke: #BFBDBD;
        stroke-width: 0.5;
    }
}

.largeGrid {
    path {
        fill: none;
        stroke: #BFBDBD;
        stroke-width: 1;
    }
}