@use '~@talend/design-tokens/lib/tokens';

.affix.affix {
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 0;
	color: tokens.$coral-color-neutral-text-weak;
	background: tokens.$coral-color-neutral-background-strong;
	padding: 0 tokens.$coral-spacing-xs;
	justify-content: center;
	align-items: center;
	font: tokens.$coral-paragraph-m;
	border: 0;
	height: 100%;
	min-height: auto;
	max-height: tokens.$coral-sizing-m;
	transition: tokens.$coral-transition-fast;

	&:first-child {
		border-radius: 2px 0 0 2px;
	}

	&:last-child {
		border-radius: 0 2px 2px 0;
	}

	&__icon {
		width: tokens.$coral-sizing-xxxs;
		height: tokens.$coral-sizing-xxxs;
	}

	&__caret {
		width: tokens.$coral-sizing-minimal;
		height: tokens.$coral-sizing-minimal;
	}

	&.button {
		color: tokens.$coral-color-accent-text;
		background: tokens.$coral-color-accent-background;
		cursor: pointer;

		&:hover {
			color: tokens.$coral-color-accent-text-hover;
			background: tokens.$coral-color-accent-background-hover;
		}

		&:active {
			color: tokens.$coral-color-accent-text-active;
			background: tokens.$coral-color-accent-background-active;
		}

		&:disabled {
			color: tokens.$coral-color-neutral-text-weak;
			background: tokens.$coral-color-neutral-background-strong;
			cursor: not-allowed;
		}
	}
}
