// TODO BADGE - to rework

.badge {
	/* Badge/Simple */
	display: inline-block;

	/* neutral/background

Default background color. If there's no reason for a semantic background, then that is the one to use.
*/
	background: #ffffff;
	/* neutral/border-weak

Weaker border color, for discreet separators

Ex: Dividers
*/
	border: 1px solid #d2d2d2;
	border-radius: 4px;
}

.badge__layout {
	/* Auto layout */
	align-items: center;
	display: flex;
	flex-direction: row;

	gap: 4px;
	padding: 0px 8px;
}

.badge__layout__divider {
	align-items: center;
	display: flex;
	flex-direction: row;

	padding: 0 8px;
}
