// TODO JMA : to rework
.badge {
	/* Badge/Simple */

	box-sizing: border-box;

	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 8px;
	gap: 4px;

	width: 69px;
	height: 28px;

	/* neutral/background

Default background color. If there's no reason for a semantic background, then that is the one to use.
*/
	background: #ffffff;
	/* neutral/border-weak

Weaker border color, for discreet separators

Ex: Dividers
*/
	border: 1px solid #d2d2d2;
	border-radius: 4px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}
