@use '~@talend/design-tokens/lib/tokens';

.badge {
	display: flex;
	align-items: center;

	background: tokens.$coral-color-neutral-background;
	border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
	border-radius: tokens.$coral-radius-s;
}

.badge__name {
	padding: tokens.$coral-spacing-xxs 0;
}

.badge__divider {
	display: flex;
	align-items: center;
}
