@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens';

$tc-header-title-font-size: 1rem !default;
$tc-header-title-font-weight: 700 !default;

.container {
	display: flex;
	align-items: center;
	width: 100%;
}

.title {
	color: tokens.$coral-color-neutral-text;
	flex-grow: 1;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: $tc-header-title-font-size;
	font-weight: $tc-header-title-font-weight;
}
