/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  color: var(--coral-color-neutral-text, hsl(0, 0%, 13%));
  flex-grow: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 700;
}