$tc-header-title-font-size: 1.6rem !default;
$tc-header-title-font-weight: 700 !default;

.container {
	display: flex;
	align-items: center;
	width: 100%;
}

.title {
	color: $black;
	flex-grow: 1;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: $tc-header-title-font-size;
	font-weight: $tc-header-title-font-weight;
}
