$tc-status-icon-size: 20px !default;

.tc-status {
	position: relative;

	&-icon {
		width: $tc-status-icon-size;
		height: $tc-status-icon-size;
	}

	&-actions {
		visibility: hidden;
		position: absolute;
		left: $tc-status-icon-size;
		top: 0;
	}

	&.action:hover {
		.tc-status-label {
			visibility: hidden;
		}

		.tc-status-actions {
			visibility: visible;
		}
	}
}
