.resource-item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gallery;

	> * {
		margin-left: $padding-normal;
	}
	:global(.tc-svg-icon) {
		color: $dove-gray;
	}

	.data-container {
		> .title,
		> .author {
			font-size: 14px;
			display: block;
			color: $dove-gray;
			margin: 0;
		}
		> .title {
			font-weight:  600;
		}
	}

	&:hover,
	&:focus {
		background-color: $wild-sand;

		:global(.tc-svg-icon) {
			color: $brand-primary;
		}
		.data-container  {
			> .title,
			> .author {
				color: $scooter;
			}
		}

	}

	&:active{
		background: tint($scooter, 90);
		.data-container {
			> .title,
			> .author {
				color: $dove-gray;
			}
		}
	}
}
