.resource-item {
	display: flex;
	align-items: center;
	border-bottom: 0.1rem solid $gallery;

	> * {
		margin-left: $padding-normal;
	}
	:global(.tc-svg-icon) {
		color: $dove-gray;
	}

	.data-container {
		flex: 1;

		> .title,
		> .author {
			font-size: 14px;
			display: block;
			color: $dove-gray;
			margin: 0;
		}
		> .title {
			font-weight: 600;
		}
	}

	.flags-container {
		margin-right: $padding-normal;
		opacity: 0;

		.flag {
			opacity: 0;
			margin-left: $padding-small;

			&.visible {
				opacity: 1;
			}
			&[name='talend-star'] {
				color: $lightning-yellow;
			}
			&[name='talend-badge'] {
				color: $brand-primary;
			}
		}
	}

	&:hover,
	&:focus,
	&:global(.selected),
	&:active {
		:global(.tc-svg-icon) {
			color: $brand-primary;
		}
		.flags-container {
			opacity: 1;
		}
	}

	&:hover,
	&:focus {
		background-color: $wild-sand;

		.data-container {
			> .title,
			> .author {
				color: $scooter;
			}
		}
	}

	&:global(.selected),
	&:active {
		background: tint($scooter, 90);

		.data-container {
			> .title,
			> .author {
				color: $dove-gray;
			}
		}
	}
}
