$tf-filterwidget-shadow-color: $shadow !default;

.ArrayFieldTemplate {

	&> legend {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}
	
	.addBtn {
		float: right;
	}

	.arrayElement {
		display: flex;
		background: $wild-sand;
		border: 1px solid transparent;

		&.closed {
			.delete {
				visibility: hidden;
			}
			.element fieldset div:not(:first-child) {
				display: none;
			}
			&:hover {
				.delete {
					visibility: initial;
				}
			}
		}

		&:hover {
			background: $white;
	
			
			.control {
				.delete {
					color: $brand-danger;
				}
				button {
					color: $dark-silver;
					&:disabled {
						color: $silver;
					}
				}
			}
		}

		.control {
			flex-grow: 0;
			flex-shrink: 0;
	
			border-right: 1px solid $gray-lighter;
			display: flex;
			flex-direction: column;
			padding: 0;
			justify-content: space-between;

			button {
				background: transparent;
				border: 0;
				color: transparent;
				margin: 0;
	
				&:hover {
					color: $dove-gray;
				}
	
				&:disabled {
					cursor: not-allowed;
				}
			}

			.delete {
				margin: $padding-normal 0 $padding-small 0;
				&.hidden {
					display: none;
					&:hover {
						display: initial;
					}
				}
			}
		}

		.element {
			flex-grow: 1;
			padding: 0;
			overflow: visible;

			> div {
				padding: 0;
				margin: 0;
			}

			fieldset {
				> div:first-child {
					// to forbid children selection of text on double click
					user-select: none;

					div {
						display: block;
						width: inherit;
						max-width: 100%;

						legend {
							color: $gray-light;
							font-size: $font-size-base;
							margin: 0;
							max-width: 100%;
							overflow: hidden;
							padding: $padding-normal ($padding-large * 2) $padding-normal $padding-normal;
							text-overflow: ellipsis;
							white-space: nowrap;
							// to allow classic text selection
							user-select: text;

							&:hover {
								cursor: pointer;
								color: $dove-gray;
							}

							strong {
								color: $gray-dark;
							}
						}
					}

					:global(.toggle) {
						background: transparent;
						border: 0;
						position: absolute;
						top: 0;
						right: 0;
						padding: $padding-normal $padding-normal 0 $padding-normal;
					}
				}

				div:first-child {
					margin: 0;
				}

				> div {
					margin: $padding-normal;
				}
			}
		}
	}
}

.ArrayFieldTemplate::before {
	content: attr(data-content);
	display: inline-block;
	text-transform: uppercase;
	margin: 10px 0;
}