// Drawers styles

$tc-drawer-bgcolor: #FFF !default;
$tc-drawer-transition-duration: 0.23s !default;
$tc-drawer-transition-easing: cubic-bezier(0.18, 0.89, 0.32, 1.28) !default;

.container {

	.drawer {
		background-color: $tc-drawer-bgcolor;
		position: fixed;
		top: $navbar-height;
		transform: translateX(0%);
		right:0;
		bottom: 0;
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	}

	:global(.tc-layout-drawer-enter),
	:global(.tc-layout-drawer-appear),
	:global(.tc-layout-drawer-leave) {
		transition: transform $tc-drawer-transition-duration $tc-drawer-transition-easing;
	}

	:global(.tc-layout-drawer-enter),
	:global(.tc-layout-drawer-appear) {
		transform: translateX(100%);

		&:global(.tc-layout-drawer-enter-active),
		&:global(.tc-layout-drawer-appear-active) {
			transform: translateX(0%);
		}
	}

	:global(.tc-layout-drawer-leave) {
		transform: translateX(0%);

		&:global(.tc-layout-drawer-leave-active) {
			transform: translateX(100%);
		}
	}
}
