@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as tokens;

:global(.tc-list-table) {
	.row-selection.selected {
		background: tokens.$coral-color-accent-background;

		&:hover,
		&:focus,
		&:global(.ally-focus-within) {
			background: tokens.$coral-color-accent-background-hover;
		}
	}

	.row-selection.active {
		background: tokens.$coral-color-accent-background-active;

		&:hover,
		&:focus,
		&:global(.ally-focus-within) {
			background: tokens.$coral-color-accent-background-hover;
		}
	}

	.row-selection.disabled {
		> div > div {
			opacity: 0.54;
		}
	}
}

:global(.tc-list-list) {
	.row-selection.selected :global(.tc-list-large-inner-box) {
		background: tokens.$coral-color-accent-background;

		&:hover,
		&:focus,
		&:global(.ally-focus-within) {
			background: tokens.$coral-color-accent-background-hover;
		}
	}

	.row-selection.active :global(.tc-list-large-inner-box) {
		background: tokens.$coral-color-accent-background-active;

		&:hover,
		&:focus,
		&:global(.ally-focus-within) {
			background: tokens.$coral-color-accent-background-hover;
		}
	}

	.row-selection.disabled :global(.tc-list-large-inner-box) {
		> div > div {
			opacity: 0.54;
		}
	}
}
