@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens';

.dropdown {
	z-index: 100;
	position: absolute;
	width: 100%;
	background-color: tokens.$coral-color-neutral-background;
	border: 1px solid tokens.$coral-color-neutral-border;
	border-top: none;
	border-radius: 0 5px;
	color: tokens.$coral-color-neutral-text;

	.loading {
		padding: 50px;
		text-align: center;
		height: 80px;
		background-color: tokens.$coral-color-neutral-background;
	}
}
