/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
.dropdown {
  z-index: 100;
  position: absolute;
  width: 100%;
  background-color: var(--coral-color-neutral-background, white);
  border: 1px solid var(--coral-color-neutral-border, hsl(0, 0%, 55%));
  border-top: none;
  border-radius: 0 5px;
  color: var(--coral-color-neutral-text, hsl(0, 0%, 13%));
}
.dropdown .loading {
  padding: 50px;
  text-align: center;
  height: 80px;
  background-color: var(--coral-color-neutral-background, white);
}