.row {
	padding-left: $padding-normal;
	&:hover {
		background-color: $concrete;
	}

	:global(.checkbox) {
		margin: 0;
	}
	label {
		height: 3rem;
		width: 100%;
		display: flex;
		margin-bottom: 0;
		align-items: center;
	}
	input[type='checkbox'],
	:global(.checkbox input + :before),
	:global(.checkbox input + :after) {
		top: calc($padding-normal/2);
	}
}
.item {
	color: $dove-gray;
	&[for='checkbox-create-new'],
	&[for='checkbox-select-all'] {
		font-style: italic;
	}
}

:global(.tc-multi-select-item) {
	display: flex;
	align-items: center;
}
