// MultiSelect styles
.container {
    color: black;
    // this is the overlaytrigger span
    :global(.tc-action-button-positionned) {
        width: 100%;
    }
}

:global(.tc-multiselect-overlay) {
    margin-top: 1px!important;
    background-color: $white;
    :global(.arrow) {
        display: none;
    }
    :global(.tc-list-list) {
        padding: 0;
    }
}
.row {
    padding: $padding-smaller $padding-normal;
    display: block;
    width: 100%;
    height: 40px;
    color: $dove-gray;
    font-weight: 400;
    &:global(#multi-select-create-new) {
        font-style: italic;
    }
    &:global(#multi-select-select-all) {
        font-style: italic;
    }

    &:hover {
        text-decoration: none;
        color: $dove-gray;
        background-color: $concrete;
    }
    &:global(.active) {
        font-weight: bold;
    }

}
.itemView {
    display: block;
    width: 100%;
    height: 39x; // because of the border
    border-bottom: 1px solid $gallery;
    color: $dove-gray;
}

.item {
    display: inline;
    line-height: 30px;
}

.viewContainer {
    :global(.tc-list-list) {
        padding: 0;
    }
}

.loading {
    padding: 50px;
    text-align: center;
    height: 80px;
    background-color: $white;
}
