// Content styles

$border-color: #CCC;
$actions-background-color: rgba(242, 242, 242, 0.7);
$checkbox-background-color: rgba(255, 255, 255, 0.7);
$text-size: 14px;
$checkbox-size: 20px;
$tile-size: 250px;
$tile-padding: 25px;
$border-size: 1px;
$definition-width: 220px;
$description-width: 130px;
$icon-column-width: 30px;
$line-height: 30px;


.tc-list-content {
	list-style: none;
	overflow: auto;
	padding: 0 $padding-large;

	:global(.tc-list-header) {
		display: none;
	}

	:global(.tc-list-item) {
		border: $border-size solid $border-color;
		border-radius: 0.5em;
		font-size: $text-size;
		line-height: $line-height;
		padding: $padding-normal;
		position: relative;

		&:hover {
			background-color: $concrete;
			border-color: darken($border-color, 40%);
		}

		&:global(.active) {
			background-color: $concrete;

			:global(.tc-list-item-action.pinned),
			:global(.tc-list-item-checkbox.checked) {
				background-color: $actions-background-color;
			}
		}

		:global(.tc-list-item-title) {
			:global(.tc-list-item-title-input) {
				width: $definition-width;
				height: $line-height;
			}

			:global(.btn-link) {
				border: none;
				color: $dove-gray;
				font-size: $text-size;
				font-weight: 600;
				letter-spacing: 0;
				margin: 0;
				height: $line-height;
				overflow: hidden;
				padding: 0;
				text-overflow: ellipsis;
				text-transform: none;
				white-space: nowrap;
			}

			:global(.tc-list-item-title-text) {
				height: $line-height;
				max-width: $definition-width;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		:global(.tc-list-item-icon),
		:global(.tc-list-item-checkbox),
		:global(.tc-list-item-action),
		:global(.tc-actions),
		:global(.tc-list-item-title) {
			display: inline-block;
			height: $line-height + 2 * $padding-small;
			padding: $padding-small;
			vertical-align: top;
		}

		:global(.tc-list-item-checkbox) {
			visibility: hidden;

			&:global(.checked) {
				visibility: visible;
			}
		}

		:global(.tc-list-item-icon) {
			width: $icon-column-width + 2 * $padding-small;

			:global(svg) {
				width: $icon-column-width;
				height: $line-height;
			}
		}

		:global(.tc-list-item-action),
		:global(.tc-actions) {
			visibility: hidden;
			border: none;
			line-height: 1;

			&:global(.pinned) {
				visibility: visible;
				background-color: $checkbox-background-color;
			}

			:global(button) {
				border: none;
				line-height: 1;
				padding: 0;

				:global(.tc-svg-icon) {
					margin: 0;
				}
			}
		}

		&:hover {
			:global(.tc-list-item-checkbox),
			:global(.tc-list-item-action),
			:global(.tc-actions) {
				background-color: $actions-background-color;
				visibility: visible;
			}
		}

		:global(.tc-list-item-definition-list) {
			&:after {
				content: '';
				clear: both;
				display: table;
			}

			:global(.tc-list-item-definition-term),
			:global(.tc-list-item-definition-description) {
				display: inline-block;
				vertical-align: middle;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			:global(.tc-list-item-definition-term) {
				color: darken($brand-primary, 25%);
				font-weight: 400;
				margin-right: $padding-small;
				text-align: right;
				text-transform: uppercase;
				width: $definition-width - $description-width - $padding-small;

				&:after {
					content: ' :';
				}
			}

			:global(.tc-list-item-definition-description) {
				color: $dove-gray;
				margin-left: 0; // reset default
				overflow: hidden;
				text-overflow: ellipsis;
				width: $description-width;
				white-space: nowrap;
			}
		}
	}
}

.table {
	padding: 0;

	:global(.tc-list-header) {
		border-bottom: $border-size solid $border-color;
		display: block;
		padding: 0 $padding-normal;

		:global(.tc-list-header-item) {
			display: inline-block;
			font-weight: bold;
			padding: $padding-small;
			text-transform: uppercase;
			width: $description-width + 2 * $padding-small;

			&:global(.icon) {
				visibility: hidden;
				width: $icon-column-width + 2 * $padding-small;
			}

			&:global(.action) {
				visibility: hidden;
				width: $checkbox-size + 2 * $padding-small;
			}

			&:global(.title) {
				width: $definition-width + 2 * $padding-small;
			}
		}
	}

	:global(.tc-list-item) {
		border: none;
		border-bottom: $border-size solid $border-color;
		border-radius: 0;
		padding: 0 $padding-normal;

		:global(.tc-list-item-checkbox),
		:global(.tc-list-item-action),
		:global(.tc-actions) {
			padding: $padding-normal $padding-small;
		}

		:global(.tc-actions) {
			float: right;
			position: initial;
		}

		:global(.tc-list-item-title) {
			width: $definition-width + 2 * $padding-small;

			:global(.btn-link) {
				max-width: $definition-width + 2 * $padding-small;
			}
		}

		:global(.tc-list-item-definition-list) {
			display: inline-block;

			:global(.tc-list-item-definition-item) {
				display: inline-block;

				:global(.tc-list-item-definition-term) {
					display: none;
				}

				:global(.tc-list-item-definition-description) {
					padding: $padding-small;
					width: $description-width + 2 * $padding-small;
				}
			}
		}

		:global(.tc-actions) {
			right: $padding-normal;
		}
	}
}

.large {
	:global(.tc-list-item) {
		margin-bottom: $padding-large;

		:global(.tc-list-item-checkbox),
		:global(.tc-list-item-action),
		:global(.tc-actions) {
			float: right;
		}

		:global(.tc-list-item-definition-list) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			height: 2 * $line-height;
			width: $definition-width;

			:global(.tc-list-item-definition-item) {
				max-height: $line-height;
				margin-right: $padding-large;
			}
		}
	}
}

.tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	:global(.tc-list-item) {
		height: $tile-size;
		margin: 0 $tile-padding $tile-padding 0;
		width: $tile-size;

		:global(.tc-list-item-title) {
			height: $line-height;
			padding: 0 $padding-small;

			:global(.btn-link) {
				max-width: $tile-size - $icon-column-width - 2 * ($border-size + $padding-normal + $padding-small);
			}

			:global(.tc-list-item-title-text) {
				max-width: $tile-size - $icon-column-width - 2 * ($border-size + $padding-normal + $padding-small);
			}

			:global(.tc-list-item-title-input) {
				width: $tile-size - $icon-column-width - 2 * ($border-size + $padding-normal + $padding-small);
			}
		}

		:global(.tc-list-item-icon) {
			height: $line-height;
			padding: 0;
			width: $icon-column-width;
		}

		:global(.tc-list-item-checkbox),
		:global(.tc-list-item-action),
		:global(.tc-actions) {
			height: $checkbox-size + 2 * $padding-small;
			width: $checkbox-size + 2 * $padding-small;
			padding: $padding-small;
			position: absolute;
			right: 5px;
		}

		:global(.tc-list-item-definition-list) {
			width: $definition-width;
		}
	}
}
