@use "~@talend/design-tokens/lib/tokens";

.clickable {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1;
	background: transparent;
	transition: all tokens.$coral-transition-fast;

	&:disabled,
	&[aria-disabled='true'],
	&[aria-busy='true'] {
		cursor: not-allowed;
	}
}
