
@import '../common';

.action-left, .action-right  {
    @include nav-action-icon(12px);
}

.action-middle {
    @include main;
    @include nav-action-default;
    font-size: 16px;
}

.body {
    display: flex;

    .date {
        flex: 3;
    }

    .time {
        flex: 1;
        border-left: $border-default;
    }
}
