// Toolbar styles
$tc-list-toolbar-display-color: $silver !default;
$tc-list-toolbar-background-color: $concrete !default;

.tc-list-toolbar {
	background: $tc-list-toolbar-background-color;
	border-top: 1px solid $alto;
	border-bottom: 1px solid $alto;
	margin-bottom: 0;

	> :global(.container-fluid) {
		padding-left: 0;
	}

	:global(.navbar-btn) {
		margin-top: 0;
		margin-bottom: 0;
	}

	:global(.navbar-text) {
		color: $tc-list-toolbar-display-color;
		margin-right: 0;

		label {
			font-weight: 400;
			margin: 0;
		}
	}

	:global(.navbar-nav) {
		li a {
			color: $black;
			&:global(.dropdown-toggle) {
				text-transform: capitalize;
			}
		}
	}
}
