@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';
// Imported (almost) as-is from TDP

.box-plot {
	font: 11px 'Source Sans Pro', sans-serif;

	line,
	rect {
		fill: tokens.$coral-color-charts-default-strong;
		stroke: tokens.$coral-color-charts-neutral-strong;
		stroke-width: 1px;
	}

	&__whiskerPolyg {
		fill: none;
		stroke: tokens.$coral-color-charts-neutral-strong;
		stroke-width: 2;
	}

	&__center {
		stroke-dasharray: 3, 3;
	}

	&__mean {
		fill: white;
		opacity: 0.5;
		stroke: tokens.$coral-color-charts-default-strong;
		shape-rendering: geometricPrecision;
		stroke-width: 0.8;
	}

	&__max-min-labels {
		fill: tokens.$coral-color-charts-default;
	}

	&__low-quantile-labels {
		fill: tokens.$coral-color-charts-success-strong;
	}

	&__up-quantile-labels {
		fill: tokens.$coral-color-charts-danger-strong;
	}

	&__mean-labels {
		fill: tokens.$coral-color-charts-neutral-weak;
	}
}
