.information_withBackground {
	background-color: var(--coral-color-info-background, hsl(204, 59%, 88%));
	box-shadow: var(--coral-elevation-shadow-info, 0 0.0625rem 0.0625rem 0 hsla(204, 95%, 31%, 0.3));
}
.information__icon {
	color: var(--coral-color-info-icon, hsl(204, 88%, 40%));
}
