@use '@talend/design-tokens/lib/tokens' as tokens;

.information {
	&_withBackground {
		background-color: tokens.$coral-color-info-background;
		box-shadow: tokens.$coral-elevation-shadow-info;
	}

	&__icon {
		color: tokens.$coral-color-info-icon;
	}
}
