.tc-with-drawer {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tc-with-drawer-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.tc-with-drawer-wrapper {
    height: 100%;
}