/* stylelint-disable selector-no-qualifying-type */
@use '~@talend/design-tokens/lib/tokens';

.tf-tabs {
	li.has-error {
		> button {
			color: tokens.$coral-color-danger-text;

			&:hover {
				color: tokens.$coral-color-danger-text-hover;
			}

			&::after {
				border-color: tokens.$coral-color-danger-border;
			}
		}

		&:global(.active) > button {
			box-shadow: tokens.$coral-elevation-shadow-danger;
		}
	}
}
