@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

.container {
    @include main;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.calendar-row {
    display: flex;
}

.calendar-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.calendar-header {
    .calendar-row {
        color: $gray;

        abbr[title] {
           font-variant: none;
           border: none;
           text-decoration: none;
        }
    }
}

.separator {
    width: calc(100% - 2rem);
    border: none;
    border-bottom: $border-default;
    margin: 0 auto;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;

    .calendar-row {
        flex: 1;
    }
}
