@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

.container {
	width: 100%;
	position: relative;
}

.calendar-header {
	&:after {
		content: '';
		position: absolute;
		width: calc(100% - 2rem);
		top: 2rem;
		left: 1rem;
		border-bottom: $border-default;
	}

	th {
		text-align: center;
	}

	abbr {
		border: none;
		font-weight: normal;
		text-decoration: none;
	}
}

.calendar-row {
	height: 3.6rem;
	text-align: center;

	.calendar-day {
		&.today {
			background-color: $concrete;
		}

		@include picker-action;

		height: 2.4rem;
		width: 2.4rem;
		background: transparent;
		border: none;
		border-radius: 50%;
		line-height: 2.4rem;
		padding: 0;
	}
}
