/* stylelint-disable declaration-no-important */
.date-time-input-field {
	input {
		width: 100% !important;
	}

	:global(.date-picker) {
		> div {
			flex-basis: 75%;
			margin-right: 2px;
		}
	}

	:global(.time-picker) {
		> div {
			flex-basis: 50%;
			margin-right: 5px;
		}
	}
}
