$toolbar-height: 35px;

.toolbar-container {
	display: flex;
	height: $toolbar-height;

	:global(.name-filter),
	:global(.sort-options),
	:global(.state-filters) {
		margin-right: $padding-normal;
	}
}
