@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens';

$tc-resource-picker-toolbar-height: 2.1875rem !default;
$tc-resource-picker-height: 15.625rem !default;

.tc-resource-picker {
	:global {
		.tc-resource-list {
			&-items {
				height: $tc-resource-picker-height;
				margin-top: 0;
			}
		}

		.tc-resource-list-toolbar {
			height: $tc-resource-picker-toolbar-height;

			form {
				margin-top: 0;
			}

			> * {
				margin-left: 0;
			}
		}

		.resource-item {
			border-bottom: 0.0625rem solid tokens.$coral-color-neutral-border;
		}
	}
}
