$toolbar-height: 80px;
$resource-picker-height: 250px;

.resource-picker {
	height: $resource-picker-height - $toolbar-height;

	> .toolbar {
		height: $toolbar-height;
	}
	:global(.tc-list-list) {
		padding: 0;
	}
}
