$tc-resource-picker-toolbar-height: 3.5rem !default;
$tc-resource-picker-height: 25rem !default;

.tc-resource-picker {
	:global {
		.tc-resource-list {
			&-items {
				height: $tc-resource-picker-height;
				margin-top: 0;
			}
		}

		.tc-resource-list-toolbar {
			height: $tc-resource-picker-toolbar-height;

			form {
				margin-top: 0;
			}

			> * {
				margin-left: 0;
			}
		}

		.resource-item {
			border-bottom: 0.1rem solid $gallery;
			.tc-svg-icon {
				color: $dove-gray;
			}
		}
	}
}
