$tc-resource-picker-height: 25rem !default;

.resource-picker {
	.list-container {
		height: $tc-resource-picker-height;

		&.filtered {
			:global(.flags-container) {
				opacity: 1;
			}
		}
	}
	:global(.tc-list-list) {
		padding: 0;
	}
}
