.order-chooser {
	display: flex;

	:global(.btn) {
		padding: 0;

		&:hover,
		&:focus,
		&:active {
			color: inherit;
			box-shadow: none;
		}

		.order-indicator {
			width: 0.6rem;
			height: 0.6rem;
		}
	}
}
