@import '../../styles/mixins';

.btn {
    @include nav-action;
    display: flex;
    justify-content: center;
    align-content: center;
    color: $silver;

    .icon {
        width: $svg-sm-size;
    }
}
