@use '~@talend/design-tokens/lib/tokens';

.floating-drawer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: tokens.$coral-elevation-shadow-neutral-m;
	z-index: tokens.$coral-elevation-layer-overlay;
	transition: tokens.$coral-transition-fast;
	transform: translateX(100%);

	&[data-enter] {
		transform: translateX(0%);
	}
}
