$tc-resource-picker-toolbar-height: 3.5rem !default;

.tc-resource-picker-toolbar-container {
	display: flex;
	height: $tc-resource-picker-toolbar-height;

	> * {
		margin: 0 $padding-normal;
	}

	:global(.tc-resource-list-filter) {
		width: 100%;
	}
}
