/* stylelint-disable color-hex-case */
.tc-resource-picker-order-chooser {
	display: flex;
	padding: 0;
}
.tc-resource-picker-order-chooser:hover,
.tc-resource-picker-order-chooser:focus,
.tc-resource-picker-order-chooser:active {
	color: inherit;
	box-shadow: none;
}
.tc-resource-picker-order-chooser .tc-resource-picker-order-indicator {
	width: 0.375rem;
	height: 0.375rem;
}
.tc-resource-picker-order-chooser .tc-resource-picker-order-indicator.asc {
	transform: rotate(180deg);
}
