////
/// Side panel
/// @group Custom widgets
////

$list-item-hover-color: rgba($white, 0.12) !default;
$list-item-reverse-hover-color: rgba($white, 0.5) !default;
$list-item-color: $white !default;
$list-item-reverse-color: $brand-primary !default;
$toggle-button-opacity: 0.75;
$tc-side-panel-large-padding: 25px !default;
$tc-side-panel-minwidth: 200px !default;
$tc-side-panel-large-minwidth: 250px !default;
$tc-side-panel-docked-width: 60px !default;
$tc-side-panel-labels-width: 135px !default;
$tc-side-panel-large-docked-width: 60px !default;
$tc-side-panel-icons-size: $svg-lg-size;
$tc-side-panel-border-size: 2px !default;
$toggle-button-padding: $padding-large + 6;

.tc-side-panel {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	background: $list-item-reverse-color;

	.tc-side-panel-list {
		color: white;
		opacity: $toggle-button-opacity;

		> li {
			height: 55px;
		}
		:global {
			.tc-svg-icon {
				width: $tc-side-panel-icons-size;
				height: $tc-side-panel-icons-size;
				margin: 0;
			}
			.btn.btn-link {
				padding-left: $padding-large;
				> span {
					margin-left: 10px;
				}
			}
		}
	}
}

.toggle-btn {
	width: 24px;
	height: 70px;
	min-height: 70px;
	margin-left: 20px;
	padding: 0 0 0 0;
	text-align: center;
	line-height: 70px;

	:global {
		.tc-svg-icon {
			width: 1.2rem;
			height: 1.2rem;
			color: white;
			opacity: 0.75;
			margin: 6px 6px 6px 6px;
			&:hover {
				opacity: 1;
				background-color: $list-item-hover-color;
			}
		}
	}
}
