////
/// Side panel
/// @group Custom widgets
////

$list-item-hover-color: rgba($white, 0.12) !default;
$list-item-active-color: rgba($white, 0.25) !default;
$list-item-reverse-hover-color: rgba($white, 0.5) !default;
$list-item-color: $white !default;
$list-item-reverse-color: $brand-primary !default;
$toggle-button-opacity: 0.75;
$tc-side-panel-large-padding: 25px !default;
$tc-side-panel-width: 200px !default;
$tc-side-panel-large-width: 250px !default;
$tc-side-panel-docked-width: 50px !default;
$tc-side-panel-labels-width: 135px !default;
$tc-side-panel-large-labels-width: 165px !default;
$tc-side-panel-large-docked-width: 70px !default;
$tc-side-panel-icons-size: 20px !default;
$tc-side-panel-border-size: 2px !default;
$tc-side-panel-large-toggle-padding: 4px !default;
$toggle-button-padding: $padding-small - 1;

.tc-side-panel {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	&,
	> ul {
		width: $tc-side-panel-width;
		transition: 0.2s width ease-out;
	}

	:global(.tc-svg-icon) {
		width: $tc-side-panel-icons-size;
		height: $tc-side-panel-icons-size;
		margin: 0;
	}

	.toggle-btn {
		padding-bottom: $padding-normal + $padding-large;
		padding-left: $toggle-button-padding;
		text-align: left;

		:global {
			.btn.btn-link {
				color: $white;
				line-height: 1;
				padding: $padding-small;
				display: inline-block;
				width: auto;
				opacity: $toggle-button-opacity;
				margin: 0 auto;

				> span {
					// .sr-only
					position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					margin: -1px;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: none;
				}

				&:hover {
					opacity: 1;
					background-color: $list-item-hover-color;
				}

				.tc-svg-icon {
					width: $svg-sm-size;
					height: $svg-sm-size;
					transition: 0.2s transform ease-out;
				}
			}
		}
	}

	&.docked {
		&,
		> ul {
			width: $tc-side-panel-docked-width;
		}

		:global(.btn.btn-link) {
			padding: $padding-normal;

			> span {
				opacity: 0;
			}
		}

		.toggle-btn {
			:global {
				.btn.btn-link {
					padding: $padding-small;

					.tc-svg-icon {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}

	&.large {
		&,
		> ul {
			width: $tc-side-panel-large-width;
		}

		.toggle-btn {
			padding-left: $tc-side-panel-large-toggle-padding;

			:global(.btn.btn-link) {
				padding: $padding-small $tc-side-panel-large-padding;
			}
		}

		:global {
			.btn.btn-link {
				padding: $padding-normal $tc-side-panel-large-padding;

				> span {
					width: $tc-side-panel-large-labels-width;
				}

				.tc-svg-icon + span {
					margin-left: $tc-side-panel-large-padding;
				}
			}
		}

		&.docked {
			&,
			> ul,
			:global(.tc-action-list-item) {
				width: $tc-side-panel-large-docked-width;
			}
		}
	}

	&.reverse {
		background: $wild-sand;
		border-right: $tc-side-panel-border-size solid $alto;

		&:before {
			background-image: none;
		}
		.toggle-btn {
			background-color: $wild-sand;

			:global {
				.btn.btn-link,
				.tc-svg-icon {
					color: $dove-gray;
				}
			}
		}

		:global {
			.tc-action-list-item {
				color: $dove-gray;

				&:hover {
					background-color: $list-item-reverse-hover-color;

					.btn.btn-link {
						color: $dove-gray;
					}

					.tc-svg-icon {
						color: $silver;
					}
				}

				&.active {
					background-color: $list-item-color;

					.btn.btn-link,
					.tc-svg-icon {
						color: $brand-primary;
					}
				}
			}
		}
	}
}
