////
/// Side panel
/// @group Custom widgets
////

$list-item-hover-color: rgba($white, 0.12) !default;
$list-item-active-color: rgba($white, 0.25) !default;
$list-item-reverse-hover-color: rgba($white, 0.5) !default;
$toggle-button-opacity: 0.75;
$tc-side-panel-large-padding: 25px !default;
$tc-side-panel-width: 200px !default;
$tc-side-panel-large-width: 250px !default;
$tc-side-panel-docked-width: 50px !default;
$tc-side-panel-labels-width: 135px !default;
$tc-side-panel-large-labels-width: 165px !default;
$tc-side-panel-large-docked-width: 70px !default;
$tc-side-panel-icons-size: 20px !default;
$tc-side-panel-border-size: 2px !default;
$tc-side-panel-large-toggle-padding: 4px !default;
$toggle-button-padding: $padding-small - 1;

.tc-side-panel {
	overflow-x: hidden;
	padding: 0;
	transition: 0.2s width ease-out;
	width: $tc-side-panel-width;

	> ul {
		width: $tc-side-panel-width;
	}

	:global(.btn) svg:global(.tc-svg-icon) {
		width: $tc-side-panel-icons-size;
		height: $tc-side-panel-icons-size;
		margin: 0;
	}

	:global(.btn.btn-link) {
		padding: $padding-normal;
		text-overflow: inherit;
	}

	:global(.btn.btn-link) > span {
		vertical-align: middle;
		text-overflow: ellipsis;
		width: $tc-side-panel-labels-width;
		overflow: hidden;
	}

	&-list {
		border-right: $tc-side-panel-border-size solid $alto;
		background-color: $wild-sand;

		.tc-side-panel-list-item.active {
			background-color: $white;
			color: $brand-primary;
			&:hover {
				:global(.tc-svg-icon) {
					color: $brand-primary;
				}
			}
			.link {
				font-weight: bold;
			}
		}

		.tc-side-panel-list-item:hover {
			background-color: $list-item-reverse-hover-color;
			color: $dove-gray;
			:global(.tc-svg-icon) {
				color: $silver;
			}
		}

		&.nav-inverse {
			border-right: none;
			background-color: $brand-primary;

			.tc-side-panel-list-item:hover,
			.tc-side-panel-list-item.active {
				color: $white;
				:global(.tc-svg-icon) {
					color: $white;
				}
			}
			.tc-side-panel-list-item:hover {
				background-color: $list-item-hover-color;
			}

			.tc-side-panel-list-item.active {
				background-color: $list-item-active-color;
			}

			.toggle-btn {
				&:hover {
					color: $white;
				}
			}
		}
	}

	&.large {
		width: $tc-side-panel-large-width;
		> ul {
			width: $tc-side-panel-large-width;
		}

		.link {
			:global(.tc-svg-icon) + span {
				margin-left: $tc-side-panel-large-padding;
			}
		}

		:global(.btn.btn-link) > span {
			width: $tc-side-panel-large-labels-width;
		}

		&.docked {
			width: $tc-side-panel-large-docked-width;

			.tc-side-panel-list-item {
				width: $tc-side-panel-large-docked-width;
			}

			.nav-pills {
				.link {
					padding: $padding-normal $tc-side-panel-large-padding;
				}
			}

			.toggle-btn {
				padding-left: $tc-side-panel-large-toggle-padding;
				.link {
					padding: $padding-small $tc-side-panel-large-padding;
				}
			}
		}
	}

	.link {
		text-align: left;
		font-size: $font-size-small;
		text-transform: uppercase;

		:global(.tc-svg-icon) + span {
			margin-left: $padding-normal;
			vertical-align: text-bottom;
		}
	}

	&.docked {
		width: $tc-side-panel-docked-width;

		.tc-side-panel-list-item {
			width: $tc-side-panel-docked-width;
		}
		.nav-pills {
			.link {
				padding: $padding-normal;
			}

			.toggle-btn {
				:global(.tc-svg-icon) {
					transform: rotate(-180deg);
				}
			}
		}

		.toggle-btn {
			.link {
				padding: $padding-small;
			}
		}
	}

	.toggle-btn {
		margin-bottom: $padding-normal + $padding-large;
		text-align: left;
		padding-left: $toggle-button-padding;

		:global(.btn.btn-link) {
			outline: none;
			padding: $padding-small;
			display: inline-block;
			width: auto;
			opacity: $toggle-button-opacity;
			margin: 0 auto;

			&:hover {
				opacity: 1;
				background-color: $list-item-hover-color;
			}

			:global(.tc-svg-icon) {
				width: $svg-sm-size;
				height: $svg-sm-size;
				transition: 0.2s transform ease-out;
			}
		}

		:global(.btn.btn-link) > span {
			display: none;
		}

		&:hover {
			background-color: transparent;
			color: $silver-chalice;
		}
	}
}
