.tc-badge-faceted {
	padding: $padding-smaller $padding-small $padding-smaller $padding-small;
	max-width: 35em;

	:global(.tc-badge-button) {
		max-width: none;
	}
	:global(.tc-badge-button:first-child) {
		flex-grow: 1;
		padding-top: 0;
		margin: 0;
		> span {
			align-self: center;
		}
	}

	:global(.tc-badge-delete-icon) {
		align-self: center;
		padding-left: $padding-small;
	}

	&-overlay {
		align-items: center;
		display: flex;
		& > button {
			font-style: italic;
			padding: 0;
			text-transform: none;
			&:hover,
			&:visited {
				text-decoration: none;
			}
			> span {
				display: block;
				overflow: hidden;
				max-width: 10rem;
				text-overflow: ellipsis;
			}
			> span:not(:first-child):before {
				content: '|';
				position: relative;
				top: -1px;
				opacity: 0.5;
				padding: 0 $padding-smaller;
			}
		}
	}
}
