@use '~@talend/design-tokens/lib/tokens';

// stylelint-disable scss/selector-no-redundant-nesting-selector
.tc-badge-faceted {
	padding: tokens.$coral-spacing-xxs tokens.$coral-spacing-xs;
	max-width: tokens.$coral-sizing-maximal;

	:global(.tc-badge-button) {
		max-width: none;
	}

	:global(.tc-badge-button:first-child) {
		flex-grow: 1;
		padding-top: 0;
		margin: 0;

		> span {
			align-self: center;
		}
	}

	:global(.tc-badge-delete-icon) {
		align-self: center;
		padding-left: tokens.$coral-spacing-xs;
	}

	&-overlay {
		align-items: center;
		display: flex;

		& > button {
			font-style: italic;
			padding: 0;
			text-transform: none;

			&:hover,
			&:visited {
				text-decoration: none;
			}

			> span {
				display: block;
				overflow: hidden;
				max-width: 10rem;
				text-overflow: ellipsis;
			}

			> span:not(:first-child)::before {
				content: '|';
				position: relative;
				top: -1px;
				opacity: 0.5;
				padding: 0 tokens.$coral-spacing-xxs;
			}
		}
	}
}
