.checkbox {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	> dt > :global(label.control-label) {
		color: inherit;
		font-size: inherit;
	}

	.icon {
		height: 1.5rem;
		width: 1.5rem;
		margin-right: $padding-normal;

		&.cross {
			height: 1.3rem;
		}
	}
}
