.colored-bar--value.colored-bar__primary-bar {
	fill: var(--coral-color-charts-default-weak, hsl(204, 59%, 73%));
}
.colored-bar--value.colored-bar__label {
	color: var(--coral-color-charts-default-strong, hsl(204, 92%, 29%));
}
.colored-bar--value.colored-bar--hover {
	fill: var(--coral-color-charts-default-strong, hsl(204, 92%, 29%));
}
.colored-bar--value.colored-bar--hover.colored-bar__label {
	color: var(--coral-color-charts-default-weak, hsl(204, 59%, 73%));
}
.colored-bar--pattern.colored-bar__primary-bar {
	fill: var(--coral-color-charts-warning-weak, hsl(22, 88%, 84%));
}
.colored-bar--pattern.colored-bar__label {
	color: var(--coral-color-charts-warning-strong, hsl(22, 75%, 42%));
}
.colored-bar--pattern.colored-bar--hover {
	fill: var(--coral-color-charts-warning-strong, hsl(22, 75%, 42%));
}
.colored-bar--pattern.colored-bar--hover.colored-bar__label {
	color: var(--coral-color-charts-warning-weak, hsl(22, 88%, 84%));
}
.colored-bar__label-container {
	pointer-events: none;
	font: var(--coral-paragraph-s-bold, 600 0.75rem/140% 'Source Sans Pro');
}
.colored-bar__label {
	display: inline-flex;
	align-items: center;
	height: 100%;
}
.colored-bar__secondary-bar {
	fill: var(--coral-color-charts-neutral-weak, hsl(0, 0%, 83%));
}
