@import '../bar-chart';

$module: colored-bar;

.#{$module} {
	@mixin colored-bar($style, $primaryColor, $secondaryColor) {
		&--#{$style}.colored-bar__primary-bar {
			fill: $primaryColor;
		}

		&--#{$style}.colored-bar__label {
			color: $secondaryColor;
		}

		&--#{$style}.colored-bar--hover {
			fill: $secondaryColor;

			&.colored-bar__label {
				color: $primaryColor;
			}
		}
	}

	&__label-container {
		font-size: 1.2rem;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: $font-weight-semi-bold;
	}

	&__label {
		display: inline-flex;
		align-items: center;
		height: 100%;
	}

	&__secondary-bar {
		fill: $alto;
	}

	@include colored-bar('value', $value-bar-primary-color, $value-bar-secondary-color);

	@include colored-bar('pattern', $pattern-bar-primary-color, $pattern-bar-secondary-color);
}
