/* stylelint-disable scss/selector-no-redundant-nesting-selector */
@use '@talend/design-tokens/lib/tokens' as tokens;

.table {
	.nativevalue {
		font: tokens.$coral-data-m;
		color: tokens.$coral-color-neutral-text;
		padding: 0;
	}

	&:global(.table) > thead > tr {
		background-color: tokens.$coral-color-accent-background-strong;
		color: tokens.$coral-color-accent-text-weak;

		& > th {
			font: tokens.$coral-heading-s;
		}

		& > td {
			padding: tokens.$coral-spacing-xxs;
		}
	}

	&:global(.table) > tbody > tr > td {
		padding: tokens.$coral-spacing-xxs;

		:global(.btn) {
			text-transform: none;
		}
	}

	:global(.btn-link) {
		font-size: 12px;
		color: tokens.$coral-color-neutral-text-weak;
		padding: 0;
	}
}
