.table {
	font-size: 12px;

	td {
		line-height: 25px;
	}

	&:global(.table-hover) >tbody > tr:hover {
		font-weight: initial;
	}

	&:global(.table) > thead > tr {
		background-color: $brand-primary-dark;
		color: $white;
		font-family: 'Source Sans Pro';
		text-transform: uppercase;

		& > td {
			padding: $padding-smaller;
		}
	}

	&:global(.table) > tbody > tr > td {
		padding: $padding-smaller;

		:global(.btn) {
			text-transform: none;
			letter-spacing: 0;
		}
	}

	:global(.btn-link) {
		font-family: 'Inconsolata';
		font-size: 12px;
		color: $black;
		padding: 0;
	}
}
