.grid {
	height: 100%;
	width: 100%;
	/* ==== PIN ==== */
	:global(.ag-pinned-left-header) {
		border: #e6e6e6 1px solid;
	}

	:global(.ag-pinned-left-header .ag-react-container) {
		height: 100%;
	}

	:global(.ag-cell.ag-cell-last-left-pinned) {
		padding: 9px;
		color: #202020;
		border-color: #e6e6e6;
	}

	/* ==== COLUMN ====  */

	:global(.column-focus) {
		background-color: violet;
	}

	/* ==== BODY ==== */
	:global(.ag-body) {
		background-color: #fafafa;
	}

	:global(.ag-cell) {
		border-right: #f6f6f6 1px solid;
		border-bottom: #f6f6f6 1px solid;
	}

	:global(.ag-row-focus) {
		background-color: DeepSkyBlue;
	}

	:global(.ag-row-selected) {
		background-color: DeepSkyBlue;
	}

	:global(.ag-cell.ag-cell-focus:not(.ag-cell-last-left-pinned)) {
		background-color: white;
	}
}
