/* stylelint-disable color-hex-case */
.tc-list-checkbox :global(.checkbox) {
	margin: 0;
	display: flex;
}
.tc-list-checkbox :global(.checkbox) label {
	line-height: 0.9375rem;
	min-height: 0.9375rem;
	display: flex;
	padding-left: 20px;
	margin-bottom: 0;
}
