.card {
  width: calc(var(--coral-sizing-maximal, 20rem) * 1.5);
  margin: 0 auto;
  padding: var(--coral-spacing-m, 1rem);
  background: var(--coral-color-neutral-background, white);
  border-radius: var(--coral-radius-m, 0.5rem);
  box-shadow: var(--coral-elevation-shadow-neutral-s, 0 0.0625rem 0.125rem 0 hsla(0, 0%, 0%, 0.5));
  color: var(--coral-color-neutral-text, hsl(0, 0%, 13%));
  font: var(--coral-paragraph-m, 400 0.875rem/140% "Source Sans Pro");
}