.btn {
	display: flex;
	font-size: 0.5rem !important;
	svg {
		visibility: hidden;
	}

	&:hover svg {
		visibility: visible;
	}
}

.lang {
	text-align: left;
	display: inline-block;
	padding-right: 4px;
	display: none;
}
