/* stylelint-disable declaration-no-important */
@use '@talend/design-tokens/lib/tokens' as token;

.btn {
	display: flex;
	font-size: 0.3125rem !important;
	align-items: center;
	gap: 4px;

	svg {
		visibility: hidden;
	}

	&:hover {
		color: hsla(204, 95%, 31%, 1);
		font-weight: bold;

		svg {
			visibility: visible;
		}
	}
}

.lang {
	text-align: left;
	padding-right: 4px;
	display: none;
}
