@use '~@talend/design-tokens/lib/tokens';

.btn {
	display: flex;
	font-size: 0.5rem !important;
	align-items: center;
	gap: 4px;

	svg {
		visibility: hidden;
	}

	&:hover {
		color: tokens.$coral-color-accent-text;
		font-weight: bold;
		svg {
			visibility: visible;
		}
	}
}

.lang {
	text-align: left;
	display: inline-block;
	padding-right: 4px;
	display: none;
}
