.popper {
	width: 19.375rem;
	background: var(--coral-color-neutral-background, white);
	box-shadow: var(--coral-elevation-shadow-neutral-m, 0 0.125rem 0.375rem 0 hsla(0, 0%, 0%, 0.3));
	z-index: var(--coral-elevation-layer-interactive-front, 8);
}

.date-picker {
	display: flex;
	width: fit-content;
}
.date-picker :global(.range-input) {
	display: flex;
	flex-direction: column;
	gap: var(--coral-spacing-xxs, 0.25rem);
}
