@use '../../../../tokens';

.listItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: tokens.$coral-spacing-l;

  &__demo {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__description {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: tokens.$coral-spacing-xxs;
    width: 42%;
  }

  &__values {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: tokens.$coral-spacing-xxs;
    flex-grow: 1;
    flex-shrink: 1;
    color: tokens.$coral-color-neutral-text-weak;
    width: 58%;

    > code {
      font: tokens.$coral-data-m;
    }
  }
}



.tokenName {
  font: tokens.$coral-heading-m;
  color: tokens.$coral-color-neutral-text;
}

.tokenDescription {
  font: tokens.$coral-paragraph-m;
  color: tokens.$coral-color-neutral-text-weak;
}
