@use '@talend/design-tokens/lib/tokens';

.listItem {
  display: grid;
  grid-template-columns: tokens.$coral-sizing-xxxl 1fr 1fr;
  column-gap: tokens.$coral-spacing-l;

  &__demo {
    flex-grow: 0;
    flex-shrink: 0;
    grid-column: 1 / span 1;
  }

  &__description {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: tokens.$coral-spacing-xxs;
    flex-grow: 1;
    flex-shrink: 0;
    grid-column: 2 / span 1;
  }

  &__values {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: tokens.$coral-spacing-xxs;
    color: tokens.$coral-color-neutral-text-weak;
    flex-grow: 1;
    flex-shrink: 0;
    grid-column: 3 / span 1;

    > code {
      font: tokens.$coral-data-m;
      background: transparent;
    }
  }
}



.tokenName {
  font: tokens.$coral-heading-m;
  color: tokens.$coral-color-neutral-text;
}

.tokenDescription {
  font: tokens.$coral-paragraph-m;
  color: tokens.$coral-color-neutral-text-weak;
}
