@use '@talend/design-tokens/lib/tokens' as token;

// List styles
.container {
	> li {
		padding-top: tokens.$coral-spacing-xxs;
		padding-bottom: tokens.$coral-spacing-xxs;
		border-bottom: 1px solid tokens.$coral-color-neutral-border;
	}
}
