@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;

// List styles
.container {
	> li {
		padding-top: $padding-smaller;
		padding-bottom: $padding-smaller;
		border-bottom: 1px solid $concrete;
	}
}
