@use '~@talend/design-tokens/lib/tokens' as tokens;
.signup-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.signup-cta__text {
    margin-bottom: 2rem;
    font: tokens.$coral-heading-s;
    color: tokens.$coral-color-neutral-text;
}
