@use '~@talend/design-tokens/lib/tokens';

.rich-cell-editor {
	&__skeleton {
		min-height: 100%;
		display: flex;
		align-items: center;
		padding: 0 tokens.$coral-spacing-xs;
	}

	&--loading {
		height: 100%;
	}

	&--datalist {
		&,
		[class*='Datalist__tc-datalist-item'],
		[class*='Typeahead__tc-typeahead-container'],
		input {
			height: 100%;
		}

		[class*='Typeahead__items-container'] {
			margin-top: 0;
		}
	}
}
