
@import '../../shared/common';

.action-left {
    .action-left-icon {
        width: 16px;
    }
}

.body {
    display: flex;
    border-top: $border-default;
    background-color: $wild-sand;

    .month {
        flex: 3;
    }

    .year {
        flex: 1;
        border-left: $border-default;
    }
}
