.tf-array-text-mode {
	ol {
		list-style: none;
		padding-left: 0;

		li {
			padding-left: $padding-larger;

			&.block {
				border-left: 2px solid $silver;
			}

			:global(.form-group) {
				padding-top: 0;
			}
		}
	}
}
