:global {
  .recharts-cartesian-axis-tick-value {
    font-size: 12px;
    font-family: 'Source Sans Pro';
    color: $dove-gray;
  }

  .recharts-legend-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    .recharts-legend-item {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      &.legend-selected {
        font-weight: 600;
      }
      svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}
