@use '@talend/design-tokens/lib/tokens';


.colorSwatch {
  display: inline-block;
  height: tokens.$coral-sizing-minimal;
  width: tokens.$coral-sizing-xxxs;
  border-radius: tokens.$coral-radius-m;
  border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: tokens.$coral-spacing-m;
  align-items: start;
}

.title {
  color: tokens.$coral-color-neutral-text;
  font: tokens.$coral-heading-m;
}
