// SideMenu styles
$tlnd-side-menu-bg-color: #607D8B !default;
$tlnd-side-menu-txt-color: #fff !default;

.sideMenu{
  background-color: $tlnd-side-menu-bg-color;
  height: 100%;
  .sideMenuLink, .sideMenuLink:hover{
    color: $tlnd-side-menu-txt-color;
    padding: 20px;
    display: block;
    font-size: 1.3em;
    > span {
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
}
