$tc-drawer-content-max-width: 65rem !default;

.uiform {
	font-size: 1.6rem;

	:global(.tf-title-text-mode) {
		font-size: 1.7rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #555;
	}
}

:global(.tc-drawer-container),
:global(.modal-body) {
	.uiform {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
		overflow: hidden; /* IE11 fix to show scrollbars properly */
	}

	.form-content {
		flex-grow: 1;
		min-height: 0;
		overflow-y: auto;
	}
}
:global(.tc-drawer-container) {
	.form-content,
	.form-actions {
		padding: $padding-normal;
	}
	.form-actions {
		background-color: $wild-sand;
		width: 100%;
	}
}

@media screen and (min-width: $screen-xs-max) {
	:global(.stacked) :global(.tc-drawer-container) {
		.form-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;

			> * {
				width: calc(#{$tc-drawer-content-max-width} - 2 * #{$padding-normal});
			}
		}
		:global(.form-actions) {
			padding: 0 $padding-normal;
			max-width: $tc-drawer-content-max-width;
			margin: auto;
		}
	}
}
