:global(.tc-drawer-container) {
	> .uiform {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
	}

	.form-content {
		flex-grow: 1;
		min-height: 0;
		padding: 10px;
		overflow-y: auto;
	}

	.form-actions {
		padding: 0;
		width: 100%;
		padding: $padding-small;
		background-color: $wild-sand;
		:global(.form-actions) {
			max-width: 650px;
			margin: auto;
		}
	}
}
