// JSONLike styles
.container {
	display: block;

	svg {
		padding: 2px;
		margin-right:5px;
	}

	li {
		list-style-type: none;
		font-size: 1rem;
		display: flex;
	}

	button {
		font-size : 1.4rem;
	}

	button > sup {
		top : -1;
		margin-left: 15px;
	}

	.link {
		cursor: pointer;
	}

	.opened {
		color: red;
	}

	.widerIconSelection {
		display : inline-flex;
		width: 9px;
		height: 9px;
		color: $scooter;
		padding: 0px;
	}

	.unselectedLineHover:hover {
		background-color: green;
	}

	:global(.btn) {
		text-transform: none;
	}

	.name:after {
		content: ':  ';
	}

	sup {
		top: -0.2em;
		height: 9px;
		width: 9px;
		border-width: 1px;
		background-color: rgba($wedgewood, 0.3);
		color: $wedgewood !important;
		font-family: 'Source Sans Pro';
		font-size: 10px;
		padding: 2px 5px;
		color : $white;
		display :inline-table;
		margin-left: 10px;
	}

	sup selected{
		background-color: rgba($wedgewood, 1);
	}

	sup::before {
		margin-right : 15px;
	}

	.rootLabelOverflow {
		white-space: nowrap;
		overflow: hidden;
		max-width: 25%;
		text-overflow: ellipsis;
	}

	.selectedBadge{
		background-color :rgba(93,136,170, 0.75);
		color: $black !important;
	}

	.selectedLine {
		background-color :rgba(93,136,170, 0.1);
		opacity: 0.75;
		color: $black !important;
	}

	.lineKey {
		font-family: 'Source Sans Pro';
		font-size: 14px;
		opacity: 0.75;
		padding-left : 5px;
		display:inline;
		color:$black;
	}

	.lineValue {
		font-family: 'Source Sans Pro';
		font-size: 15px;
		vertical-align: baseline;
		color: $wedgewood;
		display:inline;
	}

	.lineValueSelected {
		font-family: 'Source Sans Pro';
		font-size: 14px;
		vertical-align: baseline;
		display:inline;
	}

	.lineType {
		font-family: 'Inconsolata';
		font-size: 14px;
		color: $dark-silver;
		opacity: 0.75;
		display:inline;
		margin-right : 15px;
		margin-left : 4px;
		vertical-align: top;
	}

	.verticalLine {
		border-left: solid 1px $alto;
		margin-left : 4px;
		margin-bottom: 8px;
	}
}
