// JSONLike styles
.container {
	display: block;

	li {
		list-style-type: none;
		font-size: 1rem;
	}

	button{
		font-size : 1.4rem;
	}

	.opened {
		color: red;
	}

	:global(.btn) {
		text-transform: none;
	}

	.name:after {
		content: ':';
	}

	.rootLabelOverflow{
		white-space: nowrap;
		overflow: hidden;
		max-width: 25%;
		text-overflow: ellipsis;
	}
	
}
