@use '~@talend/design-tokens/lib/tokens';

.apply-to-identical-values {
	min-width: 30rem;
	background-color: tokens.$coral-color-neutral-background;
	padding: tokens.$coral-spacing-m tokens.$coral-spacing-s tokens.$coral-spacing-s;

	display: flex;
	flex-direction: column;
	row-gap: tokens.$coral-spacing-m;
}
