$tc-listview-normal-padding: $padding-normal !default;
$tc-listview-smaller-padding: $padding-smaller !default;
$tc-listview-small-padding: $padding-small !default;
$tc-listview-item-height: 3.3rem !default;

$tc-listview-item-error-background-color: $white !default;
$tc-listview-item-error-color: $chestnut-rose !default;
$tc-item-padding-top-bottom: 7px !default;
$tc-listview-input-margin: 10px;
$tc-listview-item-font-size: 14px;
$tc-listview-item-error-padding: 0 $padding-normal;

:global(.checkbox) {
	margin-left: 5px;
}

.tc-listview-item {
	position: relative;
	display: flex;
	height: $tc-listview-item-height;

	:global(button:disabled) {
		padding: 0 $tc-listview-normal-padding;
		height: $tc-listview-item-height;
	}

	:global(.btn-link) {
		padding: 0;
		height: $tc-listview-item-font-size;
		outline: none;

		:global(.tc-svg-icon) {
			height: $tc-listview-item-font-size;
			width: $tc-listview-item-font-size;
			margin-right: 0;
			vertical-align: top;
		}
	}

	.tc-listview-item-label {
		flex-grow: 1;
		background: transparent no-repeat;
		border: none;
		overflow: hidden;
		outline: none;
		box-shadow: none;
		text-align: left;
		user-select: none;
	}

	.tc-listview-item-actions {
		display: flex;
		flex-grow: 0;
		margin: auto $tc-listview-smaller-padding;
	}

	.editable {
		visibility: hidden;
	}

	:global(.checkbox-container) {
		display: inline-flex;
		flex-basis: 100%;

		:global(.checkbox) {
			margin: {
				top: auto;
				bottom: auto;
			}
		}
	}

	input[type='text'] {
		padding: 0;
		font-size: 1.2rem;
		line-height: $tc-listview-item-height;
	}

	.tc-listview-item-error {
		font-size: 12px;
		position: absolute;
		top: calc(100% - #{$padding-small});
		background-color: $tc-listview-item-error-background-color;
		width: 100%;
		color: $tc-listview-item-error-color;
		padding: $tc-listview-item-error-padding;
		z-index: 1;
	}

	&:hover {
		background: $white;

		.tc-listview-item-actions {
			visibility: visible;
		}

		&:not(.selected-item) {
			background-color: rgba(250, 250, 250, 1);
		}
	}
}
