$tc-listview-item-height: 3.3rem !default;

:global(.tc-listview .checkbox) {
	margin-left: 5px;
}

.tc-listview-item {
	position: relative;
	display: flex;
	height: $tc-listview-item-height;

	.tc-listview-item-label {
		flex-grow: 1;
		background: transparent no-repeat;
		border: none;
		overflow: hidden;
		outline: none;
		box-shadow: none;
		text-align: left;
		user-select: none;
	}

	:global(.checkbox-container) {
		display: inline-flex;
		flex-basis: 100%;

		:global(.checkbox) {
			margin: {
				top: auto;
				bottom: auto;
			}
		}
	}

	&:hover {
		background: $white;

		&:not(.selected-item) {
			background-color: rgba(250, 250, 250, 1);
		}
	}
}
