@use '~@talend/design-tokens/lib/tokens';

.enumeration {
	border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border;
	border-radius: tokens.$coral-radius-m;
	min-width: 300px;
	max-width: 100%;
	overflow: hidden;
	width: fit-content;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__header {
		border-bottom: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border;
		padding: tokens.$coral-spacing-s;

		h4 {
			font: tokens.$coral-heading-m;
		}
	}

	&__title {
		align-items: center;
		display: flex;
		margin-bottom: tokens.$coral-spacing-s;

		hr {
			margin-left: tokens.$coral-spacing-xs;
		}
	}

	&__title h4,
	p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: tokens.$coral-spacing-xxs;
	}

	&__body {
		&--item {
			align-items: center;
			background-color: tokens.$coral-color-neutral-background;
			display: flex;
			justify-content: space-between;
			padding: tokens.$coral-spacing-xxs tokens.$coral-spacing-s;
			transition: background-color tokens.$coral-transition-fast;

			&:hover {
				background-color: tokens.$coral-color-neutral-background-medium;
			}
		}
	}
}
