@use '@talend/design-tokens/lib/tokens';

.enumeration {
	border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border;
	border-radius: tokens.$coral-radius-m;
	min-width: 300px;
	max-width: 100%;
	overflow: hidden;
	width: fit-content;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	h4,
	p,
	label {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: tokens.$coral-spacing-xxs;
	}
}
