.pokemon-list {
	flex: 1 1 10rem;

	:global{
		.tc-list-cell-id {
			flex: 0 0 6rem;
		}
		.tc-list-image-cell {
			flex: 0 0 13rem;
		}
	}
}

.loader {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
