:global {
	$data-type-font: Inconsolata, Monaco, Menlo, Consolas, Courier New, mono;

	.table-container {
		&,
		> div,
		> div > div {
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}

	.tc-table {
		margin: 4px;
		padding: 4px;
	}

	.tc-table-row {
		height: 25px;
		background-color: #fff;
	}

	.tc-table-row-data-type {
		font-family: $data-type-font;
		font-size: 0.9em;
		min-width: 100px;
		float: right;
		text-align: right;
		color: #66bdff;
	}

	.tc-table-row-data-description {
		color: #aaa;
		font-style: italic;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 2px;
	}

	.highlighted {
		background-color: #f2f2f2;
	}

	.story-table {
		width: 600px;
		height: 300px;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 0;
		margin-top: 2px;
		margin-bottom: 2px;
		position: relative;
	}

	.story-table .tc-table-row-data-type {
		text-align: left;
	}

	.tc-table.story-table table {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		white-space: nowrap;
	}

	.tc-table.story-table thead {
		display: block;
		width: 100%;
		height: 30px;
	}

	.tc-table.story-table tbody {
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
	}

	.tc-table.story-table .tr-head {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.tc-table.story-table .tr-body {
		display: flex;
		justify-content: flex-start;
	}

	.tc-table.story-table tr {
		td:nth-child(1),
		th:nth-child(1) {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
			width: 150px;
		}
		td:nth-child(2),
		th:nth-child(2) {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
			width: 100px;
		}
		td:nth-child(3),
		th:nth-child(3) {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
		}
	}

	.table-with-dnd table {
		overflow: hidden;
	}

	.draggable-row {
		td:first-child {
			position: relative;
			div[draggable='true'] {
				.tc-table-clickable-cell {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 100vw;
				}
			}
		}
	}

	.default-table table {
		thead {
			background-color: #aadbff;
			border-bottom: 1px solid #ddd;
		}
		tbody {
			tr {
				border-bottom: 1px solid #ddd;
			}
			tr:nth-child(even) {
				background-color: #f2f2f2;
			}
			tr:hover {
				background-color: #ddd;
			}
		}
	}
}
