.skeletonHeading {
  max-width: var(--coral-sizing-maximal, 20rem);
}
.skeletonHeading.size-L {
  height: 1.125rem;
}
.skeletonHeading.size-M {
  height: 1rem;
}
.skeletonHeading.size-S {
  height: 0.875rem;
}
.skeletonHeading.width-XS {
  max-width: 10%;
}
.skeletonHeading.width-S {
  max-width: 20%;
}
.skeletonHeading.width-M {
  max-width: 40%;
}
.skeletonHeading.width-L {
  max-width: 60%;
}
.skeletonHeading.width-XL {
  max-width: 80%;
}
.skeletonHeading.width-100 {
  max-width: 100%;
}