@use '~@talend/design-tokens/lib/tokens';
@use '../../Form/Primitives/mixins' as Form;

.skeleton-input {
	height: Form.$standardInputHeight;

	&__label {
		width: 100%;
		max-width: calc(#{tokens.$coral-sizing-l} * 2);
	}
}
