han:global(.tc-typeahead-section-header) {
	padding: $padding-normal;
	border-top: none;
	border-bottom: none;

	&-title {
		font-size: 1.2rem;
	}
}

.item {
	margin-bottom: 0;
	padding: $padding-normal;
	cursor: pointer;
	white-space: pre;
	align-items: center;

	&-highlighted,
	&:hover {
		background-color: $concrete;

		&.selected {
			background-color: #ccdce8;
		}
	}

	&.selected {
		background-color: rgba($scooter, 0.2);
	}
}