.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--coral-spacing-s, 0.75rem);
}
.container .header :global(.btn-icon-only) {
  padding: 0 var(--coral-spacing-xxs, 0.25rem);
}
.container .header :global(.btn-icon-only) span {
  display: none;
}
.container .body {
  flex: 1 1 auto;
}
.container .element-container > * {
  width: 100%;
  height: 100%;
}