@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

.container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: $padding-small;

		:global(.btn-icon-only) {
			padding: 0 $padding-smaller;

			svg {
				width: $svg-sm-size;
			}
			span {
				display: none;
			}
		}
	}

	.body {
		flex: 1 1 auto;

		&.date-body {
			&:after {
				@include picker-underline-base;
				@include picker-underline-date;
				display: block;
				margin-left: $padding-small;
				margin-top: $padding-smaller;
			}
		}

		&.month-body {
			&:after {
				@include picker-underline-base;
				display: block;
				margin-top: $padding-normal;
			}
		}
	}

	.element-container > * {
		width: 100%;
		height: 100%;
	}
}
