.container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.header {
		padding: 0 15px;
		display: flex;
		height: 5rem;
		margin-bottom: $padding-normal;

		.left,
		.right {
			flex: 1;
		}

		.middle {
			flex: 4;
		}

		:global(.btn-icon-only) {
			padding: 0;

			svg {
				width: $svg-sm-size;
			}
			span {
				display: none;
			}
		}
	}

	.body {
		flex: 1 1 auto;
		padding: 0 15px;
		padding-bottom: $padding-larger;
	}

	.element-container > * {
		width: 100%;
		height: 100%;
	}

	.footer {
		align-items: center;
		padding: 10px 15px;
		background: $wild-sand;
	}
}
