@use '@talend/design-tokens/lib/tokens';

.sizingScale {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  gap: tokens.$coral-spacing-m;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  max-width: 100%;

  &_tooltip {
    font: tokens.$coral-data-m;
  }

  &_element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: tokens.$coral-radius-m;
    background: tokens.$coral-color-accent-background;
    border: tokens.$coral-border-s-solid transparent;
    max-height: 6rem;
    transition: tokens.$coral-transition-fast;
    color: tokens.$coral-color-accent-text-strong;

    .icons {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .copyIcon {
        opacity: 1;
        position: relative;
        transition: all tokens.$coral-transition-fast;
        line-height: 0;

        &_hidden {
          opacity: 0;
          top: -25%;
        }
      }

      .validIcon {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 70%;
        transform: translateY(-50%);
        transition: all tokens.$coral-transition-fast;
        line-height: 0;

        &_visible {
          opacity: 1;
          top: 50%;
        }
      }
    }

    &:hover {
      background: tokens.$coral-color-accent-background-hover;
      border: tokens.$coral-border-s-solid tokens.$coral-color-accent-border-hover;
      color: tokens.$coral-color-accent-text-hover;
    }
  }
}
