// ItemTitle styles
$tc-list-item-title-icon-size: $svg-lg-size !default;

.item-title {
	display: flex;
	min-width: 0;

	.icon {
		flex-shrink: 0;
		height: $tc-list-item-title-icon-size;
		width: $tc-list-item-title-icon-size;
		vertical-align: middle;

		+ input {
			margin-left: $padding-normal;
			width: auto;
		}
	}

	button {
		flex: 1 1 auto;
		text-align: left; // because of Bootstrap .btn style
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: none;
		letter-spacing: 0;

		&:first-child {
			padding-left: 0;
		}
	}
}
