////
/// Breadcrumb
/// @group Custom widgets
////

:global(.tc-breadcrumb):global(.breadcrumb) {
	> li {
		margin: 0;

		& + li {
			margin: 0;

			&:before {
				border: none;
				box-shadow: none;
			}
		}
	}
}
