/* stylelint-disable color-hex-case */
.tc-breadcrumb :global(.tc-dropdown-button) {
	padding: 0;
}
.tc-breadcrumb.loading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	height: 3.125rem;
}
.tc-breadcrumb.loading :global(.tc-skeleton) {
	margin: 0 5px;
}
