@use '~@talend/design-tokens/lib/_tokens.scss';

.stepper-form {
	display: flex;
	height: calc(100% - tokens.$coral-sizing-m * 2);
	padding: tokens.$coral-sizing-m 0;

	&__header {
		&__title {
			font: tokens.$coral-heading-l;
		}

		&__subtitle {
			font: tokens.$coral-paragraph-m;
			color: tokens.$coral-color-neutral-text-weak;
		}
	}

	&__steps {
		display: flex;
		height: fit-content;
		padding-right: tokens.$coral-spacing-l;
		width: 12.5rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding-right: tokens.$coral-spacing-l;
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;
		padding-top: tokens.$coral-spacing-l;
		overflow: hidden;
	}

	&__footer {
		display: flex;

		hr {
			max-height: tokens.$coral-sizing-xxxs;
		}
	}

	&__loading {
		width: 50%;
	}
}
