@use '@talend/design-tokens/lib/tokens';

.breakpointScale {
  display: flex;
  flex-flow: column nowrap;
  gap: tokens.$coral-spacing-m;
  justify-content: stretch;
  align-items: stretch;
  list-style-type: none;
  max-width: 100%;

  > li {
    display: block;
    position: relative;
  }

  &_tooltip {
    font: tokens.$coral-data-m;
    text-align: left;
  }

  &_element {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    gap: tokens.$coral-spacing-m;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    border-radius: tokens.$coral-radius-m;
    background: transparent;
    border: none;
    height: tokens.$coral-sizing-m;
    color: tokens.$coral-color-accent-text-strong;
    scrollbar-width: thin;

    &:before,
    &:after {
      content: "";
      display: block;
      width: calc(#{tokens.$coral-sizing-l} * 2);
      position: absolute;
      height: 100%;
      top: 0;
      z-index: tokens.$coral-elevation-layer-overlay;
      opacity: 0;
      transition: opacity tokens.$coral-transition-fast;
    }

    &:before {
      left: 0;
      background: linear-gradient(to right, #{tokens.$coral-color-neutral-background}, transparent);
    }

    &:after {
      right: 0;
      background: linear-gradient(to left, #{tokens.$coral-color-neutral-background}, transparent);
    }

    &__overflowRight:after {
      opacity: 1;
    }

    &__overflowLeft:before {
      opacity: 1;
    }

    .icons {
      flex-shrink: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: tokens.$coral-color-accent-background-weak;
      border-radius: tokens.$coral-radius-round;
      width: tokens.$coral-sizing-s;
      height: tokens.$coral-sizing-s;
      transition: all tokens.$coral-transition-fast;

      .copyIcon {
        opacity: 1;
        position: relative;
        transition: all tokens.$coral-transition-fast;
        line-height: 0;

        &_hidden {
          opacity: 0;
          top: -25%;
        }
      }

      .validIcon {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translateY(-50%) translateX(-50%);
        transition: all tokens.$coral-transition-fast;
        line-height: 0;

        &_visible {
          opacity: 1;
          top: 50%;
        }
      }
    }

    .line {
      flex-shrink: 0;
      border-width: 0;
      border-top: tokens.$coral-border-s-solid tokens.$coral-color-accent-border;
      transition: border tokens.$coral-transition-fast;
    }

    &:hover {
      .icons {
        color: tokens.$coral-color-accent-text-strong-hover;
        background: tokens.$coral-color-accent-background-weak-hover;
      }

      .line {
        border-top: tokens.$coral-border-m-solid tokens.$coral-color-accent-border-hover;
      }
    }
    &:active {
      .icons {
        color: tokens.$coral-color-accent-text-strong-active;
        background: tokens.$coral-color-accent-background-weak-active;
      }

      .line {
        border-top: tokens.$coral-border-m-solid tokens.$coral-color-accent-border-active;
      }
    }
  }
}
