@use '~@talend/design-tokens/lib/tokens';
@use 'src/components/Form/Primitives/mixins' as Form;

.input {
  @include Form.baseInput();
  height: Form.$standardInputHeight;
}

.button {
  padding: 0 tokens.$coral-spacing-xs;
  background: transparent;
  color: tokens.$coral-color-neutral-icon-weak;
  transition: all tokens.$coral-transition-instant;

  &_readOnly {
    background: tokens.$coral-color-neutral-background-strong;
  }

  &__icon {
    width: tokens.$coral-sizing-minimal;
    height: tokens.$coral-sizing-minimal;
  }

  &:hover {
    color: tokens.$coral-color-accent-icon-hover;
  }

  &:active {
    color: tokens.$coral-color-accent-icon-active;
  }

  &:disabled {
    color: tokens.$coral-color-neutral-text-disabled;

    .button__icon {
      opacity: tokens.$coral-opacity-s;
    }
  }
}
