@use '~@talend/design-tokens/lib/tokens';

.tooltip {
	.container {
		padding: tokens.$coral-spacing-xxs tokens.$coral-spacing-xs;
		max-width: tokens.$coral-sizing-maximal;
		font: tokens.$coral-paragraph-s;
		color: tokens.$coral-color-assistive-text;
		background: tokens.$coral-color-assistive-background;
		border-radius: tokens.$coral-radius-s;
		z-index: tokens.$coral-elevation-layer-overlay;
		transition: opacity tokens.$coral-transition-fast;
		opacity: 0;
	}

	&[data-enter] .container {
		opacity: 1;
	}

	.arrow {
		:global(.stroke) {
			display: none;
		}
	}
}
