$icon-title-size: 2.4rem;
$icon-modify-size: 1.4rem;

@mixin input-text($weight) {
	color: $black;
	font-size: 1.4rem;
	font-weight: $weight;
	padding-right: $padding-small;
}

@mixin ellipsis-title() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin form-icon-color($color) {
	color: $color;
	border: 0.2rem solid $color;
}

.tc-subheader-details {
	display: flex;

	&:hover .tc-subheader-details-text .subheader-details-pencil {
		visibility: visible;
		color: $scooter;
	}

	&:active .tc-subheader-details-text .subheader-details-pencil {
		visibility: visible;
		color: darken($scooter, 25%);
	}

	:global(.tc-subheader-title-icon) {
		align-self: center;
		width: $icon-title-size;
		height: $icon-title-size;
		color: $brand-primary;
		margin-left: $padding-large;
	}

	:global(.tc-subheader-details-text) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: $padding-large;
		width: 47.5rem;

		.subheader-details-title-icon-container {
			display: inline-flex;
			align-items: center;
		}

		.subheader-details-title {
			@include input-text(800);
			@include ellipsis-title();
			text-transform: uppercase;
		}

		.subheader-details-pencil {
			display: inline-flex;
			align-items: center;
			color: $brand-primary;
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: none;
			visibility: visible;
			padding-left: $padding-small;
			padding-right: $padding-small;

			&.btn svg {
				width: $icon-modify-size;
				height: $icon-modify-size;
			}
		}

		.subheader-details-subtitle {
			@include ellipsis-title();
			color: $dark-silver;
			font-size: 1.4rem;
			font-weight: 300;
		}
	}
	:global(.tc-subheader-form) {
		display: flex;
		align-items: center;
		padding-left: $padding-large;

		.subheader-input {
			@include input-text(400);
		}

		.subheader-form-icon-container {
			display: flex;

			.subheader-form-icon {
				@include form-icon-color($gray);
				width: 2.4rem;
				height: 2.4rem;
				display: flex;
				border-radius: 50%;
				padding: 0;
				margin-left: 20px;
				
				&:last-child {
					margin-left: 10px;
				}

				&:hover {
					@include form-icon-color($scooter);
				}

				&:active {
					@include form-icon-color(darken($scooter, 25%));
				}
			}
		}

		& .form-group {
			padding-top: 0;
			width: 17.1rem;

			& .col-lg-10 {
				width: 100%;
			}
		}
	}
}
