@mixin input-text($weight) {
	color: $black;
	font-size: $size-medium;
	font-weight: $weight;
}

@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin form-icon-color($color) {
	color: $color;
	border: 0.2rem solid $color;
}

$size-large: 2.4rem;
$size-medium: 1.4rem;
$size-small: 1rem;
$icon-modify-size: 1.2rem;

.tc-subheader-details {
	display: flex;
	margin: 0;
	height: 100%;
	margin: 0;

	:global(.tc-subheader-title-icon) {
		align-self: center;
		width: $size-large;
		height: $size-large;
		color: $brand-primary;
		margin-left: $padding-large;
	}

	:global(.tc-subheader-details-text) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: $padding-large;
		overflow: hidden;
		flex: 1;

		.subheader-details-icon-container {
			display: inline-flex;
			align-items: center;

			:global(.subheader-details-title) {
				@include input-text(800);
				@include ellipsis;
				text-transform: uppercase;
				margin: 0;
			}

			.subheader-details-pencil {
				display: inline-flex;
				align-items: center;
				padding-left: $padding-small;
				padding-right: $padding-small;
				color: $gallery;
				&:focus {
					color: $scooter;
				}
				&:active {
					color: darken($scooter, 25%);
				}
			}
		}
		:global(.subheader-details-subtitle) {
			@include ellipsis;
			color: $dark-silver;
			font-size: $size-medium;
			font-weight: 300;
		}
	}
	:global(.tc-subheader-form) {
		display: flex;
		align-items: center;
		padding-left: $padding-large;

		.subheader-input {
			width: 17.1rem;
			@include input-text(400);

			&::selection {
				background: lighten($scooter, 25%);
			}
		}

		.subheader-form-icon-container {
			display: flex;

			.subheader-form-icon {
				@include form-icon-color($gray);
				width: $size-large;
				height: $size-large;
				display: flex;
				border-radius: 50%;
				padding: 0;
				margin-left: $padding-large;
				justify-content: center;

				> svg {
					width: $size-medium;
					height: $size-medium;
				}

				&:last-child {
					margin-left: $padding-small;

					> svg {
						width: $size-small;
						height: $size-small;
					}
				}

				&:focus {
					@include form-icon-color($scooter);
				}

				&:hover {
					@include form-icon-color($scooter);
				}

				&:active {
					@include form-icon-color(darken($scooter, 25%));
				}
			}
		}

		:global(.form-group) {
			padding-top: 0;

			:global(.col-lg-10) {
				width: 100%;
			}
		}
	}
}
