$file-icon-size: 2.4rem;

@mixin input-text($weight) {
	color: $black;
	font-size: 1.4rem;
	font-weight: $weight;
	padding-right: $padding-small;
	text-transform: uppercase;
}

.subheader-form-icon {
	display: flex;
}

.tc-subheader-details {
	display: flex;
	align-items: normal;
	max-width: 47.5rem;

	&:hover .subheader-details-text .subheader-details-pencil {
		visibility: visible;
	}

	:global(.tc-subheader-title-icon) {
		align-self: center;
		width: $file-icon-size;
		height: $file-icon-size;
		color: $brand-primary;
		margin-left: $padding-large;
	}

	:global(.tc-subheader-details-text) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: $padding-large;

		.subheader-details-pencil {
			display: inline-flex;
			padding-left: 0;
			stroke: 0.1rem;
			height: 1.6rem;
			color: $gallery;
			visibility: hidden;
			vertical-align: top;
		}

		.subheader-details-title {
			@include input-text(800);
		}

		.subheader-details-subtitle {
			color: $dark-silver;
			font-size: 1.4rem;
			font-weight: 300;
		}
	}
	:global(.tc-subheader-form) {
		display: flex;
		align-items: center;
		padding-left: $padding-large;

		.subheader-input {
			@include input-text(400);
		}

		& .form-group {
			padding-top: 0;

			& .col-lg-10 {
				width: 100%;
			}
		}
	}
}
