$tc-list-row-hover-bg: $wild-sand !default;
$tc-list-row-selected-bg: tint($scooter, 85%) !default;
$tc-list-row-selected-hover-bg: shade($tc-list-row-selected-bg, 5%) !default;
$tc-list-row-active-bg: tint($scooter, 85%) !default;
$tc-list-row-active-hover-bg: shade($tc-list-row-selected-bg, 5%) !default;
