:global(.tc-list) {
	&-item {
		// Specific case for Win7/IE11 which it cannot compute width with float
		:global(.btn-group) {
			white-space: nowrap;

			:global(> .btn-group) {
				float: none;
			}

			&,
			&-vertical {
				display: inline-block;

				:global(> .btn) {
					float: none;
				}
			}
		}
	}
}

.tc-list-progress {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
