:global(.tc-virtualizedlist-default-cell) {
	min-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

:global(div[role='columnheader'].tc-header-resizable.ReactVirtualized__Table__headerColumn) {
	height: calc(100% - 2px);
	padding: 0 0 0 $padding-large;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		cursor: pointer;
	}
	:global(.ReactVirtualized__Table__headerTruncatedText) {
		align-self: center;
		overflow: hidden;
		padding-left: $padding-small;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.tc-list-progress {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
