@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;

:global(.tc-virtualizedlist-default-cell) {
	min-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

:global(div[role='columnheader'].tc-header-resizable.ReactVirtualized__Table__headerColumn) {
	height: calc(100% - 2px);
	padding: 0 0 0 $padding-large;
	position: relative;

	&:hover {
		cursor: pointer;
	}
	:global(.ReactVirtualized__Table__headerTruncatedText) {
		align-self: center;
		padding-left: $padding-small;
	}
}

.tc-list-progress {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
