
.container {
    display: flex;
    flex-direction: column;

    .week {
        display: flex;

        .day {
            padding: 10px;
            width: 2.5em;
            text-align: center;
        }
    }
}
