@import '../../common';

.action {
    background: none;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    &:hover {
        background-color: $concrete;
    }

    &:disabled {
        color: $silver-chalice;
        background-color: transparent;
    }

    &.today {
        background-color: rgba($slate-gray, 0.12);
    }

    &.selected {
        @include picker-action-selected;
    }
}
