.tc-basic-search {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: inherit;
	overflow: auto;
	padding-left: $padding-large;
	flex-grow: 1;

	&-content {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
	}
}
