@use '@talend/design-tokens/lib/tokens' as tokens;

.tc-basic-search {
	align-items: center;
	display: flex;
	height: inherit;
	overflow: visible;
	position: relative;
	width: 100%;
	padding-left: tokens.$coral-spacing-s;
	padding-right: tokens.$coral-spacing-s;

	&-quicksearch {
		margin-right: tokens.$coral-spacing-xs;
	}

	&-content {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
	}
}
