@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as tokens;

$tc-toolbar-height: 4.375rem;

.tc-list-toolbar {
	display: flex;
	height: $tc-toolbar-height;
	max-height: $tc-toolbar-height;

	padding-left: $padding-larger;
	padding-right: $padding-larger;

	background: tokens.$coral-color-neutral-background-medium;
	border-top: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
	border-bottom: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
	margin-bottom: 0;
	flex-shrink: 0;
	flex-grow: 0;

	:global(.tc-actionbar-container) {
		padding: 0;
		flex: 1 0 0%;
	}

	&-right {
		align-items: center;
		display: flex;
		margin: {
			left: auto;
			top: 0;
			bottom: 0;
		}
	}

	&-separated {
		display: flex;
	}

	&-separated:not(:first-child)::before {
		align-self: center;
		content: '|';
		color: tokens.$coral-color-neutral-border-strong;
		padding: 0 $padding-normal;
	}

	> :global(.container-fluid) {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0;
	}

	:global(button[role='search'][type='button']) {
		padding: 0;
	}
}
