@import '../../shared/styles/mixins';

.time-picker {
	display: flex;
	flex-direction: column;
	align-items: center;

	legend {
		@include picker-header;
	}

	hr {
		width: 100%;
		border-color: $gallery;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	input.time-input {
		padding: 0.7rem 1rem;
		text-align: center;
		width: 100%;
		border: 1px solid $gallery;

		&:focus {
			border-color: $scooter;
		}
	}
}
