@use '@talend/design-tokens/lib/tokens' as token;

.container {
	padding: tokens.$coral-spacing-xxs 0;
	background-color: tokens.$coral-color-neutral-background;

	button {
		width: 100%;
		border: none;
		color: tokens.$coral-color-neutral-text;
		font-size: 0.875rem;
		font-weight: normal;
		background-color: tokens.$coral-color-neutral-background;

		&:global(.highlight) {
			background-color: tokens.$coral-color-accent-background-weak;
		}

		&:hover,
		&:focus {
			background-color: tokens.$coral-color-neutral-background-medium;
			outline: none;
		}
	}
}
