.tc-tree-branch-icon {
	&-caret {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-150%, -50%);
		height: $svg-sm-size;
		width: $svg-sm-size;
		&-right {
			transform: translate(-150%, -50%) rotate(180deg);
		}
	}
	:global(.tc-svg-anchor) {
		background: transparent;
		border: none;
		padding: 0;
		color: $brand-primary;
		display: flex;
		&:focus,
		&:hover {
			color: $scooter;
		}
	}
}
