@import '../../shared/styles/variables';

.body {
	display: flex;
	padding: $padding-normal 0;

	.date {
		flex: 3 0 200px;
		padding: 0 $padding-normal;
	}

	.time {
		flex: 1 0 70px;
		border-left: $border-default;
		padding: 0 $padding-normal;
	}
}
