@import '../../shared/styles/variables';

.body {
	display: flex;

	.date {
		flex: 3;
		padding: $padding-normal;
	}

	.time {
		flex: 1;
		border-left: $border-default;
		padding: $padding-normal;
	}
}
