@import '../../shared/styles/variables';

.body {
	display: flex;

	.date {
		flex: 3 0 200px;
	}

	.time {
		border-left: $border-default;
		flex: 1 0 70px;
		margin-left: $padding-normal;
		padding-left: $padding-normal;
	}
}
