.tc-viewer {
	font-family: 'Inconsolata';
	font-size: 1.4rem;
	letter-spacing: 0.6px;
	padding: $padding-smaller 0;

	&,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	button {
		background: transparent;
		border: none;
		display: flex;
		line-height: unset;
		padding: 0;
	}

	.item {
		position: relative;
		width: 100%;
		text-align: left;

		.content {
			display: flex;
			position: relative;

			&.no-root {
				display: none;
			}

			&:focus,
			&:focus-within,
			&:hover {
				background: $gallery;
			}

			> * {
				padding: $padding-smaller 0;
			}

			.main {
				text-align: left;
				flex-grow: 1;

				display: flex;
				align-items: center;
			}

			.key-value {
				display: flex;
				overflow: hidden;
			}

			.key {
				display: inline;
				color: $dove-gray;
			}

			.value {
				color: $brand-primary;
				margin-left: 4px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:hover {
					overflow: visible;
					white-space: initial;
				}
			}
		}
	}
}

.caret {
	color: $brand-primary;
	margin-right: $padding-small;
	height: $svg-xs-size;
	width: $svg-xs-size;
}

.badge {
	top: 0;
	height: 9px;
	width: 9px;
	background-color: rgba($brand-primary, 0.3);
	color: $brand-primary;
	font-size: 10px;
	padding: 2px 10px;
	display: inline-table;
	margin-left: $padding-small;
	vertical-align: text-bottom;
}

.invalid-value {
	height: 29px;
	width: 3px;
	background: $lightning-yellow;
	position: absolute;
	margin-left: -($padding-large + $padding-smaller);
}

.invalid-dot {
	height: 5px;
	width: 5px;
	background-color: #f3c446;
	border-radius: 50%;
	margin: 0 $padding-small;
}

.highlight {
	transition: background-color 0.5s ease-out;
	background-color: tint($brand-primary, 90);
}
