@use '~@talend/design-tokens/lib/tokens';

$checkmark-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImZpbGw6IHdoaXRlIj4KCTxwYXRoIGQ9Ik02IDE0TDAgOGwxLjktMS45TDYgMTAuMiAxNC4xIDIgMTYgMy45eiI+PC9wYXRoPgo8L3N2Zz4=');

.checkbox {
  display: inline-flex;
  gap: tokens.$coral-spacing-xs;
  justify-content: start;
  align-items: center;
  position: relative;

  input {
    margin: 0;
    width: tokens.$coral-sizing-minimal;
    height: tokens.$coral-sizing-minimal;
    position: relative;
    z-index: -1;
    opacity: 0;
  }

  input + label {
    // Checkbox
    &:before {
      content: "";
      width: tokens.$coral-sizing-minimal;
      height: tokens.$coral-sizing-minimal;
      border-radius: tokens.$coral-radius-s;
      display: block;
      border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
      background: tokens.$coral-color-neutral-background-medium;
      transition: all tokens.$coral-transition-fast;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
    }

    // Mark
    &:after {
      content: "";
      width: tokens.$coral-sizing-minimal;
      height: tokens.$coral-sizing-minimal;
      border-radius: tokens.$coral-radius-s;
      display: block;
      transition: all tokens.$coral-transition-fast;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      background: $checkmark-image no-repeat center center;
      background-size: 58%;
    }
  }

  input:hover + label {
    // Checkbox
    &:before {
      border: tokens.$coral-border-s-solid tokens.$coral-color-accent-border;
    }
  }

  input:active + label {
    // Checkbox
    &:before {
      background: tokens.$coral-color-accent-background-active;
    }
  }

  input:checked + label {
    // Checkbox
    &:before {
      background: tokens.$coral-color-accent-background-strong;
    }

    // Mark
    &:after {
      opacity: 1;
    }
  }

  input:checked:not(:disabled):hover + label {
    // Checkbox
    &:before {
      background: tokens.$coral-color-accent-background-strong-hover;
    }
  }

  input:checked:not(:disabled):active + label {
    // Checkbox
    &:before {
      background: tokens.$coral-color-accent-background-strong-active;
    }
  }

  input:disabled + label {
    color: tokens.$coral-color-neutral-text-disabled;

    // Checkbox
    &:before {
      border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-disabled;
      opacity: tokens.$coral-opacity-s;
      cursor: not-allowed;
      background: tokens.$coral-color-neutral-background-disabled;
    }
  }

}
