.button {
	padding: 0 var(--coral-spacing-xs, 0.5rem);
	background: transparent;
	color: var(--coral-color-neutral-icon-weak, hsl(0, 0%, 38%));
	transition: var(--coral-transition-instant, 100ms ease-out);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.button_readOnly {
	background: var(--coral-color-neutral-background-strong, hsl(0, 0%, 88%));
}
.button__icon {
	width: var(--coral-sizing-minimal, 0.75rem);
	height: var(--coral-sizing-minimal, 0.75rem);
}
.button:hover {
	color: var(--coral-color-accent-icon-hover, hsl(204, 88%, 30%));
}
.button:active {
	color: var(--coral-color-accent-icon-active, hsl(205, 88%, 20%));
}
.button:disabled {
	color: var(--coral-color-neutral-text-disabled, hsl(0, 0%, 44%));
}
.button:disabled .button__icon {
	opacity: var(--coral-opacity-s, 0.6);
}
