:root {
	--size: 5rem;
	--background: #efefef;
	--background-highlight: #ffeeee;
	--shadow-color: 0deg 0% 50%;
	--border-radius: 4px;

	font-family: 'Source Sans Pro';
}

dl,
dt,
dd {
	margin: 0;
}

.skeleton {
	height: var(--size);
	width: var(--size);
	background: var(--background);
	border-radius: var(--border-radius);
}

.token {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}

.tokenKey,
.tokenValue {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tokenKey {
	flex: 0 0 30%;
	font-weight: 600;
}
.tokenValue {
	flex: 0 1 66%;
}
.tokenValueDemo {
	flex: 0 1 66%;
	padding: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius);
	box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
}
.tokenValueCustomProperty,
.tokenValueCss {
	flex: 0 1 66%;
	margin-left: auto;
	text-align: end;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.border {
	width: 100%;
	border: none;
}

.branding {
	height: var(--size);
	width: var(--size);
	background-size: contain;
	background-repeat: no-repeat;
}

.breakpoint {
	margin: 0;
	zoom: 0.5;
	border-color: var(--background-hover);
}

.colorGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.colorSwatch {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.colorBackground {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1rem;
	color: inherit;
	background: transparent;
	border: 2px solid transparent;
	border-radius: var(--border-radius);

	.token {
		margin-bottom: 0;
		flex-direction: column;
		align-items: start;

		dt,
		dd {
			text-align: start;
			margin-left: 0;
		}

		dd {
			font-size: xx-small;
		}
	}
}

.colorContent {
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 2rem;
}

.colorIcon {
	display: inline-block;
	height: 1.6rem;
	width: 1.6rem;
	background: currentColor;
	border-radius: var(--border-radius);
}

.colorText {
	display: inline-block;
	height: 1.6rem;
	width: var(--size);
	background: currentColor;
	border-radius: var(--border-radius);
}

.colorBorder {
	text-align: end;
}

.colorRatio {
	display: inline-block;
	margin-bottom: -1.5rem;
	padding-inline: 0.5rem;
	width: fit-content;
	color: white;
	border-radius: 9999px;
}

.colorRatioOK {
	background: forestgreen;
}

.colorRatioKO {
	background: darkred;
}

.elevation {
	margin: 1rem;
	width: var(--size);
	height: calc(var(--size) / 2);
	background: var(--background);
	transform: skew(-45deg);
}

.gradient {
	height: var(--size);
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.measure {
	width: var(--size);
	height: var(--size);
	background: var(--background);
}

.radius {
	height: var(--size);
	width: var(--size);
	background: var(--background);
}

.shadow {
	height: var(--size);
	width: var(--size);
	border-radius: var(--border-radius);
}

.opacity {
	height: var(--size);
	background-image: /* tint image */ linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)), /* checkered effect */ linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
	background-blend-mode: normal, difference, normal;
	background-size: 2em 2em;

	&Layer {
		height: 100%;
		width: 100%;
		background: var(--background-highlight);
	}
}

.transition {
	height: var(--size);
	width: var(--size);
	background: var(--background);
	border-radius: var(--border-radius);

	&:hover {
		width: 7rem;
		height: 7rem;
		background: var(--background-hover);
	}
}
