////
/// Bootstrap buttons customization
/// @group Buttons
////

.btn {
	@include btn-colors;
	font-size: $btn-font-size;
	letter-spacing: 1px;
	padding: 0 $padding-normal;
	line-height: 3.3rem;
	text-transform: uppercase;

	&-primary,
	&-success,
	&-info,
	&-warning,
	&-danger {
		border-color: transparent;
	}

	&-success,
	&-danger {
		font-weight: 600;
	}

	&-primary {
		@include button-variant($btn-validation-color, $btn-validation-bg, $btn-validation-border);
		@include btn-colors($btn-validation-bg);
	}

	&-success {
		@include btn-colors($btn-success-bg);
	}

	&-info {
		@include btn-colors($btn-info-bg);
	}

	&-warning {
		@include btn-colors($btn-warning-bg);
	}

	&-danger {
		@include btn-colors($btn-danger-bg);
	}

	&-link {
		&,
		&:hover,
		&:active {
			background: none;
			box-shadow: none;
		}
	}

	&-icon-only {
		svg {
			margin: -0.3em -10px 0 -10px;
		}
	}

	&-xs {
		line-height: 1.5rem;
		padding: 0 $padding-xs-horizontal;
	}

	&-sm {
		line-height: 2rem;
		padding: 0 $padding-small-horizontal;
	}

	&-lg {
		@include button-size($padding-normal, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
	}

	svg {
		display: inline-block;
		fill: currentColor;
		height: 2em;
		margin-top: -0.4rem;
		vertical-align: middle;
	}
}
