////
/// Bootstrap buttons customization
/// @group Buttons
////

/// Button font size
/// @type Number (Unit)
$btn-font-size: 12px !default;

/// Button box shadow width
/// @type Number (Unit)
$btn-box-shadow-width: 3px !default;

/// Button background tinting percent
/// @type Number (Unitless)
$btn-background-tint-percent: 10 !default;

/// Define button colors based on its background
/// @access public
/// @param {Color} $btn-bg [$btn-default-bg] - button background color to tint
@mixin btn-colors($btn-bg: $btn-default-bg) {
	transition: box-shadow 0.1s ease-out;
	box-shadow: 0 (-1 * $btn-box-shadow-width) 0 rgba(0, 0, 0, 0.15) inset;

	&:hover {
		background-color: tint($btn-bg, $btn-background-tint-percent);
		box-shadow: 0 (-1 * $btn-box-shadow-width) 0 rgba(0, 0, 0, 0.2) inset;
	}

	&:active {
		background-color: $btn-bg;
		box-shadow: 0 (-1 * $btn-box-shadow-width) 0 rgba(0, 0, 0, 0) inset;
	}
}

.btn {
	@include btn-colors;
	font-size: $btn-font-size;
	letter-spacing: 1px;
	text-transform: uppercase;

	&-primary,
	&-success,
	&-info,
	&-warning,
	&-danger {
		border: none;
	}

	&-success,
	&-danger {
		font-weight: 600;
	}

	&-primary {
		@include btn-colors($btn-primary-bg);
	}

	&-success {
		@include btn-colors($btn-success-bg);
	}

	&-info {
		@include btn-colors($btn-info-bg);
	}

	&-warning {
		@include btn-colors($btn-warning-bg);
	}

	&-danger {
		@include btn-colors($btn-danger-bg);
	}

	&-link {
		&,
		&:hover,
		&:active {
			box-shadow: none;
		}
	}
}
