/// Primary color, mostly used for the selected elements
/// and to draw attention to the important elements of interaction.
///
/// @type Color
$st-tropaz: #266092;

/// Secondary color
///
/// @type Color
$rio-grande: #C3D600;

/// Contextual color for informational alert messages
///
/// @type Color
$scooter: #3DB0D6;

/// Linked to valid/validated/validation elements.
///
/// @type Color
$limeade: #8ABC00;

/// Used to notify unvalid elements or warning information.
///
/// @type Color
$lightning-yellow: #FEB914;

/// Used for errors.
///
/// @type Color
$chestnut-rose: #CE6464;

/// Used for labels, titles.
///
/// @type Color
$black: #000;

/// Used for subtitles.
///
/// @type Color
$dove-gray: #666;

/// Used for backgrounds.
///
/// @type Color
$silver: #C0C0C0;

/// Used for backgrounds etc.
///
/// @type Color
$alto: #DEDEDE;

/// Used for panels.
///
/// @type Color
$concrete: #F2F2F2;

/// Used for empty spaces, toolbar-panels etc.
///
/// @type Color
$white: #FFF;
