$tlnd-app-menu-bg-color: #465A65;
$tlnd-app-menu-txt-color: white;
$tlnd-side-menu-bg-color: #607D8B;
$tlnd-side-menu-txt-color: white;
$tlnd-app-toolbar-bg-color: #DDD;
$tlnd-app-toolbar-txt-color: white;

// Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';
