////
/// Bootstrap navbars customization
/// @group Navbar
////

/// Navbar search text and border bottom color
///
/// @type Color
$navbar-search-btn-color: #FFF !default;

/// Navbar search btn width
/// @type Number (Unit)
$navbar-search-btn-width: 40px !default;

.navbar {
	[role='search'] {
		.form-control {
			padding-right: $navbar-search-btn-width;
			font-style: italic;
			color: $navbar-search-btn-color;
			background: none;
			border: none;
			border-bottom: 1px solid $navbar-search-btn-color;
			border-radius: 0;
		}

		.btn-link {
			margin-left: -$navbar-search-btn-width;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}
	}
}
