.tc-add-facet-popover {
	display: flex;
	flex-direction: column;
	width: 30rem;
	:global(.tc-tooltip-header) {
		width: 100%;
		align-items: center;
		font-weight: 800;
	}
	:global(.tc-tooltip-body) {
		margin-right: 0;
		margin-left: 0;
		:global(.tc-tooltip-content) {
			flex-direction: column;
		}
	}

	&-filter {
		margin: 0 $padding-small 0 $padding-small;
	}

	&-filter-empty {
		font-size: $font-size-base;
		padding: $padding-large $padding-small;
		display: block;
		text-align: center;
		font-style: italic;
	}

	&-row-container {
		overflow-y: auto;
	}

	&-row {
		text-align: left;
		font-weight: 500;
		text-transform: none;
		width: 100%;
		&:hover {
			background: $concrete;
			text-decoration: none;
		}
		&-text {
			width: 25rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
