@use '~@talend/design-tokens/lib/tokens';

$popover-screen-width: 30rem;

.tc-add-facet-popover {
	display: flex;
	width: $popover-screen-width;
	overflow: hidden;

	&-container {
		width: $popover-screen-width * 2;
		min-width: $popover-screen-width * 2;
		position: relative;
	}

	:global(.tc-tooltip-header) {
		width: 100%;
		align-items: center;
		font-weight: 800;
		min-width: auto;
	}

	:global(.tc-tooltip-body) {
		margin-right: 0;
		margin-left: 0;
		padding: 0;

		:global(.tc-tooltip-content) {
			flex-direction: column;
			min-height: 0;
			padding: 1rem 0;
		}
	}

	&-screen {
		flex-shrink: 0;
		overflow: hidden;
		width: $popover-screen-width;
		transition: transform tokens.$coral-transition-slow;
	}

	.screen-category {
		position: absolute;
		top: 0;
		right: 0;
	}

	.screen-move {
		transform: translateX(-100%);
	}

	&-filter-empty {
		padding: tokens.$coral-spacing-s;
		display: block;
		text-align: center;
		font-style: italic;
	}

	&-row-container {
		overflow-y: auto;

		button {
			width: 100%;
			overflow-wrap: anywhere;
			text-align: left;
		}
	}
}
