@use '~@talend/design-tokens/lib/tokens';

.tc-add-facet-popover {
	width: tokens.$coral-sizing-xxxl;
}

.tc-add-facet-popover-items {
	button {
		width: 100%;
		white-space: break-spaces;
		text-align: left;
	}
}
