@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

$tc-timepicker-width: 8rem !default;
$tc-timepicker-height: 17rem !default;
$tc-timepicker-box-shadow: tokens.$coral-elevation-shadow-neutral-m !default;
$tc-timepicker-z-index: $zindex-dropdown !default;

.popper {
	overflow: auto;
	width: $tc-timepicker-width;
	height: $tc-timepicker-height;
	box-shadow: $tc-timepicker-box-shadow;
	z-index: $tc-timepicker-z-index;
}

.time-picker {
	width: fit-content;
	display: flex;
	align-items: center;
}
