$tc-timepicker-width: 7rem !default;
$tc-timepicker-height: 17rem !default;
$tc-timepicker-box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2) !default;
$tc-timepicker-z-index: $zindex-dropdown !default;

.popper {
	overflow: auto;
	width: $tc-timepicker-width;
	height: $tc-timepicker-height;
	box-shadow: $tc-timepicker-box-shadow;
	z-index: $tc-timepicker-z-index;
}
.time-picker {
	width: fit-content;
	display: flex;
	align-items: center;
}
