@use '@talend/design-tokens/lib/tokens' as token;
@import '../shared/styles/mixins';

$tc-timepicker-width: 5rem !default;
$tc-timepicker-height: 10.625rem !default;

.popper {
	overflow: auto;
	width: $tc-timepicker-width;
	height: $tc-timepicker-height;
	box-shadow: tokens.$coral-elevation-shadow-neutral-m;
	z-index: tokens.$coral-elevation-layer-interactive-front;
}

.time-picker {
	@include date-picker;
}
