@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

.container {
	color: tokens.$coral-color-neutral-text;
	min-width: 18.125rem;
	min-height: 22rem;
	padding: $padding-normal;
}

.footer {
	padding-top: $padding-normal;

	&::before {
		@include picker-underline;
		display: block;
		margin-bottom: $padding-normal;
	}

	&.date-padding {
		padding-top: $padding-smaller;
	}
}
