.model {
	font-family: 'Inconsolata';
	font-size: 1.4rem;
	letter-spacing: 0.6px;
	padding: $padding-smaller 0;

	button {
		background: transparent;
		border: none;
		line-height: unset;
		padding: $padding-small 0;
	}

	.item {
		position: relative;
		width: 100%;
		text-align: left;

		.title {
			display: flex;

			.caret {
				flex-grow: 0;
				color: $brand-primary;
				margin-right: $padding-small;
				height: $svg-xs-size;
				width: $svg-xs-size;
			}

			.main {
				text-align: left;
				flex-grow: 1;
			}

			.type {
				color: $silver-chalice;
				padding: 0 $padding-smaller;
				text-transform: capitalize;
			}

			.menu {
				position: absolute;
				top: 0;
				right: 0;
				display: flex;

				.menu-trigger {
					font-weight: bolder;
					letter-spacing: 0;
					visibility: hidden;
				}
			}

			&:focus,
			&:focus-within,
			&:hover {
				background: $gallery;

				> .menu .menu-trigger {
					visibility: visible;
				}
			}
		}

		.fields {
			list-style: none;
			padding: 0;

			.title > *:first-child {
				border-left: 1px solid $silver;
				padding-left: $padding-larger;
			}
		}
	}
}
