

	.tc-model-menu {
		position: absolute;
		top: 0;
		bottom: 0;
		right: $padding-larger;
		display: flex;

		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&-trigger {
			font-weight: bolder;
			letter-spacing: 0;
			opacity: 0;
			text-decoration: none;
		}
	}
