.model {
	&:global(.tc-hierarchic .tc-hierarchic-list .tc-hierarchic-item) {
		&:focus,
		&:focus-within,
		&:hover {
			// reveal node menu on hover or focus on the line
			.menu .menu-trigger {
				opacity: 1;
			}

			// makes the left line darker on hover to make it visible with the hover background
			> *:first-child {
				border-left-color: $silver-chalice;
			}
		}

		// nested nodes have a left solid line
		> *:first-child {
			border-left: 1px solid $gallery;
			padding-left: $padding-larger;
			margin-left: -$padding-larger;
		}

		// node height is a little larger than the default
		> * {
			padding-top: $padding-small;
			padding-bottom: $padding-small;
		}
	}

	.type {
		color: $silver-chalice;
		padding: 0 $padding-smaller;
		text-transform: capitalize;
	}
}

.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: $padding-larger;
	display: flex;

	> span {
		display: flex;
	}

	.menu-trigger {
		font-weight: bolder;
		letter-spacing: 0;
		opacity: 0;
		text-decoration: none;
	}
}
