:global {
	#mapper-container {
		&,
		> div,
		> div > div {
			display: flex;
			justify-content: center;
			width: 100vw;
		}
	}

	#mapper {
		display: flex;
		justify-content: center;
		padding: 8px;
		margin: 8px;
		background-color: #e9e9e9;
		height: 600px;
		width: 90%;
	}

	.comp-list-row {
		display: flex;
		height: 25px;
		cursor: grab;
	}

	.comp-list-row.input {
		justify-content: space-between;
	}

	.comp-list-row.output {
		justify-content: flex-start;
	}

	.comp-list-row-data-name {
		min-width: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.comp-list-row-data-type {
		font-family: Inconsolata, Monaco, Menlo, Consolas, Courier New, mono;
		font-size: 0.9em;
		min-width: 100px;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #66bdff;
	}

	.comp-list-row-data-type.input {
		text-align: left;
	}

	.comp-list-row-data-name.input {
		text-align: right;
	}

	.comp-list-row-data-desc {
		color: #aaaaaa;
		font-style: italic;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.mandatory-field {
		display: flex;
		justify-content: flex-start;
	}

	.mandatory-field-info {
		color: #ff0000;
		font-weight: bold;
		margin-left: 1px;
	}

	.mapping {
		background-color: #fbfdff;
		padding: 8px;
		padding-left: 2px;
		padding-right: 2px;
		margin: 2px;
		width: 300px;
	}

	.mapping-canvas {
		position: absolute;
		left: 0;
		right: auto;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	.mapper-element:nth-child(1) {
		order: 1;
	}

	.mapper-element:nth-child(2) {
		order: 3;
	}

	.mapper-element:nth-child(3) {
		order: 2;
	}

	.mapping-tools {
		display: flex;
		justify-content: space-around;
		font-weight: bold;
		font-size: 1em;
		padding: 4px;
		margin: 4px;
		height: 35px;
	}

	.mapping-content {
		position: relative;
		height: 92%;
		width: 100%;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 0;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.mapping-svg {
		position: absolute;
		padding: 0;
		margin: 0;
		margin-left: -12px;
		margin-top: -2px;
	}

	.connection {
		stroke: #000000;
		fill: #000000;
		stroke-width: 4;
		stroke-linecap: butt;
	}

	.connection.all {
		stroke: #aaaaaa;
		fill: #aaaaaa;
		stroke-width: 3;
	}

	.connection.all.grad-left-top {
		stroke: url(#grad-left-top);
	}

	.connection.all.grad-left-bottom {
		stroke: url(#grad-left-bottom);
	}

	.connection.all.grad-right-top {
		stroke: url(#grad-right-top);
	}

	.connection.all.grad-right-bottom {
		stroke: url(#grad-right-bottom);
	}

	#grad-stop-1 {
		stop-color: #aaaaaa;
		stop-opacity: 1;
	}

	#grad-stop-2 {
		stop-color: #ffffff;
		stop-opacity: 0;
	}

	#grad-stop-11 {
		stop-color: #aaaaaa;
		stop-opacity: 1;
	}

	#grad-stop-13 {
		stop-color: #ffffff;
		stop-opacity: 0;
	}

	#grad-stop-61 {
		stop-color: #aaaaaa;
		stop-opacity: 1;
	}

	#grad-stop-66 {
		stop-color: #aaaaaa;
		stop-opacity: 0.1;
	}

	.connection.pending {
		stroke: #111111;
		fill: #111111;
	}

	.connection.curve.pending {
		stroke-dasharray: 4, 4;
	}

	.connection.focused {
		stroke: #777777;
		fill: #777777;
	}

	.connection.curve {
		fill: transparent;
	}

	.anchor {
		stroke: #aaaaaa;
		stroke-width: 2;
		fill: #ffffff;
		pointer-events: all;
	}

	.anchor.unmapped {
		cursor: grab;
	}

	.anchor.mapped {
		stroke: #aaaaaa;
		fill: #aaaaaa;
	}

	.anchor.selected {
		stroke: #777777;
		stroke-width: 3;
	}

	.anchor.focused {
		stroke: #aaaaaa;
		stroke-width: 3;
	}

	.draggable-anchor {
		opacity: 0;
		cursor: grab;
	}

	.schema {
		background-color: #ffffff;
		padding: 8px;
		margin: 2px;
		width: 100%;
	}

	.schema.input {
		width: 400px;
	}

	.schema-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #ffffff;
		font-weight: bold;
		font-size: 1.2em;
		padding: 4px;
		margin: 4px;
		height: 35px;
	}

	.schema-content {
		height: 92%;
		overflow: auto;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 0;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.schema-element {
		padding: 2px;
		margin: 2px;
		border-radius: 4px;
	}

	.separator.horizontal {
		padding: 0;
		margin: 0;
		height: 2px;
		width: 100%;
		background-color: #e9e9e9;
	}

	.input {
		text-align: right;
	}

	.output {
		text-align: left;
	}

	.mapped {
		font-weight: bold;
	}

	.highlighted {
		background-color: #f2f2f2;
	}

	.selected {
		background-color: #dddddd;
	}

	.btn span {
		vertical-align: top;
	}

	.filter-name {
		vertical-align: top;
	}
}
