:global {
	#mapper-container {
		&,
		> div,
		> div > div {
			display: flex;
			justify-content: center;
			width: 100vw;
		}
	}

	#mapper {
		display: flex;
		justify-content: center;
		padding: 8px;
		margin: 8px;
		background-color: #a8cdea;
		height: 400px;
		width: 60%;
		border-radius: 16px;
	}

	#mapping {
		background-color: #fbfdff;
		padding: 8px;
		margin: 8px;
		border-radius: 8px;
		width: 100%;
	}

	#mapping-canvas {
		position: absolute;
		left: 0;
		right: auto;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	.mapper-element:nth-child(1) {
		order: 1;
	}

	.mapper-element:nth-child(2) {
		order: 3;
	}

	.mapper-element:nth-child(3) {
		order: 2;
	}

	#mapping-tools {
		display: flex;
		justify-content: space-around;
		border-radius: 4px;
		background-color: #a8cdea;
		font-weight: bold;
		font-size: 1em;
		padding: 4px;
		margin: 4px;
		height: 35px;
	}

	#mapping-content {
		position: relative;
		height: 80%;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.schema {
		background-color: #d4e9f9;
		padding: 8px;
		margin: 8px;
		border-radius: 8px;
		width: 100%;
	}

	.schema-name {
		border-radius: 4px;
		background-color: #a8cdea;
		font-weight: bold;
		font-size: 1.2em;
		padding: 4px;
		margin: 4px;
		height: 35px;
	}

	.schema-content {
		height: 80%;
		overflow: auto;
		padding: 4px;
		margin: 4px;
	}

	.schema-element {
		padding: 2px;
		margin: 2px;
		border-radius: 4px;
	}

	.input {
		text-align: right;
	}

	.output {
		text-align: left;
	}

	.mapped {
		font-weight: bold;
	}

	.highlighted {
		background-color: #ffe2d6;
	}

	.selected {
		background-color: #ffc8b2;
	}

	.schema-element:hover {
		background-color: #ffe2d6;
	}
}
