////
/// Icon
/// @group Custom widgets
////

/// Icon display icons from font or SVG
/// @type Color
$tc-icon-color: #4691F6 !default;

.svg-icon {
	width: 1em;
	height: 1em;

	path,
	polygon,
	rect {
		fill: $tc-icon-color;
	}

	circle {
		stroke: $tc-icon-color;
		stroke-width: 1;
	}
}
