$tc-datalist-items-background-color: $white !default;
$tc-datalist-items-max-height: 320px !default;
$tc-datalist-items-shadow-color: $shadow !default;
$tc-typeahead-input-width: 260px !default;
$tc-datalist-item-height: 40px !default;

.tc-datalist {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;

	.tc-datalist-form {
		width: 100%;
	}

	.container {
		width: 100%;

		> div {
			width: 100%;
		}
	}

	.items-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		max-height: $tc-datalist-items-max-height;
		min-width: $tc-typeahead-input-width;
		font-size: 1.5rem;
		background-color: $tc-datalist-items-background-color;
		border-radius: $border-radius-base;
		box-shadow: 0 1px 3px 0 $tc-datalist-items-shadow-color;
		overflow-y: auto;
		z-index: 999;

		:global(.tc-typeahead-section-container) {
			:global(.tc-typeahead-section-header) {
				border-bottom: none;
			}
		}
	}

	.items {
		margin: 0;
		padding: 0;
		list-style-type: none;

		> li > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: $tc-datalist-item-height;
			padding: 0 $padding-normal;
			&:hover {
				background-color: $concrete;
			}
		}
	}
}
