// Drawer styles

$tc-drawer-initial-offset: 100rem !default;
$tc-drawer-bgcolor: $white !default;
$tc-drawer-header-color: $st-tropaz !default;
$tc-drawer-transition-duration: 230ms !default;
$tc-drawer-transition-easing: cubic-bezier(0.18, 0.89, 0.32, 1.28) !default;
$tc-drawer-content-max-width: 65rem !default;
$tc-drawer-tabs-background: tint($brand-primary, 90) !default;
$tc-drawer-z-index: $drawer-z-index !default;

.tc-drawer {
	pointer-events: all;
	background-color: $tc-drawer-bgcolor;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50vw;
	z-index: $tc-drawer-z-index;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.tc-drawer {
		width: 40vw;
	}
}

@media (min-width: $screen-lg-min) {
	.tc-drawer {
		width: 30vw;
	}
}

.tc-drawer-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-left: 1px solid $silver;
}

.tc-drawer-tabs-container {
	background-color: $tc-drawer-tabs-background;
}

.drawer-stacked {
	width: 100%;
}

@media screen and (min-width: $screen-xs-max) {
	.drawer-stacked {
		.tc-drawer-container {
			padding: {
				left: 0;
				right: 0;
			}
		}

		.tc-drawer-header-title,
		.tc-drawer-tabs,
		.tc-drawer-content,
		.tc-drawer-actionbar,
		.tc-drawer-footer {
			margin: 0 auto;
			padding: {
				left: 0;
				right: 0;
			}
			width: $tc-drawer-content-max-width;
		}

		.tc-drawer-actionbar-container,
		.tc-drawer-footer {
			box-shadow: none;
		}
	}
}

.tc-drawer-header-title,
.tc-drawer-tabs,
.tc-drawer-content,
.tc-drawer-actionbar,
.tc-drawer-footer {
	padding: {
		left: $padding-large;
		right: $padding-large;
	}
}

.tc-drawer-header {
	:global {
		.tc-editable-text {
			min-width: 0;
		}
		.tc-editable-text-pencil {
			color: $st-tropaz;
		}
	}

	&-title {
		position: relative;
		display: flex;
		align-items: center;
		padding: $padding-larger $padding-large;

		h1 {
			font-size: $font-size-large;
			margin: 0;
			color: $tc-drawer-header-color;
			text-overflow: ellipsis;
			width: 90%;
			white-space: nowrap;
			overflow: hidden;
		}

		:global(.tc-editable-text) {
			flex: 1;
		}

		.drawer-close-action-tooltip {
			position: absolute;
			right: 0;
			bottom: $padding-normal / 2;
		}

		& > .tc-editable-text {
			width: unset;
		}
	}

	.tc-drawer-close-action {
		color: $st-tropaz;
	}
}

.tc-drawer-header-with-tabs {
	padding: 0;
	background-color: $gray-lighter;
}

.tc-drawer-content {
	flex-grow: 1;
	min-height: 0;
	overflow-y: auto;
}

.tc-drawer-actionbar-container,
.tc-drawer-footer {
	padding: $padding-large $padding-large;
	box-shadow: tint($black, 90) 0px -1px 5px 0px;

	:global(.tc-actionbar-container) {
		padding: 0;
		background: none;

		:global(.btn) {
			margin: {
				top: 0;
				bottom: 0;
			}
		}
	}

	:global {
		.navbar-left {
			.btn + .btn {
				margin-right: $padding-large;
			}
		}

		.navbar-right {
			.btn + .btn {
				margin-left: $padding-large;
			}
		}
	}
}

:global(.tc-with-drawer-wrapper) :global(.tc-drawer.stacked)::after {
	background: rgba(0, 0, 0, 0.4);
	content: ' ';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

:global(.tc-with-drawer-wrapper:last-child) :global(.tc-drawer.stacked)::after {
	content: none;
}
