// Drawer styles

$tc-drawer-initial-offset: 100rem !default;
$tc-drawer-bgcolor: $white !default;
$tc-drawer-header-color: $st-tropaz !default;
$tc-drawer-transition-duration: 230ms !default;
$tc-drawer-transition-easing: cubic-bezier(0.18, 0.89, 0.32, 1.28) !default;
$tc-drawer-content-max-width: 60rem !default;
$tc-drawer-tabs-background: tint($brand-primary, 90) !default;
$tc-drawer-z-index: $drawer-z-index !default;

.tc-drawer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50vw;
	pointer-events: all;
	background-color: $tc-drawer-bgcolor;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	z-index: $tc-drawer-z-index;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.tc-drawer {
		width: 40vw;
	}
}

@media (min-width: $screen-lg-min) {
	.tc-drawer {
		width: 30vw;
	}
}

.tc-drawer-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.tc-drawer-header {
		&-title {
			position: relative;
			display: flex;
			align-items: flex-start;
			padding: $padding-larger $padding-large;

			> * {
				margin: 0;
				color: $tc-drawer-header-color;
			}

			:global {
				.tc-editable-text {
					flex: 1;
					min-width: 0;
					width: unset;

					&-wording {
						margin: 0;
						width: 90%;
						font-size: $font-size-large;
						color: $tc-drawer-header-color;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}

					&-pencil {
						left: -99999px;
						color: $tc-drawer-header-color;
					}
				}
			}

			.tc-drawer-close-action {
				color: $st-tropaz;
				min-height: inherit;
				line-height: inherit;
			}
		}
	}

	:global(.tc-drawer-header-with-tabs) {
		padding: {
			left: $padding-large;
			right: $padding-large;
		}
	}

	:global(.tc-drawer-header-with-tabs),
	.tc-drawer-tabs-container {
		border-bottom: 1px solid $silver;

		:global {
			.nav-tabs > li {
				> a,
				> button {
					margin-bottom: 0;
				}

				&:first-child {
					> a,
					> button {
						padding-left: 0;

						&:after {
							left: 0;
						}
					}
				}

				&:last-child {
					> a,
					> button {
						padding-right: 0;

						&:after {
							right: 0;
						}
					}
				}
			}
		}
	}

	.tc-drawer-content {
		flex-grow: 1;
		min-height: 0;
		overflow-y: auto;
	}

	.tc-drawer-actionbar-container,
	.tc-drawer-footer {
		padding: $padding-large $padding-large;
		box-shadow: tint($black, 90) 0px -1px 5px 0px;

		:global {
			.tc-actionbar-container {
				padding: 0;
				background: none;

				.btn {
					margin: {
						top: 0;
						bottom: 0;
					}
				}
			}

			.navbar-left {
				.btn + .btn {
					margin-right: $padding-large;
				}
			}

			.navbar-right {
				.btn + .btn {
					margin-left: $padding-large;
				}
			}
		}

		.tc-with-drawer-wrapper .tc-drawer.stacked::after {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			content: ' ';
			background: rgba(0, 0, 0, 0.4);
		}

		.tc-with-drawer-wrapper:last-child .tc-drawer.stacked::after {
			content: none;
		}
	}

	.tc-drawer-header-title,
	.tc-drawer-tabs,
	.tc-drawer-content,
	.tc-drawer-actionbar,
	.tc-drawer-footer {
		padding: {
			left: $padding-large;
			right: $padding-large;
		}
	}
}

.drawer-stacked {
	@media screen and (min-width: $screen-xs-max) {
		width: 100%;
		.tc-drawer-container {
			padding: {
				left: 0;
				right: 0;
			}
		}

		.tc-drawer-header-title,
		.tc-drawer-tabs,
		.tc-drawer-content,
		.tc-drawer-actionbar,
		.tc-drawer-footer {
			margin: 0 auto;
			padding: {
				left: 0;
				right: 0;
			}
			width: $tc-drawer-content-max-width;
		}

		.tc-drawer-actionbar-container,
		.tc-drawer-footer {
			box-shadow: none;
		}
	}
}
