$tc-drawer-initial-offset: 1000px !default;
$tc-drawer-bgcolor: white !default;
$tc-drawer-transition-duration: 230ms !default;
$tc-drawer-transition-easing: cubic-bezier(0.18, 0.89, 0.32, 1.28) !default;
$tc-drawer-padding: $padding-large !default;
$tc-drawer-header-height: 5.5rem !default;
$tc-drawer-header-color: $white !default;
$tc-drawer-header-background: $brand-primary-lighter !default;
$tc-drawer-tabs-background: tint($brand-primary, 90) !default;
$tc-drawer-content-max-width: 65rem !default;
$tc-action-bar-background-color: $wild-sand !default;
$tc-drawer-z-index: $drawer-z-index !default;

.tc-drawer {
	pointer-events: all;
	background-color: $tc-drawer-bgcolor;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50vw;
	z-index: $tc-drawer-z-index;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.tc-drawer {
		width: 40vw;
	}
}

@media (min-width: $screen-lg-min) {
	.tc-drawer {
		width: 30vw;
	}
}

.tc-drawer-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tc-drawer-tabs-container {
	background-color: $tc-drawer-tabs-background;
}

.tc-drawer-actionbar {
	padding: 0;
}

.drawer-stacked {
	width: 100%;
}

@media screen and (min-width: $screen-xs-max) {
	.drawer-stacked {
		.tc-drawer-header-title,
		.tc-drawer-tabs,
		.tc-drawer-content-wrapper,
		.tc-drawer-actionbar,
		.tc-drawer-footer > nav {
			width: $tc-drawer-content-max-width;
			margin: 0 auto;
		}

		:global {
			.tc-actionbar-container {
				margin: 0 auto;
				padding: 0 $tc-drawer-padding;
				width: $tc-drawer-content-max-width;
			}
		}
	}
}

.tc-drawer-header {
	background-color: $tc-drawer-header-background;

	:global {
		.tc-editable-text {
			min-width: 0;
		}

		.tc-editable-text-pencil {
			color: $tc-drawer-header-color;
		}
	}

	&-title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: $tc-drawer-header-height;
		padding: $tc-drawer-padding;

		h1 {
			flex: 1;
			margin: 0;
			font-size: $font-size-h2;
			color: $tc-drawer-header-color;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.tc-drawer-close-action {
			flex: 0;
			margin-right: -$tc-drawer-padding;
			color: $tc-drawer-header-color;
		}

		:global(.tc-editable-text) {
			flex: 1;
		}

		.drawer-close-action-tooltip {
			position: absolute;
			right: 0;
			bottom: calc(#{$tc-drawer-padding} / 2);
		}

		> .tc-editable-text {
			width: unset;
		}
	}
}

.tc-drawer-header-with-tabs {
	padding: 0;
	background-color: $gray-lighter;
}

.tc-drawer-content {
	flex-grow: 1;
	min-height: 0;
	overflow-y: auto;

	&-wrapper {
		padding: $tc-drawer-padding;
		flex-grow: 1;
		min-height: 0;
	}
}

.tc-drawer-footer,
.tc-drawer-actionbar-container {
	padding: $padding-small $tc-drawer-padding;
	background: $tc-action-bar-background-color;

	:global {
		.navbar-left,
		.navbar-right {
			> * {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}

:global(.tc-with-drawer-wrapper) :global(.tc-drawer.stacked)::after {
	background: rgba(0, 0, 0, 0.4);
	content: ' ';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

:global(.tc-with-drawer-wrapper:last-child) :global(.tc-drawer.stacked)::after {
	content: none;
}
