////
/// Side panel
/// @group Custom widgets
////

/// Side panel toggle button color
/// @type Color
$side-panel-toggle-color: #ddd !default;

/// Side panel default spacing
/// @type Number (Unit)
$side-panel-spacing: 20px !default;

/// Docked side panel spacing
/// @type Number (Unit)
$side-panel-docked-spacing: 15px !default;

.sidePanel {
  padding: 0 $side-panel-spacing;
  overflow-x: hidden;
  transition: .2s padding ease-out;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .toggleBtn {
    position: relative;
    display: block;
    padding: 0;
    line-height: .75;
    color: $side-panel-toggle-color;
    box-shadow: -2px 0 0 $side-panel-toggle-color;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: 0;
    }

    i {
      transition: .2s transform ease-out;
    }

    // Increase click area
    :after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1rem;
      border-radius: 50%;
    }

    + ul {
      margin-top: 25px;
    }
  }

  > ul {
    margin: 0 -1*($side-panel-spacing);
    transition: .2s margin ease-out;
  }

  &Link {
    padding: 0;
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;

    i {
      padding-right: 20px;
    }

    span {
      transition: .2s opacity linear;
    }
  }

  &.docked {
    padding: 0 $side-panel-docked-spacing;

    .toggleBtn i {
      transform: rotate(-180deg);
    }

    .sidePanelLink span {
      opacity: 0;
    }
  }
}
