////
/// Side panel
/// @group Custom widgets
////

/// Side panel toggle button color
/// @type Color
$tc-side-panel-toggle-color: #DDD !default;

/// Docked side panel spacing
/// @type Number (Unit)
$tc-side-panel-docked-spacing: 15px !default;

.tc-side-panel {
	overflow-x: hidden;
	padding: 0 $padding-large;
	transition: 0.2s padding ease-out;

	:global(.btn) svg:global(.tc-svg-icon) {
		width: 1.4em;
		height: 1.4em;
	}

	.action-list {
		margin: 0 (-$padding-large);
		transition: 0.2s margin ease-out;

		:global(.tc-side-panel-list-item):first-child {
			height: 1.5 * (2 * $padding-base-vertical + 1.4 * $font-size-base);
		}
	}

	.link {
		text-align: left;
		font-size: 1em;
		text-transform: uppercase;

		:global(.tc-svg-icon) + span {
			padding-left: $padding-normal;
		}

		span {
			transition: 0.2s opacity linear;
		}
	}

	//override nav-pill a bit
	:global(.nav-pills .btn.btn-link) {
		padding: 12px 90px 12px $padding-large;
	}

	:global(.tc-side-panel-list-item):hover {
		background-color: darken($brand-primary, 2%);
	}

	&.docked {
		padding: 0 $padding-normal;

		.toggle-btn :global(.tc-svg-icon) {
			transform: rotate(-180deg);
		}

		.link span {
			opacity: 0;
		}

		//override nav-pill a bit
		:global(.nav-pills .btn.btn-link) {
			padding-left: $padding-normal;
			padding-right: $padding-normal;
		}
	}

	.toggle-btn {
		margin-left: 0;
		margin-bottom: $padding-large;

		& svg:global(.tc-svg-icon) {
			fill: $tc-side-panel-toggle-color;
			width: 1.3em;
			height: 1.3em;
			transition: 0.2s transform ease-out;
		}

		&:before {
			content: '';
			height: 0.9em;
			margin-right: -5px;
			border-left: 2px solid $tc-side-panel-toggle-color;
		}
	}
}
