/* stylelint-disable color-hex-case */
.tc-action-list {
	display: inline-block;
	min-width: 12.5rem;
	background-color: var(
		--coral-color-branding-background,
		linear-gradient(133deg, hsl(210, 62%, 26%) 0%, hsl(254, 47%, 23%) 100%)
	);
}
.tc-action-list .tc-action-list-item :global .tc-svg-icon {
	width: var(--coral-sizing-xxxs, 1rem);
	height: var(--coral-sizing-xxxs, 1rem);
	margin: 0;
}
.tc-action-list .tc-action-list-item :global .btn.btn-link {
	padding: 15px;
	text-overflow: inherit;
	text-transform: none;
}
.tc-action-list .tc-action-list-item :global .btn.btn-link > span {
	margin-left: 15px;
	vertical-align: middle;
	transition: 0.1s opacity ease-out;
}
