@use '@talend/design-tokens/lib/tokens';

.container {
	color: tokens.$coral-color-neutral-text-weak;
	min-height: tokens.$coral-sizing-xxxl;
	padding: tokens.$coral-spacing-m;
}

.footer {
	padding-top: tokens.$coral-spacing-s;
}
