.tf-array-container {
	margin-bottom: $padding-normal;
	display: flex;
	flex-direction: column;

	.tf-array-fieldset::before {
		content: attr(data-content);
		display: inline-block;
		text-transform: uppercase;
		margin: $padding-normal 0;
	}

	fieldset > legend {
		// the idea here is to hide the element ou of the viewport
		// and at the minimal size possible, so it is still targetable
		// by accessibility helpers.
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	.tf-array-add {
		float: right;
	}

	.tf-array {
		padding: 0;

		.item {
			list-style: none;
		}
	}
}
