.tf-array-item {
	position: static;
	display: flex;
	background: $wild-sand;
	margin-bottom: $padding-normal;
	border-left: 5px solid $brand-primary;

	&:hover {
		
		.delete {
			color: $brand-danger;
		}
	}

	> * {
		position: static;
		flex-grow: 1;
		margin: 0;
		padding: $padding-normal;
	}

	.control {
		flex-grow: 0;
		flex-shrink: 0;

		border-right: 1px solid $gray-lighter;
		display: flex;
		flex-direction: column;
		padding: 0 $padding-small;

		.delete + button {
			margin-top: ($padding-normal * 2);
		}

		button {
			background: transparent;
			border: 0;
			margin: 1em 0 0 0;
			color: $dark-silver;

			&:hover {
				color: $dove-gray;
			}

			&:disabled {
				color: $silver;
				cursor: not-allowed;
			}
		}
	}

	:global(.collapsible-panel) {
		margin: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&,
		&:hover {
			box-shadow: none;
			border: 0;
		}
	}
}
