@use '@talend/design-tokens/lib/tokens' as tokens;

.tf-array-fieldset {
	&::before {
		content: attr(data-content);
		display: inline-block;
		margin: tokens.$coral-spacing-m 0;
	}

	.tf-array-add {
		float: right;
	}

	.tf-array {
		padding: 0;
		margin: 0;

		.item {
			list-style: none;
		}
	}
}
