$module: dataviz-tooltip;

.#{$module} {
	padding: 12px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: $white;
	list-style-type: none;
	white-space: nowrap;

	&__value {
		color: $scooter;
	}
}
