$tc-typeahead-input-color: #000 !default;
$tc-typeahead-input-width: 262px !default;

$tc-typeahead-opened-items-container-color: #aaa !default;
$tc-typeahead-opened-items-container-background-color: #fff !default;

$tc-typeahead-focused-item-background-color: #f7f7f7 !default;
$tc-typeahead-item-description-color: #c0c0c0 !default;

$tc-typeahead-section-border-color: #e0e0e0 !default;

$tc-typeahead-icon-color: #ccc !default;
$tc-typeahead-only-icon-color: #ccc !default;
$tc-typeahead-section-header-color: #63aebd !default;

$tc-typeahead-items-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4) !default;
$tc-typeahead-items-border-radius: $border-radius-base !default;
$tc-typeahead-items-font-size: 1.5rem !default;

.tc-typeahead-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;

	.items-container {
		display: none;
		position: absolute;
		margin-top: $padding-smaller;
		top: 100%;
		max-height: 70vh;
		min-width: $tc-typeahead-input-width;
		font-size: $tc-typeahead-items-font-size;
		background-color: $tc-typeahead-opened-items-container-background-color;
		border-radius: $tc-typeahead-items-border-radius;
		box-shadow: $tc-typeahead-items-box-shadow;
		overflow-y: auto;
	}

	&.right {
		align-items: flex-end;

		.items-container {
			right: 0;
		}
	}

	.is-searching,
	.no-result,
	&.container-open .items-container {
		display: block;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}

.typeahead-input {
	min-width: $tc-typeahead-input-width;

	&-icon {
		position: relative;
		display: flex;
		align-items: center;

		.icon-cls {
			margin-left: -2em;
			color: $tc-typeahead-icon-color;
		}
	}
}

.is-searching,
.no-result {
	padding: $padding-normal;
	font-size: 1.5rem;
	font-style: italic;
	color: $tc-typeahead-item-description-color;

	> span {
		display: inline-block;
		padding: $padding-normal 0;
	}
}

.is-searching {
	display: flex;
	align-items: center;

	> svg {
		margin-left: auto;
	}
}

.items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.section-header {
	display: flex;
	align-items: center;
	margin-top: -1px;
	padding: $padding-normal;
	color: $tc-typeahead-section-header-color;
	border-top: 1px solid $tc-typeahead-section-border-color;
	border-bottom: 1px solid $tc-typeahead-section-border-color;

	&-title {
		font-size: 1.2rem;
		letter-spacing: 0.6px;
		text-transform: uppercase;
	}

	i + &-title,
	svg + &-title {
		padding-left: $padding-small;
	}
}

.item {
	margin-bottom: 0;
	padding: $padding-normal;
	cursor: pointer;

	&-description {
		margin-bottom: 0;
		font-size: 1.3rem;
		color: $tc-typeahead-item-description-color;
	}

	&-highlighted {
		background-color: $tc-typeahead-focused-item-background-color;
	}
}

.highlight-match {
	font-weight: 600;
	font-style: normal;
}
