@use '~@talend/design-tokens/lib/tokens';
@use 'src/components/Form/Primitives/mixins' as Form;

.select {
  @include Form.baseInput();
  height: Form.$standardInputHeight;

  option:disabled {
      color: tokens.$coral-color-neutral-text-weak;
      opacity: tokens.$coral-opacity-s;
  }
}
