$border-default: 1px solid $gallery;

@mixin main {
    color: $dove-gray;
    font-weight: 600;
}


@mixin picker-action-selected {
    background-color: $scooter;
    color: $white;
}

@mixin nav-action {
    font-weight: 600;
    padding: 0;

    &:hover {
        color: $scooter;
    }
}

@mixin month-year-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;

    span {
        padding: 3px;
        line-height: normal;
    }

    &:hover {
        background-color: $gallery;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &.selected {
        background-color: transparent;
        span {
            @include picker-action-selected;
        }
    }
}
