
$border-default: 1px solid $gallery;

@mixin default {
    color: $dove-gray;
    font-weight: 600;
}

@mixin hover {
    background-color: $concrete;
}

@mixin active {
    background-color: $scooter;
    color: $white;
}

@mixin disabled {
    color: $silver-chalice;
    background-color: transparent;
}

@mixin nav-action-default($icon-size) {
    color: $silver;
    font-weight: 600;

    &:global(.btn):hover {
        color: $scooter;
    }

    :global(.tc-svg-icon) {
        width: $icon-size;
    }
}
