@mixin main {
    color: $dove-gray;
    font-weight: 600;
}

@mixin nav-action {
    font-weight: 600;
    padding: 0;
    background: none;
    border: none;

    &:hover {
        color: $scooter;
    }
}

@mixin picker-action-selected {
    background-color: $scooter;
    color: $white;
}
