// Filter styles
$tc-list-filter-input-size: 200px !default;
$tc-list-filter-highlight-color: #f6e5bb !default;

.filter {
	display: flex;
	align-items: top;
	padding: 0;
	background: $white;

	.search-icon {
		margin: $padding-small;
	}

	:global(.form-group.form-group) {
		padding: 0;
		background: none;
	}

	.search {
		width: $tc-list-filter-input-size;
		animation: reveal 1s cubic-bezier(0.4, 0, 0.2, 1);

		&::-ms-clear {
			// sass-lint:disable-line no-vendor-prefixes
			display: none;
		}
	}
}

.highlight {
	background-color: $tc-list-filter-highlight-color;
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		width: $tc-list-filter-input-size;
	}
}
