$tc-guidedtour-accent-color: $scooter !default;
$tc-guidedtour-tooltip-padding: $padding-large !default;
$tc-guidedtour-mask-opactiy: 0.25 !default;
$tc-guidedtour-close-button-size: $svg-sm-size !default;

:global(#___reactour) {
	.tc-guided-tour {
		--reactour-accent: #{$tc-guidedtour-accent-color};
		padding: $tc-guidedtour-tooltip-padding (3 * $tc-guidedtour-tooltip-padding) $tc-guidedtour-tooltip-padding $tc-guidedtour-tooltip-padding;

		[data-tour-elem='controls'] {
			margin-right: (-2 * $tc-guidedtour-tooltip-padding);
			justify-content: space-between;

			+ button {
				height: $tc-guidedtour-close-button-size;
				width: $tc-guidedtour-close-button-size;
			}
		}

		&.no-interaction {
			[data-tour-elem='controls'] {
				justify-content: center;
			}
		}

		.header {
			margin-top: 0;
		}
	}
}

:global(.reactour__mask) {
	opacity: $tc-guidedtour-mask-opactiy;
}
