@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as tokens;

// SelectSortBy styles
$tc-order-chooser-icon-size: 0.375rem !default;

.tc-sort-by {
	display: flex;
	align-items: center;

	:global(.navbar-text) {
		margin: 0;
	}

	&-label {
		margin: 0;
		font-weight: normal;
		color: tokens.$coral-color-neutral-text-weak;
	}

	:global(.navbar-btn.btn) {
		color: tokens.$coral-color-neutral-text-weak;
		font-size: 1em;
		margin: 0;
	}

	&-order-chooser[type='button'] {
		display: flex;
		align-items: center;
		padding: 0;

		&:hover,
		&:focus,
		&:active {
			color: tokens.$coral-color-neutral-text;
			box-shadow: none;
		}

		:global(.tc-svg-icon.tc-sort-by-order-chooser-indicator) {
			width: $tc-order-chooser-icon-size;
			height: $tc-order-chooser-icon-size;
		}
	}

	:global(.nav.navbar-nav) {
		display: flex;
		align-items: center;
	}

	&-items > a[role='button'] {
		display: inline-block;
		text-transform: lowercase;
		white-space: nowrap;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
