// SelectSortBy styles

$tc-list-toolbar-display-color: $dove-gray !default;
$tc-order-chooser-icon-size: 0.6rem !default;

.tc-sort-by {
	display: flex;
	align-items: center;
	:global(.navbar-text) {
		margin: 0;
	}
	&-label {
		margin: 0;
		font-weight: normal;
		color: $dove-gray;
	}

	:global(.navbar-btn.btn) {
		color: $tc-list-toolbar-display-color;
		font-size: 1em;
		margin: 0;
		letter-spacing: 0;
	}

	:global(.tc-sort-by-order-chooser) {
		display: inherit;
		padding: 0;
		&:hover,
		&:focus,
		&:active {
			color: $black;
			box-shadow: none;
		}
		> svg {
			vertical-align: initial;
		}

		svg.tc-sort-by-order-chooser-indicator {
			width: $tc-order-chooser-icon-size;
			height: $tc-order-chooser-icon-size;
		}
	}
	li.tc-sort-by-items {
		display: flex;
		align-items: center;
		> a[role='button'] {
			display: inline-block;
			text-transform: lowercase;
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

:global(.tc-sort-by-order-chooser) {
	color: red;
}
