.axis-tick {
	font-size: 12px;
	font-family: 'Source Sans Pro';
	color: $dove-gray;
}

.td-legend-item {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	&.td-legend-selected {
		font-weight: 600;
	}
	svg {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
}

:global {
	.recharts-legend-wrapper {
		display: flex;
		text-align: center;
		justify-content: center;
	}
}
