// ConfirmDialog styles
$tc-dialog-progress-bg: #C3D600 !default;
$tc-dialog-header-color: #607D8B !default;
$tc-dialog-medium-padding: 20px !default;
$tc-dialog-body-padding: 30px !default;

.tc-confirm-dialog {

	:global(.modal-header) {
		padding: $tc-dialog-medium-padding;
		background-color: $tc-dialog-header-color;

		:global(.modal-title) {
			text-transform: uppercase;
			text-align: center;
			color: white;
			line-height: $tc-dialog-medium-padding;
		}
	}

	:global(.modal-body) {
		padding: $tc-dialog-body-padding;

		:global(.progress) {
			position: relative;
			top: -$tc-dialog-body-padding;
			margin-top: -1px;
			margin-bottom: 0;
			margin-left: -$tc-dialog-body-padding;
			margin-right: -$tc-dialog-body-padding;
			border-radius: 0;
			box-shadow: none;
			height: 5px;
			background-color: transparent;

			:global(.progress-bar) {
				background-color: $tc-dialog-progress-bg;
				box-shadow: none;
			}
		}
	}


	:global(.modal-footer) {
		padding: $tc-dialog-medium-padding;
		display: flex;
		justify-content: flex-start;

		> button {
			&:last-child {
				margin-left: auto;
			}
		}
	}
}
