@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as token;

$tc-popover-border-width: 0.0625rem !default;
$tc-height: 2.5rem;

.tc-column-chooser {
	:global(.tc-tooltip-body) {
		margin: 0;
	}

	:global(.tc-tooltip-footer.tc-column-chooser-footer) {
		justify-content: flex-end;
	}

	&-header {
		display: flex;
		align-items: center;

		&-title {
			font-weight: bold;
		}
	}

	&-filter {
		margin: 0 $padding-small;
	}

	&-body {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&-columns-list {
		overflow-y: auto;
		max-height: 5 * $tc-height;
	}

	&-footer {
		align-items: center;
		display: flex;
	}

	&-row {
		padding: 0 $padding-large;
		display: flex;
		align-items: center;
		min-height: $tc-height;

		&-select-all {
			border-bottom: $tc-popover-border-width solid tokens.$coral-color-neutral-border-weak;
		}

		&:global(.ally-focus-within),
		&:hover {
			background: tokens.$coral-color-neutral-background-medium;
		}

		&-label {
			padding-left: tokens.$coral-spacing-xs;
		}
	}
}
