.state-filters {
	margin-right: $padding-normal;

	> * {
		display: inline-block;
		height: 100%;
	}

	.option-label {
		margin-right: $padding-small;
	}

	// ActionIconToggle style reset :
	:global(.tc-icon-toggle) {
		background: none;
		border: none;
		box-shadow: none;
		width: $svg-md-size;

		> svg {
			margin: 0;
			width: $svg-md-size;
			height: $svg-md-size;
			color: $dove-gray;
		}

		&:hover:not([disabled]),
		&:active {
			background: none;
			border: none;
		}
	}

	:global(.tc-icon-toggle) {
		margin-left: $padding-small;
		display: inline-flex;

		&:global(.active),
		&:hover {
			&.selected-filter > svg {
				color: $scooter;
			}

			&.favorite-filter > svg {
				color: $lightning-yellow;
			}

			&.certified-filter > svg {
				color: $brand-primary;
			}
		}
	}
}
