@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as tokens;

// TreeView styles

.tc-treeview {
	.tc-treeview-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		color: tokens.$coral-color-accent-text;
		line-height: 3.75rem;
		font-weight: bold;

		padding-left: $padding-large;
		border-bottom: 1px solid tokens.$coral-color-neutral-border;

		:global(.btn-link .tc-svg-icon) {
			stroke: tokens.$coral-color-accent-text;
		}
	}

	.tc-treeview-list {
		padding: $padding-small 0;
		overflow: auto;
		list-style-type: none;
	}
}
