// TreeView styles

.tc-treeview {
	.tc-treeview-header {
		color: $brand-primary;
		display: flex;
		line-height: $padding-large;
		font-weight: bold;
		text-transform: uppercase;
		padding: $padding-large;
		border-bottom: 1px rgba(0, 0, 0, 0.12) solid;

		:global(.btn-link) {
			padding: 0;
			margin-left: auto;
			height: $padding-large;

			:global(.tc-svg-icon) {
				display: block;
				height: $svg-md-size;
				width: $svg-md-size;
				stroke: $brand-primary;
				fill: $brand-primary;
				margin-right: 0;
			}
		}
	}

	.tc-treeview-nav {
		padding: $padding-small 0;
		overflow: auto;

		.tc-treeview-ul {
			padding: 0;
			list-style-type: none;

			.tc-treeview-li {
				line-height: $padding-large;
			}
		}
	}
}
