@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens';

:global(.tc-model .tc-tree) {
	overflow: auto;
}

.tc-tree {
	list-style: none;
	flex-grow: 1;
	margin-bottom: 0;

	&-list {
		list-style: none;
		padding: 0;
	}

	&-node-border {
		border-left: 1px solid tokens.$coral-color-neutral-border;
		margin-left: calc($svg-sm-size / 2);

		&:hover {
			border-left-color: tokens.$coral-color-neutral-border;
		}
	}

	li:hover {
		background-color: tokens.$coral-color-neutral-background-strong;
	}
}
