// ConfirmDialog styles
$tc-dialog-progress-bg: #c3d600 !default;

.tc-confirm-dialog {
	/** IE-FIX */
	:global(.modal-dialog) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		> :global(.modal-content) {
			flex-basis: 100%;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	:global(.progress) {
		flex-grow: 0;
		flex-shrink: 0;
		position: relative;
		margin-top: -1px;
		margin-bottom: 0;
		border-radius: 0;
		box-shadow: none;
		height: 5px;
		background-color: transparent;

		:global(.progress-bar) {
			background-color: $tc-dialog-progress-bg;
			box-shadow: none;
		}
	}
}
