@import '~@talend/bootstrap-theme/src/theme/animation';

.template:global(.required) {
	:global {
		.control-label:after {
			content: '*';
		}
		.checkbox .control-label:after {
			position: static;
			outline: none;
		}
	}
}

.updating {
	@include heartbeat(object-blink);
}
