@use '~@talend/design-tokens/lib/tokens';

@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.header-cell {
	$self: &;
	padding: tokens.$coral-spacing-xs;

	&__top-row {
		overflow: hidden;
	}

	&__title {
		@include ellipsis;
		font: tokens.$coral-paragraph-m;

		abbr {
			text-decoration: none;
		}
	}

	&__type {
		@include ellipsis;
		color: tokens.$coral-color-neutral-text-weak;
		font: tokens.$coral-paragraph-s;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__sub-type {
		font-style: italic;
	}

	&__description-tick,
	&__dq-rule-icon {
		&,
		svg {
			color: tokens.$coral-color-neutral-icon-weak;
			width: tokens.$coral-sizing-minimal;
			height: tokens.$coral-sizing-minimal;
		}
	}

	:global(.tc-ratio-bar) {
		padding: 0;
	}

	&--loading {
		animation: tokens.$coral-animation-heartbeat;
	}

	&--type-draft {
		#{$self}__title,
		#{$self}__type {
			color: tokens.$coral-color-accent-text-strong;
		}

		:global(.tc-ratio-bar) {
			opacity: 0.5;
		}
	}
}
