@use '~@talend/design-tokens/lib/tokens';

@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.header-cell {
	$self: &;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: tokens.$coral-spacing-xs;

	:global(.tc-ratio-bar) {
		padding: tokens.$coral-spacing-xs 0 0;
	}

	&__first-line {
		@include ellipsis;
	}

	&__title {
		@include ellipsis;
		font: tokens.$coral-paragraph-m;

		abbr {
			text-decoration: none;
		}
	}

	&__type {
		@include ellipsis;
		color: tokens.$coral-color-neutral-text-weak;
		font: tokens.$coral-paragraph-s;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__sub-type {
		font-style: italic;
	}

	&__description-tick svg {
		color: tokens.$coral-color-neutral-icon-weak;
		width: tokens.$coral-sizing-minimal;
		height: tokens.$coral-sizing-minimal;
	}

	&__menu-button svg {
		transform: rotate(90deg);
	}

	&--loading {
		animation: tokens.$coral-animation-heartbeat;
	}

	&--type-draft {
		#{$self}__title,
		#{$self}__type {
			color: tokens.$coral-color-accent-text-strong;
		}

		:global(.tc-ratio-bar) {
			opacity: 0.5;
		}
	}
}
