@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;

.about-dialog {
	:global(.modal-body) {
		text-align: center;
		padding: {
			top: 0.625rem;
			left: 2rem;
			right: 2rem;
		}

		.about {
			&-logo {
				width: 4.125rem;
				height: 4.125rem;
			}

			&-excerpt {
				margin-top: 1.25rem;
			}

			&-versions {
				margin: 0 auto;
				margin-top: 1.875rem;
				text-align: justify;
				table-layout: fixed;

				th,
				td {
					padding: $padding-smaller;
					text-align: left;
				}
			}
		}
	}
}
