$tc-headerbar-logo-width: 6rem !default;
$tc-headerbar-logo-full-width: 8.5rem !default;
$background-color-on-hover: shade($brand-primary, 30);

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.tc-header-bar {
	background-color: $brand-primary-darker;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1030;

	// tmp change Talend logo colors until rebranding is done
	[name='talend-logo-square'] path {
		&.ti-foreground {
			fill: $regal-blue;
		}
		&.ti-background {
			fill: $white;
		}
	}

	svg {
		margin: 0;
	}
	a svg {
		margin: 0 $padding-smaller;
	}
	ul {
		list-style: none;
	}

	.tc-header-bar-actions {
		align-items: center;
		display: flex;
		padding: 0;
		margin: 0;

		&.right {
			margin-left: auto;
		}

		.tc-header-bar-action {
			list-style: none;
			display: flex;
			align-items: center;
			height: 100%;
			white-space: nowrap;

			&.separated:not(:last-child):after {
				content: ' ';
				display: block;
				width: 1px;
				height: $font-size-large;
				background-color: $white;
			}

			:global {
				.tc-typeahead-item-title,
				.tc-typeahead-item-description {
					white-space: initial;
				}
			}
		}

		.tc-header-bar-logo {
			padding: 0;
			width: $tc-headerbar-logo-width;

			:global(.tc-svg-icon) {
				padding: 0;
				height: 2.8rem;
				width: 2.8rem;
			}

			&.full {
				width: auto;

				:global(.tc-svg-icon) {
					padding: 0 $padding-normal;
					width: $tc-headerbar-logo-full-width;
				}
			}
		}

		.tc-header-bar-brand:global(.btn):global(.btn-link) {
			font-size: $font-size-base;
		}

		.tc-header-bar-call-to-action {
			:global {
				.btn.btn-info.btn-inverse {
					background-color: $white;
					border: none;
					margin-right: $padding-normal;

					&:hover {
						background-color: $white;
					}
				}
			}
		}
	}

	.tc-header-bar-products + :global(.dropdown-menu) :global(.tc-svg-icon) {
		fill: $st-tropaz;
		height: $svg-lg-size;
		width: $svg-lg-size;
	}

	.tc-header-bar-brand :global(.tc-svg-icon:first-child) {
		height: $svg-lg-size;
		width: $svg-lg-size;
	}

	.tc-header-bar-brand + :global(.dropdown-menu) {
		min-width: 100%;
		width: auto;
	}

	:global(.btn):global(.btn-link) {
		color: $white;
		font-size: $font-size-base;
		text-transform: none;
		text-decoration: none;

		&:hover,
		&:active {
			background-color: $background-color-on-hover;
		}
	}

	:global(.dropdown) {
		height: 100%;

		:global(.caret) {
			box-shadow: 2px -2px 0 $white;
			border: none;
			margin-left: $padding-small;
			margin-bottom: $padding-smaller;
		}

		&:global(.open) {
			:global(.caret) {
				margin-top: $padding-small;
			}
			:global(.btn):global(.btn-link) {
				background-color: $background-color-on-hover;
			}
		}
	}

	.tc-header-bar-search {
		form {
			height: $navbar-height;
			padding-left: 0;

			:global(.tc-typeahead-container) > div:first-child {
				margin-top: 0;
				margin-bottom: 0;

				padding-right: $padding-large;
				height: $navbar-height;
				background: $white;

				:global(.form-control) {
					font-style: italic;
					animation: fadeIn 0.2s;
					width: 400px;
				}
			}
		}
	}

	.tc-header-bar-intercom-default-component {
		border-radius: 50%;
		background: $st-tropaz;
		min-height: auto;
		height: 3.2rem;
		width: 3.2rem;
		margin: 0 $padding-small;
		padding: 0;
	}
}

:global(.intercom-namespace .intercom-app .intercom-messenger-frame) {
	top: 7rem;
}
