@use '~@talend/design-tokens/lib/tokens';

.model-field-clickable {
	cursor: pointer;
	padding: tokens.$coral-spacing-xxs;
	border-radius: tokens.$coral-radius-s;

	&.selected {
		background-color: tokens.$coral-color-accent-background-selected;
	}

	&:hover {
		background-color: tokens.$coral-color-accent-background-weak-hover;
	}
}

.model-field-button {
	width: 100%;
}

.model-record-field,
.model-array-field {
	display: grid;
	width: 100%;
}

.model-array-field-name,
.model-record-field-name {
	height: 3rem;
	display: flex;
}

.model-field-quality {
	width: 5rem;
	margin-left: auto;
}
