$tf-typeahead-input-width: 260px !default;
$tf-typeahead-items-background-color: $white !default;
$tf-typeahead-items-focus-background-color: shade($tf-typeahead-items-background-color, 5) !default;
$tf-typeahead-items-shadow-color: $shadow !default;
$tf-typeahead-no-result-color: $silver !default;

.tf-datalist {
	display: flex;
	align-items: center;
	width: 100%;

	.toggle {
		position: absolute;
		right: 5px;
		pointer-events: none;
	}

	.container {
		width: 100%;

		> div {
			width: 100%;
		}
	}
}
