$dropdown-shadow: 0 -1px 3px 0px rgba(0, 0, 0, 0.2) !default;
$form-shadow: inset 0 -1px 0 $gallery !default;
$form-focus-shadow: inset 0 -2px 0 $scooter;

.override {
	:global(.Select-control) {
		border: none;
		box-shadow: $form-shadow;
		border-radius: 0;
	}
	&:global(.is-focused) > :global(.Select-control),
	&:global(.is-focused):not(:global(.is-open)) > :global(.Select-control) {
		border: none;
		box-shadow: $form-focus-shadow;
	}
	&:global(.is-focused) > :global(.Select-control) {
		box-shadow: $form-focus-shadow;
	}
	:global(.Select-menu-outer) {
		margin-top: 0; // to see border-bottom of select-control
		border: 1px solid $gallery;
		border-radius: 4px;
		box-shadow: $dropdown-shadow;
	}
	:global(.Select-option) {
		padding: $padding-normal;
		&:global(.is-selected) {
			background-color: white;
			font-weight: 800;
		}
		&:global(.is-focused) {
			background-color: $concrete;
		}
	}
}
