@import '../colors';
$tc-list-title-actions-color: $brand-primary-dark !default;
$tc-list-title-color: $black !default;
$tc-list-title-icon-size: $svg-lg-size !default;

.tc-list-title {
	display: flex;
	align-items: center;
	position: relative;

	.icon {
		flex-shrink: 0;
		height: $tc-list-title-icon-size;
		width: $tc-list-title-icon-size;
		vertical-align: middle;

		+ form > input {
			margin-left: $padding-normal;
			width: auto;
		}
	}

	.main-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		padding: 0 $padding-normal;

		color: $tc-list-title-color;
		font-size: inherit;
		font-weight: 600;
		letter-spacing: inherit;
		text-transform: none;

		&:first-child {
			padding-left: 0;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.main-title-actions-group {
		position: absolute;
		right: 0;
		top: 0;


		:global(.tc-actions) {
			&:not(.persistent-actions) {
				opacity: 0;
				visibility: hidden;
				background: linear-gradient(to right, transparent, $tc-list-row-hover-bg $padding-large);
			}

			padding-left: $padding-large;
			flex-shrink: 0;
			flex-grow: 0;
			z-index: 1;

			:global(.btn-link) {
				color: $tc-list-title-actions-color;
			}
		}
	}
}

// manage actions display on row hover

:global(.tc-list-large-row):hover :global(.tc-list-title .tc-actions),
:global(.ReactVirtualized__Table__row):hover :global(.tc-list-title .tc-actions) {
	opacity: 1;
	padding-left: $padding-large;
	transition: opacity 0.15s ease-in;
	visibility: visible;
}

:global(.tc-list-large-row.active):hover :global(.tc-list-title .tc-actions),
:global(.ReactVirtualized__Table__row.active):hover :global(.tc-list-title .tc-actions) {
	background: linear-gradient(to right, transparent, $tc-list-row-active-hover-bg $padding-large);
}

:global(.tc-list-large-row.selected):hover :global(.tc-list-title .tc-actions),
:global(.ReactVirtualized__Table__row.selected):hover :global(.tc-list-title .tc-actions) {
	background: linear-gradient(to right, transparent, $tc-list-row-selected-hover-bg $padding-large);
}

// START : hack to allow actions dropdown to display
// there are important to override some inline styles injected by react-virtualized... sorry !
// sass-lint:disable no-important

:global(.ReactVirtualized__Grid__innerScrollContainer):hover,
:global(.ReactVirtualized__Table__row):hover,
:global(.tc-list-title-cell),
:global(.tc-list-title-cell) :global(.tc-actions.btn-group) {
	overflow: visible !important;
}

:global(.ReactVirtualized__Table__row):hover {
	/* avoid scrolling over x axis */
	width: auto !important;
	right: 0 !important;
	padding: 0 !important;
}

:global(.tc-list-title-cell) {
	display: flex;
	min-width: 0;
	line-height: $btn-line-height;

	> *:first-child {
		min-width: 0;
		flex: 1;
	}
}

// sass-lint:enable no-important
// END : hack to allow actions dropdown to display
