
.container {
    display: inline-block;

    .day-item {
        padding: 10px;
        width: 2.5em;
        text-align: center;
    }

    .calendar-header {
        display: flex;
    }

    .separator {
        width: calc(100% - 20px);
        border-color: grey;
        margin: 0 auto;
    }

    .calendar-body {
        display: flex;
        flex-direction: column;

        .week {
            display: flex;
        }
    }
}
