@import '../common';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $dove-gray;
    font-weight: 600;

    .calendar-row {
        display: flex;
    }

    .calendar-item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
    }

    .separator {
        width: calc(100% - 20px);
        border-color: $gallery;
        margin: 0 auto;
    }

    .calendar-header-row {
        color: $gray;
    }

    .calendar-body-row {
        .calendar-item {
            .calendar-day-action {
                background: none;
                border: none;
                width: 2em;
                height: 2em;
                border-radius: 50%;

                &:hover {
                    @include hover;
                }

                &:disabled {
                    @include disabled;
                }
            }

            &.today .calendar-day-action  {
                background-color: rgba($slate-gray, 0.12);
            }

            &.active .calendar-day-action {
                @include active;
            }
        }
    }
}
