@import '../common';

.container {
    @include main;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;

    .calendar-row {
        display: flex;
    }

    .calendar-item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
    }

    .calendar-header-row {
        color: $gray;

        abbr[title] {
           font-variant: none;
           border: none;
           text-decoration: none;
        }
    }

    .separator {
        width: calc(100% - 20px);
        border: none;
        border-bottom: $border-default;
        margin: 0 auto;
    }

    .calendar-body-row {
        .calendar-item {
            .calendar-day-action {
                background: none;
                border: none;
                width: 2em;
                height: 2em;
                border-radius: 50%;

                &:hover {
                    background-color: $concrete;
                }

                &:disabled {
                    color: $silver-chalice;
                    background-color: transparent;
                }
            }

            &.today .calendar-day-action  {
                background-color: rgba($slate-gray, 0.12);
            }

            &.active .calendar-day-action {
                @include picker-action-active;
            }
        }
    }
}
