@use '~@talend/design-tokens/lib/_tokens.scss';

$td-cell-quality-indicator-hover-width: 0.5rem !default;

.td-cell {
	height: 100%;
	display: flex;
	align-items: center;
	padding: tokens.$coral-spacing-xs;

	&:hover :global(.td-cell-quality-indicator) {
		width: $td-cell-quality-indicator-hover-width;
	}
}
