@import '~@talend/bootstrap-theme/src/theme/animation';
$td-cell-quality-indicator-hover-width: 0.5rem !default;
$td-cell-quality-indicator-padding: 1rem !default;

.td-cell {
	padding: $td-cell-quality-indicator-padding;
	height: 100%;

	&:hover :global(.td-cell-quality-indicator) {
		width: $td-cell-quality-indicator-hover-width;
	}
}
