$svg-tab-width: $svg-md-size * 2 !default;
$svg-other-caracters: 0.3rem !default;
$svg-color: #ccc !default;

.td-white-space-character {
	vertical-align: text-bottom;
	color: $svg-color;
}

.td-tab-character {
	width: $svg-md-size * 2;
}

.td-other-characters {
	width: $svg-other-caracters;
}
