$pattern-bar-primary-color: tint($jaffa, 70%);
$pattern-bar-secondary-color: shade($jaffa, 30%);

$value-bar-primary-color: tint($lochmara, 70%);
$value-bar-secondary-color: shade($lochmara, 30%);

$grey-bar-color: $alto;

@mixin overrideRechartsStyles() {
	// We can't use custom classname on axis
	:global {
		.recharts-responsive-container {
			overflow: visible;
		}
		.recharts-xAxis,
		.recharts-yAxis {
			text {
				font-size: 1.2rem;
				fill: $gray;
			}
			line {
				stroke: $gray;
			}
		}

		.recharts-tooltip-wrapper {
			z-index: 999;
		}

		.recharts-tooltip-cursor {
			fill: transparent;
			cursor: pointer;
			pointer-events: all;
		}
	}
}
