@import '~@talend/bootstrap-theme/src/theme/animation';

$sticky-width: 30rem;
$border: 1px solid $silver;
$border-light: 1px solid $alto;

.grid {
	border: $border;
	display: flex;
}

.scrollable {
	overflow-x: auto;
	width: 100%;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;

	.day {
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: $border;
		border-bottom: $border;
		font-weight: bold;
	}

	.hour {
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: $border;
		border-bottom: $border;

		&:last-of-type {
			border-right: none;
		}
	}
}

.titles {
	position: sticky;
	flex-grow: 0;
	flex-shrink: 0;
	border-right: $border;

	.title {
		display: flex;
		align-items: center;
		padding: 0 $padding-normal;
		border-top: $border-light;
	}
}

.rows {
	flex: 1 1 0;
	position: relative;
	padding: 2px 0;

	.row {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		border-top: $border-light;

		&:first-of-type {
			border-top: none;
		}

		&.ally-focus-within,
		&:focus-within,
		&:hover {
			background: $wild-sand;
		}
	}

	.data {
		animation: $fadein;
		position: absolute;
		background: green;
		border-radius: 2px;
		border: 0;
		padding: 0;
	}
}
