$sticky-width: 25rem;
$border-light: 1px solid $alto;

.grid {
	tr {
		display: flex;
		align-items: stretch;
		border-top: $border-light;
	}
	th,
	td {
		display: flex;
		align-items: center;
	}
}

.timelineCaption {
	color: #333;
	padding: 1rem 1.6rem;
	font-weight: normal;
}

.timelineRows {
	position: relative;
	overflow-x: auto;
	padding: 2px 0;
}

.timelineRow {
	margin: 0;
	padding: 0;

	&.ally-focus-within,
	&:focus-within,
	&:hover {
		background-color: $wild-sand;

		.timelineTitle {
			font-weight: bold;
		}
	}
}

.timelineCell {
	position: relative;
}

.timelineTitle {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	vertical-align: top;
	padding: $padding-small $padding-normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-right: 1px solid grey;
	border-left: $border-light;
	font-weight: normal;
}

.timelineSticky {
	position: sticky;
	z-index: 2;
	left: 0;
	width: $sticky-width;
}

.timelineDates {
	padding-left: $sticky-width;
}

.timelineDate {
	padding: 0 $padding-smaller;
	justify-content: space-between;
}

.timelineHour {
	justify-content: center;
	transform: translateX(-50%);

	&:before {
		content: '';
		height: 1rem;
		border-left: $border-light;
		position: absolute;
		top: 0;
	}
}

.newDate {
	border-left: $border-light;
}
