$sticky-width: 30rem;
$border-light: 1px solid $alto;

.timelineCaption {
	text-align: center;
	color: #333;
}

.timelineRows {
	position: relative;
	overflow-x: auto;
	padding: 2px 0;

	.timelineRow {
		margin: 0;
		padding: 0;
		border-top: $border-light;

		&.ally-focus-within,
		&:focus-within,
		&:hover {
			background-color: $wild-sand;
		}

		.timelineCell {
			position: relative;
		}
	}
}

.timelineFooter {
	border-top: 1px solid #333;
}

.timelineTitle {
	background-color: white;
	vertical-align: top;
	padding: $padding-small $padding-normal;
	position: sticky;
	left: 0;
	z-index: 2;
	max-width: 30rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
