.layout {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.toolbar {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.body {
	width: 100%;
	overflow-x: auto;

	> * {
		float: left; // trick to make the size fit its content (even on IE). So every child can exploit it
	}
}
