@use '@talend/design-tokens/lib/tokens' as token;

.fs-badge-menu-form-items {
	max-height: tokens.$coral-sizing-xxxl;
	width: tokens.$coral-sizing-maximal;
	overflow: auto;

	[role='menuitem'] {
		width: 100%;
	}
}
