$tc-notification-info-color: #3c763d !default;
$tc-notification-info-bgcolor: #e8f2cc !default;

$tc-notification-warning-color: #8a6d3b !default;
$tc-notification-warning-bgcolor: #fdeecc !default;

$tc-notification-error-color: #a94442 !default;
$tc-notification-error-bgcolor: #f5e0e0 !default;

$tc-notification-animation-duration: 0.3s;

$notification-width: 450px;
$icon-size: $svg-md-size;

.tc-notification-container {
	position: absolute;
	top: 48px;
	right: $padding-normal;
	z-index: 20;
	left: auto;

	.tc-notification {
		position: relative;
		cursor: pointer;
		width: $notification-width;
		margin-top: 0;
		margin-bottom: $padding-normal;
		padding: $padding-normal $padding-normal $padding-large;
		border-radius: $border-radius-base;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		z-index: 2;
		overflow: hidden;

		&-info {
			background: $tc-notification-info-bgcolor;
			color: $tc-notification-info-color;
		}

		&-warning {
			background: $tc-notification-warning-bgcolor;
			color: $tc-notification-warning-color;
		}

		&-error {
			background: $tc-notification-error-bgcolor;
			color: $tc-notification-error-color;
		}

		svg {
			height: $icon-size;
			width: $icon-size;
		}

		.tc-notification-close {
			font-size: $icon-size;
			float: right;
		}

		.tc-notification-action {
			background-color: transparent;
			border: none;
			padding: 0;
		}

		.tc-notification-title {
			margin: {
				top: 0;
				right: $padding-larger;
			}
			font-size: $font-size-small;
			font-weight: bold;
		}

		.tc-notification-message {
			margin-right: $padding-larger;
			font-size: $font-size-small;

			&:last-of-type {
				margin-bottom: 0;
			}

			&-action {
				color: #1babcd;
				padding: 0 $padding-small;

				svg {
					vertical-align: text-top;
				}

				span {
					font-weight: bold;
					text-transform: uppercase;
					margin-left: $padding-smaller;
				}
			}
		}

		.tc-notification-timer-bar {
			border-width: 2px 0 1px;
			border-style: solid;
			position: absolute;
			bottom: 0;
			margin: 0 (-$padding-normal);
			animation: timer-bar 4s linear;
			width: 100%;
		}

		&:hover > .tc-notification-timer-bar {
			transform: translateX(100%);
			animation: none;
		}
	}

	.tc-notification[pin='true'] {
		.tc-notification-timer-bar {
			animation: none;
			transform: translateX(100%);
		}
	}
}

@keyframes timer-bar {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

:global(.tc-notification-enter) {
	animation: tc-notification-slide-in $tc-notification-animation-duration linear;
}

:global(.tc-notification-leave) {
	animation: tc-notification-slide-out $tc-notification-animation-duration linear;
}

:global {
	@keyframes tc-notification-slide-in {
		from {
			transform: translateY(-100%);
			opacity: 0;
			z-index: 1;
		}

		to {
			transform: translateY(0);
			opacity: 1;
			z-index: 1;
		}
	}

	@keyframes tc-notification-slide-out {
		from {
			transform: translateY(0);
			opacity: 1;
			z-index: 1;
		}

		to {
			transform: translateY(-100%);
			opacity: 0;
			z-index: 1;
		}
	}
}
