@use '@talend/design-tokens/lib/tokens';

.previewBox {
  display: inline-flex;
  border-radius: tokens.$coral-radius-m;
  width: tokens.$coral-sizing-xxxl;
  height: 8.4rem;

  &__color {
    box-shadow: tokens.$coral-elevation-shadow-neutral-m;
  }

  &__composition {
    justify-content: center;
    align-items: center;
    border: tokens.$coral-border-s-solid transparent;
    position: relative;

    &__isActive,
    &__isHover {
      width: calc(#{tokens.$coral-sizing-xxxl} - #{tokens.$coral-spacing-xl});
      margin-left: tokens.$coral-spacing-xl;
      height: 7.4rem;
    }

    &_copy {
      display: inline-flex;
      justify-content: center;
      gap: tokens.$coral-spacing-xxs;
      align-items: center;

      > span {
        display: inline-flex;
        align-items: center;
      }
    }

    &_checker {
      position: absolute;
      top: tokens.$coral-spacing-xs;
      left: tokens.$coral-spacing-xs;
    }
  }
}
