$tc-progress-color: $brand-success !default;
$solid-gradient-part-width: 22%;
$empty-gradient-part-width: 11.3%;
@keyframes infinite-progression-keyframes {
	0% {
		background-position-x: 100%;
	}

	100% {
		background-position-x: 0%;
	}
}

.progress {
	height: 5px;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	&.hidden {
		display: none;
	}

	.progress-percent {
		background: $tc-progress-color;
		height: 100%;
		transition: width 200ms ease;

		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			height: 200%;
			width: 100%;
		}

		&.infinite {
			background: transparent;
			width: 100%;
			animation: infinite-progression-keyframes 1s infinite;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
			background-size: 300%;

			background-image: linear-gradient(to right,
				$tc-progress-color 0%,
				$tc-progress-color $solid-gradient-part-width,
				transparent $solid-gradient-part-width,
				transparent $solid-gradient-part-width + $empty-gradient-part-width,
				$tc-progress-color $solid-gradient-part-width + $empty-gradient-part-width,
				$tc-progress-color 2 * $solid-gradient-part-width + $empty-gradient-part-width,
				transparent 2 * $solid-gradient-part-width + $empty-gradient-part-width,
				transparent 2 * $solid-gradient-part-width + 2 * $empty-gradient-part-width,
				$tc-progress-color 2 * $solid-gradient-part-width + 2 * $empty-gradient-part-width,
				$tc-progress-color 3 * $solid-gradient-part-width + 2 * $empty-gradient-part-width,
				transparent 3 * $solid-gradient-part-width + 2 * $empty-gradient-part-width,
				transparent 100%
			);
		}
	}
}
