/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
@keyframes infinite-progression-keyframes {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
.progress {
  height: 5px;
  width: 100%;
}
.progress.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.progress.hidden {
  display: none;
}
.progress .progress-percent {
  background: var(--coral-color-success-background-strong, hsl(111, 49%, 34%));
  height: 100%;
  transition: width 200ms ease;
  overflow: hidden;
}
.progress .progress-percent .infinite-indicator {
  height: 100%;
  background: var(--coral-color-neutral-background, white);
  position: relative;
  width: 33.3333333333%;
  animation-fill-mode: forwards;
  animation: infinite-progression-keyframes 2s infinite;
  animation-timing-function: linear;
}

:global(.modal-header) .progress {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin-top: -1px;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
  height: 5px;
  background-color: transparent;
}
:global(.modal-header) .progress :global(.progress-bar) {
  background-color: var(--coral-color-success-background-strong, hsl(111, 49%, 34%));
  box-shadow: none;
}