@use '~@talend/design-tokens/lib/tokens';

$iconAlignmentOffsetM: -0.3rem;
$iconAlignmentOffsetS: 0.1rem;

.linkable {
	cursor: pointer;
}

.link__icon {
	position: relative;
	bottom: $iconAlignmentOffsetM;
	height: tokens.$coral-sizing-xxxs;
	width: tokens.$coral-sizing-xxxs;
	margin-right: tokens.$coral-spacing-xxs;
	flex-shrink: 0;
}

.link__iconExternal {
	position: relative;
	top: $iconAlignmentOffsetS;
	height: tokens.$coral-sizing-minimal;
	width: tokens.$coral-sizing-minimal;
	margin-left: tokens.$coral-spacing-xxs;
	flex-shrink: 0;
}

.naturally_aligned {
	svg.link__icon,
	svg.link__iconExternal {
		margin-bottom: 0;
	}
}

.with_ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
