@use '~@talend/design-tokens/lib/tokens';

$icon-alignment-offset-m: -0.3rem;
$icon-alignment-offset-s: 0.1rem;

.linkable {
	cursor: pointer;
}

.link__icon {
	position: relative;
	bottom: $icon-alignment-offset-m;
	height: tokens.$coral-sizing-xxxs;
	width: tokens.$coral-sizing-xxxs;
	margin-right: tokens.$coral-spacing-xxs;
	flex-shrink: 0;
}

.link__iconExternal {
	position: relative;
	top: $icon-alignment-offset-s;
	height: tokens.$coral-sizing-minimal;
	width: tokens.$coral-sizing-minimal;
	margin-left: tokens.$coral-spacing-xxs;
	flex-shrink: 0;
	display: inline-flex;
}

.naturally_aligned {
	// stylelint-disable-next-line selector-no-qualifying-type
	svg.link__icon,
	svg.link__iconExternal {
		margin-bottom: 0;
	}
}

.with_ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
