.tc-basic-search {
	align-items: center;
	display: flex;
	height: inherit;
	overflow: visible;
	padding-left: $padding-large;
	width: 100%;
	position: relative;
	margin-right: 1.5rem;

	&:after {
		content: '';
		height: 2.5rem;
		width: 0;
		border-right: 1px solid $gallery;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	&-quicksearch {
		margin-right: $padding-small;
	}

	&-content {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
	}

	&-clear-button {
		padding: 0 0.5rem;
	}
}
