// Filter styles
$tc-filter-bar-input-size: 200px !default;
$tc-filter-bar-highlight-color: #f6e5bb !default;

.filter {
	display: flex;
	height: $padding-larger;
	background-color: rgba($silver, 0.2);
	color: $dove-gray;
	align-items: top;
	padding: 0;
	border-radius: $border-radius-base;

	.search-icon {
		// margin: $padding-small;
		margin: $padding-small;
		margin-right: $padding-normal;
		margin-top: 7px;  // ...
		// height: $svg-sm-size;
	}

	> :global(.form-group) {
		margin-bottom: 0;
		display: flex;
		flex-grow: 1;
	}

	:global(.form-group.form-group) {
		padding: 0;
		background: none;
	}

	.animate {
		animation: reveal 1s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.search {
		// display: inline-block;
		min-width: $tc-filter-bar-input-size;
		box-shadow: none;
		padding-right: $padding-small;
		color: $dove-gray;
		font-size: 14px;

		&::placeholder {
			color: $dark-silver;
		}

		&:focus {
			min-width: $tc-filter-bar-input-size + 31px;
			margin-left: $padding-small;
		}
		// sass-lint:disable-next-line no-vendor-prefixes
		&::-ms-clear {
			display: none;
		}
	}

	.remove {
		display: inline-block;
		color: opacify($gray, 0.2);
		padding: $padding-smaller 0;
		line-height: 2.0rem;
		margin-left: -14px; // small + 0/4rem from btn

		:global(.tc-svg-icon) {
			height: $svg-xs-size;
			width: $svg-xs-size;
		}
	}

	&.navbar {
		margin-top: 8px;
		margin-bottom: 8px;
		.remove {
			min-height: 2rem;
		}
	}
}

.highlight {
	background-color: $tc-filter-bar-highlight-color;
}

@keyframes reveal {
	0% {
		opacity: 0;
		min-width: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		min-width: $tc-filter-bar-input-size;
	}
}
