// Filter styles
$tc-list-filter-input-size: 200px !default;
$tc-list-filter-highlight-color: #f6e5bb !default;

.filter {
	display: flex;
	max-height: 35px;
	background-color: $gray;
	align-items: top;
	padding: 0;
	background: $white;

	.search-icon {
		margin: $padding-small;
	}

	> :global(.form-group) {
		margin-bottom: 0;
	}

	:global(.form-group.form-group) {
		padding: 0;
		background: none;
	}

	.animate {
		animation: reveal 1s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.search {
		display: inline-block;
		width: $tc-list-filter-input-size;
		// sass-lint:disable-next-line no-vendor-prefixes
		&::-ms-clear {
			display: none;
		}
	}

	.remove {
		display: inline-block;
	}
}

.highlight {
	background-color: $tc-list-filter-highlight-color;
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		width: $tc-list-filter-input-size;
	}
}
