// Filter styles
$tc-filter-bar-highlight-color: rgba($lightning-yellow, 0.75) !default;
$tc-filter-bar-width: 250px !default;

.filter {
	display: flex;
	height: $padding-larger;
	background-color: rgba($silver, 0.2);
	color: $dove-gray;
	align-items: top;
	padding: 0;
	border-radius: $border-radius-base;

	.search-icon {
		margin: $padding-smaller;
		height: $svg-rg-size;
		width: $svg-rg-size;
		fill: $gray;

		&.search-focused {
			fill: $scooter;
		}
	}

	> :global(.form-group) {
		margin-bottom: 0;
		display: flex;
		flex-grow: 1;
	}

	:global(.form-group.form-group) {
		padding: 0;
		background: rgba($white, 0.5);
	}

	.animate {
		width: $tc-filter-bar-width;
		animation: reveal 1s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.search {
		box-shadow: none;
		color: $dove-gray;
		font-size: $font-size-base;
		margin: 0 $padding-small 0 0;

		&::placeholder {
			color: $dark-silver;
		}

		// sass-lint:disable-next-line no-vendor-prefixes
		&::-ms-clear {
			display: none;
		}
	}

	.remove {
		display: inline-block;
		color: opacify($gray, 0.2);
		padding: $padding-smaller;
		line-height: 2rem;
		height: 100%;
		// sorry magic number
		// can't quite mix pixel units and rem
		// $padding-small & $svg-xs-size
		// ideally this should be -(($padding-small * 2) + $svg-xs-size)
		margin-left: -28px;

		:global(.tc-svg-icon) {
			height: $svg-xs-size;
			width: $svg-xs-size;
			margin: 0 $padding-small;
			vertical-align: baseline;
		}
	}

	&.navbar {
		margin-top: 8px;
		margin-bottom: 8px;
		.remove {
			min-height: 2rem;
		}
	}
}

.highlight {
	background-color: $tc-filter-bar-highlight-color;
	.search-icon, .search {
        fill: rgba($black, 0.50);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0;
		overflow: hidden;
	}

	50% {
		opacity: 1;
	}

	100% {
		width: $tc-filter-bar-width;
	}
}
