$range-picker-arrow-height: 3rem;

.arrow {
	height: $range-picker-arrow-height;
	padding: 0 $padding-smaller;
	color: $dove-gray;
	display: flex;
	align-items: flex-end;

	.icon {
		width: $svg-sm-size;
		height: $svg-sm-size;
	}
}
