$range-picker-arrow-size: 1.2rem;

.arrow {
    height: 3rem;
	padding: 0 $padding-smaller;
    color: $dove-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;

	.icon {
		width: $range-picker-arrow-size;
		height: $range-picker-arrow-size;
	}
}
