@use '~@talend/design-tokens/lib/tokens';

$custom-quality-bar-placeholder-line-hover-height: 0.4rem;

.quality-ratio-bar {
	width: 100%;
	height: 100%;
	border-radius: tokens.$coral-radius-l;
	border-radius: 1px;

	&--empty {
		background-color: tokens.$coral-color-charts-neutral;
	}

	&--valid {
		background-color: tokens.$coral-color-charts-success;
	}

	&--invalid {
		background-color: tokens.$coral-color-charts-danger;
	}

	&--na {
		background-color: tokens.$coral-color-charts-neutral;
	}

	&--placeholder {
		background-color: tokens.$coral-color-charts-neutral-weak;

		:global(.tc-ratio-bar) &:hover {
			height: $custom-quality-bar-placeholder-line-hover-height;
		}
	}
}
