.tc-responsive-tabBar {
	overflow: hidden;
	white-space: nowrap;

	li {
		float: none;
		display: inline-block;
	}
}
.tc-responsive-tabBar-select-container {
	select {
		color: $lochmara;
		// Does not work, needs to be overidden in the theme
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+Cgk8cGF0aCBkPSJNOCAxMy42bC04LThMMi42IDMgOCA4LjQgMTMuNCAzIDE2IDUuNnoiLz4KPC9zdmc+Cg==');
		background-position: right center;
		width: calc(100% - 2rem);
		right: 1rem;

		option {
			color: initial;
		}
	}
}
