@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;

.tc-tab-bar-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tc-tab-bar {
	white-space: nowrap;
	overflow: hidden;
	flex: 1;

	& &-item {
		float: none;
		display: inline-block;

		&-container {
			display: flex;
			align-items: baseline;
		}

		&-icon {
			margin-right: $padding-smaller;
			width: $svg-sm-size;
			height: $svg-sm-size;
			font-size: $svg-sm-size;
		}

		&-label {
			display: inline-block;
			max-width: 20rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: top;
		}

		&-badge {
			margin-left: $padding-smaller;
		}

		> button {
			max-width: initial;
		}
	}
}

:global(.dropdown) + :global(.tab-content) {
	padding-top: $padding-large;
}
