$quality-bar-width: 100%;
$quality-bar-height: 5px;
$quality-bar-hover-height: 8px;

.tc-ratio-bar-lines {
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

.tc-ratio-bar {
	padding: $padding-small 0;
	display: flex;
	height: $quality-bar-hover-height;
	width: $quality-bar-width;
	align-items: center;

	&-counter {
		padding-left: $padding-smaller;
	}

	.tc-ratio-bar-line {
		height: $quality-bar-height;
		margin: 0 1px;
		transition: height 0.3s;
		min-width: 4px;
		&:hover {
			height: $quality-bar-hover-height;
		}
		&-grow {
			flex-grow: 1;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	.tc-ratio-bar-line-empty {
		@extend .tc-ratio-bar-lines;
		background-color: $silver;
	}

	.tc-ratio-bar-line-filled {
		@extend .tc-ratio-bar-lines;
		background-color: $regal-blue;
	}
}
