@use '~@talend/design-tokens/lib/tokens';

.breadcrumbs {
	display: block;
	max-width: 100%;

	.divider {
		transform: skew(-15deg);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	.entry {
		max-width: tokens.$coral-size-limit;
		min-width: tokens.$coral-size-xl;

		&.collapsed {
			flex-shrink: 0;
		}

		[data-ellipsis='true'] {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.copy {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:last-child {
			.divider {
				display: none;
			}
		}
	}
}
