@use '~@talend/design-tokens/lib/tokens';

.breadcrumbs {
	display: block;

	.divider {
		transform: skew(-15deg);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	.entry {
		max-width: tokens.$coral-sizing-maximal;
		min-width: tokens.$coral-sizing-m;
		position: relative;

		&__collapsed {
			flex-shrink: 0;
		}

		.copy {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
