.tc-tile-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;

	.tc-tile-body {
		flex: 1;
		display: flex;
		height: 100%;
		flex-direction: column;
		padding: $padding-normal;
		min-height: 0;
	}

	.tc-tile-footer {
		padding-right: 15px;
		text-align: right;
		padding-bottom: 10px;
	}
}
