$tc-collapsible-panel-padding-smaller: $padding-smaller !default;
$tc-collapsible-panel-padding-normal: $padding-normal !default;
$tc-collapsible-panel-padding-larger: $padding-larger !default;
$tc-collapsible-panel-btn-color: #555964;
$tc-collapsible-selectable-panel-content-description-color: #918F8F !default;
$tc-collapsible-selectable-panel-title-color: #63AEBD !default;
$tc-collapsible-selected-panel-border-color: #6AA9D1 !default;

@mixin type-col($width: 100%) {
	flex-basis: $width;

	:global(.label),
	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@mixin col-style {
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: 100%;
	overflow: hidden;

	> :global(.btn) {
		line-height: 1em;
		color: $tc-collapsible-panel-btn-color;
	}

	&.col-5 {
		@include type-col(20%);
	}

	&.col-6 {
		@include type-col(calc(100% / 6));
	}

	&.col-7 {
		@include type-col(calc(100% / 7));
	}

	&.col-8 {
		@include type-col(calc(100% / 8));
	}

	&.col-9 {
		@include type-col(calc(100% / 9));
	}

	&.col-10 {
		@include type-col(calc(10%));
	}
}

// due to react-bootstrap
:global(.panel .panel) {
	margin: 0;
	border: none;
}

.tc-collapsible-panel {
	position: relative;

	&.selected {
		border-left: 4px solid $tc-collapsible-selected-panel-border-color;
	}

	svg {
		transform-origin: center;
	}

	&.open {
		.toggle svg {
			transform: rotate(180deg);
		}
	}

	.panel-heading {
		display: flex;
		justify-content: space-between;
		padding: 0;

		> * {
			padding: 0;
			letter-spacing: 0;
			text-decoration: none;
		}

		.panel-title {
			@include col-style;
			flex-basis: 100%;
			text-decoration: none;
			align-items: center;
			font-size: 1.4rem;
			justify-content: space-between;
			min-height: 30px;
			padding: 0 5px;
		}
	}
}

.default-panel {
	.group {
		justify-content: space-between;
	}

	:global(.label) {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	:global(.panel-body) {
		max-height: 50vh;
		overflow: auto;
		word-break: break-all;

		.content {
			display: flex;
			width: 100%;

			.label {
				flex-basis: 10%;
				flex-shrink: 0;
				flex-grow: 1;
			}

			.description {
				flex-basis: 90%;
				flex-shrink: 0;
				flex-grow: 1;
				font-weight: normal;
			}
		}
	}
}

.descriptive-panel {
	border-radius: 0;
	margin-bottom: 0;

	:global(.panel-heading) {
		background-color: white;
		border-color: transparent;
	}

	.group {
		justify-content: flex-start;
		display: flex;
	}

	.title {
		text-transform: lowercase;
		color: $tc-collapsible-selectable-panel-title-color;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.tag {
		color: $tc-collapsible-selectable-panel-content-description-color;
		margin-left: 0;
		white-space: nowrap;
		font-size: 12px;
	}

	.detail {
		color: $tc-collapsible-selectable-panel-title-color;
		white-space: nowrap;
		justify-content: flex-end;
	}

	:global(.panel-body) {
		padding: 10px;
		padding-top: 0;

		.content {
			display: flex;
			flex-direction: column;

			.head {
				display: flex;
				justify-content: space-between;

				> span {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.content-description {
				padding-top: 5px;
				color: $tc-collapsible-selectable-panel-content-description-color;
			}
		}
	}
}
