$tc-collapsible-panel-padding-smaller: $padding-smaller !default;
$tc-collapsible-panel-padding-normal: $padding-normal !default;
$tc-collapsible-panel-padding-larger: $padding-larger !default;
$tc-collapsible-panel-btn-color: #555964;
$tc-collapsible-selectable-panel-content-description-color: #918F8F !default;
$tc-collapsible-selectable-panel-title-color: #63AEBD !default;
$tc-collapsible-selected-panel-border-color: #6AA9D1 !default;

@mixin type-col($width: 100%) {
	flex-basis: $width;

	:global(.label),
	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1em;
	}
}

@mixin col-style {
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: 100%;
	overflow: hidden;

	> :global(.btn) {
		line-height: 1em;
		color: $tc-collapsible-panel-btn-color;
	}

	&.col-5 {
		@include type-col(20%);
	}

	&.col-6 {
		@include type-col(calc(100% / 6));
	}

	&.col-7 {
		@include type-col(calc(100% / 7));
	}

	&.col-8 {
		@include type-col(calc(100% / 8));
	}

	&.col-9 {
		@include type-col(calc(100% / 9));
	}

	&.col-10 {
		@include type-col(calc(10%));
	}
}

// due to react-bootstrap
:global(.panel .panel) {
	margin: 0;
	border: 0;
}

.tc-collapsible-panel {
	position: relative;

	&.selected {
		border-left: 4px solid $tc-collapsible-selected-panel-border-color;
	}

	&.open {
		.toggle svg {
			transform: rotate(180deg);
		}
	}

	.panel-heading {
		display: flex;

		.panel-title {
			flex-grow: 1;
			flex-basis: 100%;
			display: flex;
			align-items: center;
			padding: 0;
			font-size: 1.4rem;

			> * {
				@include col-style;
			}

			+ .toggle {
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: 25px;
				padding: 0;
				color: $black;
			}
		}
	}
}

.default-panel {
	:global(.panel-title) {
		button {
			text-decoration: none;
		}

		.group {
			display: flex;
			justify-content: space-between;

			:global(.label) {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 1em;
			}
		}
	}

	:global(.panel-body) {
		max-height: 50vh;
		overflow: auto;
		word-break: break-all;

		.content {
			display: flex;
			width: 100%;

			.label {
				flex-basis: 10%;
				flex-shrink: 0;
				flex-grow: 1;
			}

			.description {
				flex-basis: 90%;
				flex-shrink: 0;
				flex-grow: 1;
			}
		}
	}
}
