@use '~@talend/design-tokens/lib/tokens';
@use '../mixins' as Form;

.textarea {
	@include Form.base-input();
	@include Form.border-styles();
	min-height: calc(#{tokens.$coral-sizing-l} * 2);
	max-height: tokens.$coral-sizing-xxxl;
	resize: vertical;
	line-height: 140%;
}
