$tc-status-icon-size: $svg-md-size !default;
$tc-status-action-min-size: 23px !default;
$tc-status-space-btn-icon-label: 5px !default;

$lochmara700: #034673;
$rio-grande500: #6ec01e;
$rio-grande700: #427312;
$coral700: #994143;
$jaffa700: #8c4e1c;
$gray500: #797979;
$gray700: #4d4d4d;

.tc-status {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;

	&-icon {
		display: flex;

		> svg {
			width: $tc-status-icon-size;
			height: $tc-status-icon-size;
			margin-right: $tc-status-space-btn-icon-label;
		}

		&.info {
			color: $lochmara;
		}

		&.success {
			color: $rio-grande500;
		}

		&.danger {
			color: $coral;
		}

		&.muted {
			color: $gray500;
		}

		&.warning {
			color: $jaffa;
		}

		&.skeleton {
			color: $gray;
		}
	}

	&-label {
		font-weight: 600;

		&.info {
			color: $lochmara700;
		}

		&.success {
			color: $rio-grande700;
		}

		&.danger {
			color: $coral700;
		}

		&.muted {
			color: $gray700;
		}

		&.warning {
			color: $jaffa700;
		}
	}

	&-actions {
		position: absolute;
		left: 0;
		opacity: 0;
	}

	&.action:hover,
	&.action:global(.ally-focus-within) {
		.tc-status-icon,
		.tc-status-label {
			opacity: 0;
		}

		.tc-status-actions {
			opacity: 1;
		}
	}
}

.tc-status-skeleton-item {
	margin-right: $padding-small;
	display: flex;
}
