/* stylelint-disable color-hex-case */
.tc-status {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}
.tc-status-icon {
	display: flex;
}
.tc-status-icon > svg {
	width: 1rem;
	height: 1rem;
	margin-right: 5px;
}
.tc-status-icon.info {
	color: var(--coral-color-info-icon, hsl(204, 88%, 40%));
}
.tc-status-icon.success {
	color: var(--coral-color-success-icon, hsl(111, 53%, 40%));
}
.tc-status-icon.danger {
	color: var(--coral-color-danger-icon, hsl(359, 69%, 53%));
}
.tc-status-icon.muted {
	color: var(--coral-color-neutral-text-disabled, hsl(0, 0%, 44%));
}
.tc-status-icon.warning {
	color: var(--coral-color-warning-icon, hsl(22, 87%, 47%));
}
.tc-status-label {
	font-weight: 600;
}
.tc-status-label.info {
	color: var(--coral-color-info-text, hsl(204, 95%, 31%));
}
.tc-status-label.success {
	color: var(--coral-color-success-text, hsl(111, 49%, 34%));
}
.tc-status-label.danger {
	color: var(--coral-color-danger-text, hsl(359, 51%, 53%));
}
.tc-status-label.muted {
	color: var(--coral-color-neutral-text-disabled, hsl(0, 0%, 44%));
}
.tc-status-label.warning {
	color: var(--coral-color-warning-text, hsl(22, 93%, 41%));
}
.tc-status-actions {
	position: absolute;
	left: 0;
	opacity: 0;
}
.tc-status.action:hover .tc-status-icon,
.tc-status.action:hover .tc-status-label,
.tc-status.action:focus-within .tc-status-icon,
.tc-status.action:focus-within .tc-status-label {
	opacity: 0;
}
.tc-status.action:hover .tc-status-actions,
.tc-status.action:focus-within .tc-status-actions {
	opacity: 1;
}

.tc-status-skeleton-item {
	margin-right: 10px;
	display: flex;
}
