@use '@talend/design-tokens/lib/tokens' as token;

// stylelint-disable order/order
$toolbar-height: 3.4375rem;

.tc-faceted-toolbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: $toolbar-height;
	position: relative;
	width: 100%;

	.tc-faceted-switch-mode {
		width: auto;
		position: relative;
		padding-right: tokens.$coral-spacing-s;
		padding-left: tokens.$coral-spacing-s;

		&::before {
			content: '';
			height: tokens.$coral-sizing-xs;
			width: 0;
			border-right: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}
