.password-group {
    // sass-lint:disable no-important
    width: 100% !important;

    > button {
        background: none;
        box-shadow: none;

        &:hover, &:focus {
            background: none;
            box-shadow: none;
        }
    }

    + label {
        position: absolute;
        top: 0;
        left: 0;
        color: $silver-chalice;
        font-weight: 400;
        font-size: 14px;
    }
}
