$tf-filterwidget-shadow-color: $shadow !default;

.ArrayFieldTemplate {
	// see bottom of the file or search for $LEGEND
	& > legend {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	.addBtn {
		float: right;
		margin: -$padding-smaller $padding-large 0 0;
	}

	.arrayElement {
		display: flex;
		background: $wild-sand;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		&:first-of-type {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

		.closed {
			.collapsible {
				.delete {
					visibility: hidden;
				}
				div:not(:first-child) {
					display: none;
				}
				&:hover {
					.delete {
						visibility: initial;
					}
				}
			}
		}

		&:hover {
			background: $white;

			.control {
				.delete {
					color: $brand-danger;
				}
				button {
					color: $dark-silver;
					&:disabled {
						color: $silver;
					}
				}
			}
		}

		.control {
			flex-grow: 0;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			padding: 0;
			justify-content: space-between;

			button {
				background: transparent;
				border: 0;
				color: transparent;
				margin: 0;
				padding: 2px;

				&:hover {
					color: $dove-gray;
				}

				&:disabled {
					cursor: not-allowed;
				}

				> svg {
					vertical-align: sub;
				}
			}

			.delete {
				margin: $padding-normal 0 $padding-small 0;
				&.hidden {
					display: none;
					&:hover {
						display: initial;
					}
				}
			}
		}

		.element {
			flex-grow: 1;
			padding: 0;
			overflow: visible;

			> div {
				padding: 0;
				margin: 0;
			}

			fieldset {
				> :global(.form-group:nth-child(2)) {
					margin-top: 0px;
				}
				> div[role='button'] {
					// to forbid children selection of text on double click
					user-select: none;
					margin: 0;

					div {
						width: inherit;
						max-width: 100%;

						legend {
							font-size: $font-size-base;
							font-weight: 600;
							margin: 0;
							max-width: 100%;
							overflow: hidden;
							padding: $padding-normal ($padding-large * 2) $padding-normal 0;
							text-overflow: ellipsis;
							white-space: nowrap;
							// to allow classic text selection
							user-select: text;

							&:hover {
								cursor: pointer;
								color: $dove-gray;
							}

							strong {
								color: $gray-dark;
							}
						}

						:global(.toggle) {
							background: transparent;
							border: 0;
							position: absolute;
							top: 0;
							right: 0;
							padding: $padding-normal $padding-normal 0 $padding-normal;
						}
					}
				}

				> div {
					margin-top: $padding-normal;
					margin-bottom: $padding-normal;
				}
			}
		}
	}
}

// $LEGEND instead of displyaing fieldset -> legend that is resistant to most positionning CSS
.ArrayFieldTemplate::before {
	content: attr(data-content);
	display: inline-block;
	margin: 0 0 $padding-normal 0;
	font-size: $font-size-small;
	margin-left: $padding-large;
}
