.tc-resource-picker-name-filter {
	flex: 1;
}

.remove {
	display: inline-block;
	color: opacify($gray, 0.2);
	padding: $padding-smaller 0;
	line-height: 2rem;
	height: 100%;
	margin-left: -28px;

	:global(.tc-svg-icon) {
		height: $svg-xs-size;
		width: $svg-xs-size;
		margin: 0 $padding-small;
		vertical-align: baseline;
	}
}
