.tc-resource-picker-name-filter {
	flex: 1;
	position: relative;

	input + div {
		position: absolute;
		top: 0;
		right: 0;
	}

	input:not(:invalid) + div .remove {
		display: inline-block;
	}
}

.remove {
	display: none;
	color: opacify($gray, 0.2);
	padding: $padding-smaller 0;
	line-height: 2rem;
	height: 100%;
	margin-left: -28px;

	:global(.tc-svg-icon) {
		height: $svg-xs-size;
		width: $svg-xs-size;
		margin: 0 $padding-small;
		vertical-align: baseline;
	}
}
