
$drag-element-width: 0.5rem;

.tc-header-cell-resizable {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&-truncated-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-drag-handle {
		cursor: col-resize;
	}

	&-drag-handle-icon {
		/* 
			React-Draggable component doesn't like relative / absolute transformation.
			So we are enlarging our handle icon with negative margin value.
		*/
		margin: -$padding-small;
		min-width: $drag-element-width;
		width: $drag-element-width;
		&:hover,
		&:active {
			background: $scooter;
		}
	}
}
