$drag-element-width: $padding-smaller;

.tc-header-cell-resizable {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&-resizing {
		/*
			This is scooter rgb color.
			We want to apply opacity only on the background,
		 	so we are using rgba to be compatible with ie.
		*/
		background-color: rgba(102, 189, 255, 0.1);
	}

	&-truncated-text {
		align-self: center;
		overflow: hidden;
		padding-left: $padding-small;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.tc-header-cell-resizable-drag-button-accessibility {
	position: absolute !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	text-transform: none !important;
	white-space: nowrap !important;
}

.tc-header-cell-resizable-drag-button-handle {
	min-width: $drag-element-width;
	width: $drag-element-width;
	height: 100%;
	opacity: 0;
	padding-top: 10px;
	padding-bottom: 12px;

	&:hover,
	&:focus {
		opacity: 1;
		//background: $scooter;
	}
}

.tc-header-cell-resizable-drag-button-handle-icon {
	cursor: col-resize;
	min-width: 1px;
	width: 1px;
	height: 100%;
	z-index: -1;
	float: right;
	background: #e5e5e5;
}

.tc-header-cell-resizable-drag-button-accessibility:focus ~ .tc-header-cell-resizable-drag-button-handle {
	opacity: 1;
	background: $scooter;
}
