@use '~@talend/design-tokens/lib/tokens';

.wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border;
	border-radius: tokens.$coral-radius-s;
	height: auto;
	padding: 0;

	[class^='InputWrapper-module'] {
		border: none;
		box-shadow: none;
	}

	.focus-manager {
		flex-grow: 1;
		outline: none;
	}

	.typeahead {
		.items {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
}
