@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

$tf-typeahead-input-width: 135px !default;
$tc-badge-margin: $padding-smaller !default;

.wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;

	border: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border;
	height: auto;
	padding: 0;

	[class^='InputWrapper-module'] {
		border: none;
		box-shadow: none;
	}

	.focus-manager {
		flex-grow: 1;
		outline: none;
	}

	.typeahead {
		flex-grow: 1;

		> div {
			width: 100%;
		}

		.items-container {
			position: absolute;
			margin-top: $padding-smaller;
			top: 100%;
			right: 0;
			left: 0;
			max-height: 70vh;
			min-width: $tf-typeahead-input-width;
			font-size: 1.5rem;
			background-color: tokens.$coral-color-neutral-background;
			border-radius: $border-radius-base;
			box-shadow: tokens.$coral-elevation-shadow-neutral-m;
		}

		.items {
			margin: 0;
			padding: 0;
			list-style-type: none;

			> li > div {
				padding: $padding-smaller;
			}
		}
	}
}
