.td-header-component {
	border-right: #e6e6e6 1px solid;

	> button {
		background-color: inherit;
		border: none;
	}

	.td-header {
		width: 100%;
		height: 6.6rem;
		text-align: left;

		&-first-line {
			font-weight: bold;
			display: flex;
		}

		&-column-label {
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
