.quality-bar {
	display: flex;
	height: 0.3rem;
	width: 100%;
	padding: 0 0.2rem;
	position: absolute;
	bottom: 0px;

	&:hover {
		height: 1.2rem;
	}
}

.quality-bar-valid {
	background-color: $rio-grande;
}

.quality-bar-empty {
	background-color: $silver-chalice;
}

.quality-bar-invalid {
	background-color: $lightning-yellow;
}
