$tc-display-button-icon-height: 2.4rem;

.tc-display-mode-toggle {
	display: flex;

	:global(.tc-icon-toggle) {
		margin-right: $padding-normal;
		&:last-child {
			margin-right: 0;
		}
	}

	:global(.tc-icon-toggle) {
		height: $tc-display-button-icon-height;
		min-height: $tc-display-button-icon-height;
	}
}
