.quality-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.2rem;
	height: 100%;
}

.quality-indicator-invalid {
	background-color: $lightning-yellow;
}

.quality-indicator-empty {
	background-color: $silver-chalice;
}
