@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as tokens;

$default-height: 2.5rem !default;

.tc-tree-header {
	align-items: center;
	border-bottom: 0.0625rem solid tokens.$coral-color-neutral-border;
	color: tokens.$coral-color-neutral-text;
	display: flex;
	font-weight: 600;
	height: $default-height;
	justify-content: space-between;
	padding: $padding-small 0 $padding-small $padding-larger;

	&-actions {
		display: flex;
		justify-content: space-between;

		&-icon {
			color: tokens.$coral-color-neutral-text;
			text-transform: none;

			:global(.tc-svg-icon) {
				height: $svg-sm-size;
				width: $svg-sm-size;
			}
		}

		:global(.btn) {
			&:focus,
			&:hover {
				color: tokens.$coral-color-accent-text;
			}
		}
	}
}
