@use '~@talend/design-tokens/lib/tokens';

$td-datagrid-skeleton-width: 9.6rem !default;
$td-datagrid-skeleton-height: 9.6rem !default;

.td-grid {
	color: tokens.$coral-color-neutral-text;
	background-color: tokens.$coral-color-neutral-background;
	height: 100%;
	width: 100%;

	&-loader svg {
		color: tokens.$coral-color-neutral-background-strong;
		animation: tokens.$coral-animation-heartbeat;
		width: $td-datagrid-skeleton-width;
		height: $td-datagrid-skeleton-height;
	}

	&-loading {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	:global(.ag-root) {
		border: tokens.$coral-color-neutral-border-weak tokens.$coral-border-s-solid;
	}

	/* ==== HEADER ==== */
	:global(.ag-header-cell-resize) {
		cursor: col-resize;
	}
	/* ==== PIN ==== */
	:global(.ag-pinned-left-header .ag-react-container) {
		height: 100%;
	}

	:global(.ag-cell.ag-cell-last-left-pinned) {
		padding: 1rem;
	}

	/* ==== COLUMN ====  */

	:global(.column-focus) {
		background-color: tokens.$coral-color-accent-background;
	}

	/* ==== BODY ==== */
	:global(.ag-root-wrapper-body) {
		height: 100%;
	}

	:global(.ag-pinned-left-cols-viewport) {
		font-family: inherit;
	}

	:global(.ag-horizontal-left-spacer) {
		overflow-x: hidden;
	}

	:global(.ag-body-viewport) {
		user-select: text;
	}

	:global(.ag-center-cols-clipper) {
		font: tokens.$coral-paragraph-m;
		// TMP, pending new $coral-data-m token
		font-family: "Inconsolata";
	}

	:global(.ag-cell), :global(.ag-header-cell) {
		border-right: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
		border-bottom: tokens.$coral-border-s-solid tokens.$coral-color-neutral-border-weak;
	}

	:global(.ag-cell.ag-cell-focus:not(.ag-cell-last-left-pinned)) {
		background-color: tokens.$coral-color-neutral-background;
		outline: tokens.$coral-border-m-solid tokens.$coral-color-accent-border;
		outline-offset: -2px;
	}
}
