@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens';

$svg-tab-width: 1.625rem !default;
$svg-other-characters: 0.1875rem !default;
$svg-color: tokens.$coral-color-neutral-background-strong !default;

.td-value {
	white-space: pre;
}

.td-white-space-character {
	vertical-align: text-bottom;
	color: $svg-color;
}

.td-tab-character {
	width: $svg-tab-width;
}

.td-other-characters {
	width: $svg-other-characters;
}
