/* stylelint-disable color-hex-case */
/* stylelint-disable color-hex-case */
.td-value {
  white-space: pre;
}

.td-white-space-character {
  vertical-align: text-bottom;
  color: var(--coral-color-neutral-background-strong, hsl(0, 0%, 88%));
}

.td-tab-character {
  width: 1.625rem;
}

.td-other-characters {
  width: 0.1875rem;
}