$tc-action-bar-background-color: $concrete !default;

.tc-actionbar-container {
	padding: 0 $padding-small;
	background: $tc-action-bar-background-color;

	.tc-actionbar-selected-count {
		margin-right: $padding-larger;
	}

	button {
		margin: $padding-small $padding-larger $padding-small 0;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.navbar-right {
		margin-right: 0;
	}
}
