
.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        height: 35px;

        .left, .right {
            flex: 1;
        }

        .middle {
            flex: 5;
        }
    }

    .body {
        flex: 1;
    }

    .node-container > * {
        width: 100%;
        height: 100%;
    }
}
