
@import '../common';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;


    .action-up, .action-down {
        @include nav-action-default(12px);
    }

    .years {
        display: flex;
        flex: 1;
        flex-direction: column;

        .year {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
    }
}
