
.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .years {
        display: flex;
        flex: 1;
        flex-direction: column;

        .year {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
    }
}
