@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;

.tc-list-checkbox {
	:global(.checkbox) {
		margin: 0;
		height: $font-size-small;
		display: flex;

		label {
			padding-left: 0;
		}
	}
}
