@use '~@talend/design-tokens/lib/tokens';

.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font: tokens.$coral-paragraph-m-bold;
	border-radius: tokens.$coral-radius-s;
	height: tokens.$coral-size-xl;
	padding: tokens.$coral-size-xxs tokens.$coral-size-m;

	&__icon {
		display: inline-flex;
		width: tokens.$coral-size-m;
		height: tokens.$coral-size-m;
		align-items: center;
	}

	&__caret {
		display: inline-flex;
		width: tokens.$coral-size-xs;
		height: tokens.$coral-size-xs;
		align-items: center;
		transition: transform tokens.$coral-transition-fast;
	}

	&__loading {
		display: inline-flex;
		width: tokens.$coral-size-m;
		height: tokens.$coral-size-m;
		align-items: center;
		color: tokens.$coral-color-accent-icon;
	}

	&.size-S {
		height: tokens.$coral-size-l;
		padding: tokens.$coral-size-xxs tokens.$coral-size-xs;
	}

	&:disabled,
	&[aria-disabled='true'],
	&[aria-busy='true'] {
		color: tokens.$coral-color-neutral-text-disabled;
		border-color: tokens.$coral-color-neutral-border-disabled;
	}

	&[aria-expanded='true'] {
		.button__caret {
			transform: rotate(-180deg);
		}
	}
}
