$tc-inline-message-icon-size: $svg-md-size !default;
$tc-inline-message-space-btn-icon-description: $padding-smaller !default;
$tc-inline-message-min-height: 2.5rem !default;
$tc-inline-message-border-radius: 0.4rem !default;
$tc-inline-message-icon-offset: 0.4rem !default;

@mixin tc-background-highlight($color: $black) {
	background-color: tint($color, 95);
	box-shadow: tint($color, 75) 0 1px 2px 0;
}

.tc-inline-message {
	position: relative;
	display: flex;
	color: $black;
	padding-left: padding-smaller;

	&-title {
		font-weight: $font-weight-semi-bold;
	}

	&-text {
		padding-right: $padding-smaller;
		padding-left: calc(#{$tc-inline-message-icon-size} + #{$padding-small});
		border-radius: $tc-inline-message-border-radius;
		line-height: $tc-inline-message-min-height;
		min-height: $tc-inline-message-min-height;

		&-item {
			&:after {
				content: ' ';
			}
		}

		&.background {
			&.info {
				@include tc-background-highlight($lochmara);
			}

			&.success {
				@include tc-background-highlight($rio-grande);
			}

			&.danger {
				@include tc-background-highlight($chestnut-rose);
			}

			&.warning {
				@include tc-background-highlight($jaffa);
			}
		}
	}

	&-icon {
		padding-left: $padding-smaller;
		position: absolute;
		top: $tc-inline-message-icon-offset;

		> svg {
			width: $tc-inline-message-icon-size;
			height: $tc-inline-message-icon-size;
			margin-right: $tc-inline-message-space-btn-icon-description;
		}

		&.info {
			color: $lochmara;
		}

		&.success {
			color: $rio-grande;
		}

		&.danger {
			color: $chestnut-rose;
		}

		&.warning {
			color: $jaffa;
		}
	}
}
