$tc-inline-message-icon-size: $svg-md-size !default;
$tc-inline-message-space-btn-icon-description: $padding-smaller !default;
$tc-inline-message-min-height: 2.5rem;
$tc-inline-message-border-radius: 0.4rem;

@mixin tc-background-highlight($color: $black) {
	background-color: tint($color, 95);
	box-shadow: tint($color, 75) 0 1px 2px 0;
}

.tc-inline-message {
	position: relative;
	display: flex;
	align-items: center;
	min-height: $tc-inline-message-min-height;
	color: $black;

	&-title {
		font-weight: $font-weight-semi-bold;
		margin-right: $padding-smaller;
	}

	&-link {
		margin-left: $padding-small;
	}

	&-icon {
		margin-top: $padding-smaller;
		align-self: normal;

		> svg {
			width: $tc-inline-message-icon-size;
			height: $tc-inline-message-icon-size;
			margin-right: $tc-inline-message-space-btn-icon-description;
		}

		&.info {
			color: $lochmara;
		}

		&.success {
			color: $rio-grande;
		}

		&.danger {
			color: $chestnut-rose;
		}

		&.warning {
			color: $jaffa;
		}
	}

	&-wrapper {
		display: flex;
		align-items: center;
		padding: 0 $padding-smaller;

		&.background {
			border-radius: $tc-inline-message-border-radius;

			&.info {
				@include tc-background-highlight($lochmara);
			}

			&.success {
				@include tc-background-highlight($rio-grande);
			}

			&.danger {
				@include tc-background-highlight($chestnut-rose);
			}

			&.warning {
				@include tc-background-highlight($jaffa);
			}
		}
	}
}
