
.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .row {
        display: flex;
        flex: 1;
        border-bottom: 1px solid grey;

        &:last-child {
            border-bottom: none;
        }
    }

    .month {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-right: 1px solid grey;

        &:last-child {
            border-right: none;
        }
    }
}
