
@import '../common';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .row {
        display: flex;
        flex: 1;
        border-bottom: $border-default;

        &:last-child {
            border-bottom: none;
        }
    }

    .month {
        @include default;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-right: $border-default;
        padding: 0;

        &:last-child {
            border-right: none;
        }

        &:hover {
            background-color: $gallery;
        }

        &.active {
            background-color: transparent;
            span {
                @include active;
            }
        }

    }
}
