@use '~@talend/design-tokens/lib/tokens';

.tc-add-facet-popover-row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-content: center;

	button {
		width: 100%;
		overflow-wrap: anywhere;
		text-align: left;
	}

	&-text {
		max-width: 25rem;
		flex-grow: 1;
	}
}
