// DisplayLarge styles
$tc-list-display-large-color: #AAA !default;
$tc-list-display-large-background-color: lighten($tc-list-display-large-color, 25%) !default;

.container {
	padding: 20px;
}

.panel {
	position: relative;

	&:hover {
		background-color: $tc-list-display-large-background-color;

		:global(.tc-actions) {
			opacity: 1;
			visibility: visible;
		}

	}

	.title {
		font-size: 1em;
	}

	:global(.tc-actions) {
		transition: opacity 0.15s ease-in;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: 0;
		background: linear-gradient(to right, transparent, $tc-list-display-large-background-color 20px);
		padding-left: 20px;
	}
}

.columns {
	margin-top: 15px;
	display: flex;

	& ul {
		flex: 1;
	}
}

.label,
.title {
	color: darken($tc-list-display-large-color, 10%);
	font-weight: bold;
	text-transform: uppercase;
}

.head {
	display: flex;
	padding: 0 15px;
}

.label {
	&::after {
		content: ': ';
	}
}
