// DisplayLarge styles
$tc-list-display-large-color: #aaa !default;
$tc-list-display-large-background-color: lighten($tc-list-display-large-color, 25%) !default;

.container {
	padding: $padding-large;
}

.panel {
	position: relative;

	&:hover {
		background-color: $tc-list-display-large-background-color;

		:global(.tc-actions) {
			opacity: 1;
			visibility: visible;
		}
	}

	.title {
		font-size: 1em;
	}

	:global(.tc-actions) {
		transition: opacity 0.15s ease-in;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: 0;
		background: linear-gradient(
			to right,
			rgba($tc-list-display-large-background-color, 0),
			$tc-list-display-large-background-color $padding-large
		);
		padding-left: $padding-large;
	}
}

.columns {
	margin-top: $padding-normal;
	display: flex;

	ul {
		flex: 1;
		overflow: hidden;

		li {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			list-style-position: inside;
		}
	}
}

.label,
.title {
	color: darken($tc-list-display-large-color, 10%);
	font-weight: bold;
	text-transform: uppercase;
}

.head {
	display: flex;
	padding: 0 $padding-normal;
}

.label {
	&::after {
		content: ': ';
	}
}
