$tc-action-bar-background-color: $concrete !default;
$tc-action-bar-margin: $padding-small $padding-larger $padding-small 0 !default;

.tc-actionbar-container {
	padding: 0 $padding-small;
	background: $tc-action-bar-background-color;
	height: 100%;
	width: 100%;
	position: relative;

	.navbar-left,
	.navbar-right {
		display: flex;
		align-items: center;
		justify-content: center;
		
		> * {
			margin: $tc-action-bar-margin;
		}
		
		> :last-child {
			margin-right: 0;
		}
	}
	
	.navbar-right {
		margin-right: 0;
	}
	
	.navbar-center {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		> * {
			margin-top: $padding-small;
			margin-bottom: $padding-small;
		}
	}

	:global(.navbar-form),
	:global(.navbar-btn) {
		margin: $tc-action-bar-margin;
	}

	:global(.navbar-text),
	:global(.navbar-link) {
		margin: $padding-normal $padding-larger $padding-small 0;
	}

	:global(.navbar-form) {
		:global(.form-group) {
			padding-top: inherit;
		}

		button {
			margin: 0;
		}
	}
}
