.columns {
	display: flex;
	flex-wrap: wrap;
	
	.column {
		&:first-of-type {
			margin-left: 0;
		}
		flex: 1;
		margin-left: 15px;
		margin-top: 15px;

		fieldset {
			margin-right: auto;

		}

		input {
			min-width: 20rem;
		}
	}
}
