.tc-column-chooser-header {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.tc-column-chooser-body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
}

.tc-column-chooser-footer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	&-select-all {
		align-items: center;
		display: flex;
		:global(#select-all-checkbox) {
			margin: 0;
			position: relative;
		}
		:global(#select-all-label) {
			color: $silver-chalice;
			padding-left: $padding-larger;
			font-weight: 400;
		}
	}
}
