@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

@import './variables';

@mixin nav-action {
	padding: 0;
	background: none;
	border: none;
}

@mixin picker-action {
	font-size: 0.75rem;

	&.selected {
		background-color: tokens.$coral-color-accent-background;
		color: tokens.$coral-color-accent-text;
		transition: color 0.2s ease-in;
		font-weight: $font-weight-semi-bold;
	}

	&:disabled {
		color: tokens.$coral-color-neutral-text-disabled;
		opacity: 0.54;
	}
}

@mixin picker-underline {
	content: '';
	border-bottom: $border-default;
}

@mixin popper {
	width: $tc-datepicker-width;
	background: tokens.$coral-color-neutral-background;
	box-shadow: tokens.$coral-elevation-shadow-neutral-m;
	z-index: $tc-datepicker-z-index;
}

@mixin date-picker {
	display: flex;
	width: fit-content;
}

@mixin range-picker {
	@include date-picker;
	align-items: flex-end;
}

@mixin range-picker-inline {
	:global(.range-input) {
		display: flex;
		align-items: center;
	}

	:global(.control-label) {
		margin: 0 $padding-small;
	}
}

@mixin arrow {
	height: $tc-range-picker-arrow-height;
	padding: 0 $padding-smaller;
	margin-bottom: 0.9375rem;
	color: tokens.$coral-color-neutral-text;
}

@mixin icon {
	width: $svg-sm-size;
	height: $svg-sm-size;
}
