@mixin nav-action {
	padding: 0;
	background: none;
	border: none;
}

@mixin picker-action {
	font-size: 1.2rem;

	&.selected {
		background-color: $scooter;
		color: $white;
	}

	&:disabled {
		color: $silver-chalice;
	}
}

@mixin picker-underline {
	content: '';
	position: absolute;
	width: calc(100% - 2rem);
	left: 1rem;
	border-bottom: $border-default;
}
