@mixin nav-action {
	padding: 0;
	background: none;
	border: none;
}

@mixin picker-action {
	font-size: 1.2rem;

	&.selected {
		background-color: $lochmara;
		color: $white;
		transition: color 0.2s ease-in;
		font-weight: $font-weight-semi-bold;
	}

	&:disabled {
		color: $silver-chalice;
		opacity: 0.54;
	}
}

@mixin picker-underline {
	content: '';
	border-bottom: $border-default;
}
