$border-default: 0.1rem solid $gallery !default;

$tc-datepicker-width: 31rem !default;
$tc-datepicker-background: $white !default;
$tc-datepicker-box-shadow: $shadow-default !default;
$tc-datepicker-z-index: $zindex-dropdown !default;

$tc-range-picker-arrow-height: 3rem !default;
