[data-theme="light"] {
    --coralColorNeutralText: hsla(0,0%,13%,1);
    --coralColorNeutralTextWeak: hsla(0,0%,42%,1);
    --coralColorNeutralTextDisabled: hsla(0,0%,55%,1);
    --coralColorNeutralTextInverted: hsla(0,0%,100%,1);
    --coralColorNeutralBackground: hsla(0,0%,100%,1);
    --coralColorNeutralBackgroundMedium: hsla(0,0%,97%,1);
    --coralColorNeutralBackgroundStrong: hsla(0,0%,91%,1);
    --coralColorNeutralBackgroundDisabled: hsla(0,0%,97%,1);
    --coralColorNeutralBorder: hsla(0,0%,42%,1);
    --coralColorNeutralBorderWeak: hsla(0,0%,91%,1);
    --coralColorNeutralBorderHover: hsla(0,0%,13%,1);
    --coralColorAccentTextWeak: hsla(0,0%,100%,1);
    --coralColorAccentTextWeakHover: hsla(204,59%,88%,1);
    --coralColorAccentTextWeakActive: hsla(205,60%,75%,1);
    --coralColorAccentText: hsla(204,95%,31%,1);
    --coralColorAccentTextHover: hsla(204,96%,18%,1);
    --coralColorAccentTextActive: hsla(205,94%,13%,1);
    --coralColorAccentBackground: hsla(204,59%,88%,1);
    --coralColorAccentBackgroundHover: hsla(205,60%,75%,1);
    --coralColorAccentBackgroundActive: hsla(204,60%,63%,1);
    --coralColorAccentBackgroundWeak: hsla(0,0%,100%,1);
    --coralColorAccentBackgroundWeakHover: hsla(204,59%,88%,1);
    --coralColorAccentBackgroundWeakActive: hsla(205,60%,75%,1);
    --coralColorAccentBackgroundStrong: hsla(204,95%,31%,1);
    --coralColorAccentBackgroundStrongHover: hsla(204,95%,23%,1);
    --coralColorAccentBackgroundStrongActive: hsla(205,95%,15%,1);
    --coralColorAccentBorderHover: hsla(204,95%,23%,1);
    --coralColorAccentBorderActive: hsla(205,95%,15%,1);
    --coralColorDangerTextWeak: hsla(0,0%,100%,1);
    --coralColorDangerTextWeakHover: hsla(358,100%,94%,1);
    --coralColorDangerTextWeakActive: hsla(359,100%,88%,1);
    --coralColorDangerText: hsla(359,51%,52%,1);
    --coralColorDangerTextHover: hsla(359,51%,47%,1);
    --coralColorDangerTextActive: hsla(359,51%,42%,1);
    --coralColorDangerBackground: hsla(358,100%,94%,1);
    --coralColorDangerBackgroundHover: hsla(359,100%,88%,1);
    --coralColorDangerBackgroundActive: hsla(359,100%,83%,1);
    --coralColorDangerBackgroundWeak: hsla(0,0%,100%,1);
    --coralColorDangerBackgroundWeakHover: hsla(358,100%,94%,1);
    --coralColorDangerBackgroundWeakActive: hsla(359,100%,88%,1);
    --coralColorSuccessTextWeak: hsla(0,0%,100%,1);
    --coralColorSuccessTextWeakHover: hsla(110,49%,90%,1);
    --coralColorSuccessTextWeakActive: hsla(110,48%,85%,1);
    --coralColorSuccessText: hsla(111,49%,34%,1);
    --coralColorSuccessTextHover: hsla(111,49%,29%,1);
    --coralColorSuccessTextActive: hsla(111,49%,24%,1);
    --coralColorSuccessBackground: hsla(110,49%,90%,1);
    --coralColorDangerBackgroundStrong: hsla(359,51%,52%,1);
    --coralColorDangerBackgroundStrongHover: hsla(359,51%,47%,1);
    --coralColorDangerBackgroundStrongActive: hsla(359,51%,42%,1);
    --coralColorDangerBorder: hsla(359,51%,52%,1);
    --coralColorSuccessBackgroundHover: hsla(110,48%,85%,1);
    --coralColorDangerBorderHover: hsla(359,51%,47%,1);
    --coralColorSuccessBackgroundActive: hsla(110,49%,80%,1);
    --coralColorDangerBorderActive: hsla(359,51%,42%,1);
    --coralColorSuccessBackgroundWeak: hsla(0,0%,100%,1);
    --coralColorSuccessBackgroundWeakHover: hsla(110,49%,90%,1);
    --coralColorSuccessBackgroundWeakActive: hsla(110,48%,85%,1);
    --coralColorSuccessBackgroundStrong: hsla(111,49%,34%,1);
    --coralColorSuccessBackgroundStrongHover: hsla(111,49%,29%,1);
    --coralColorSuccessBackgroundStrongActive: hsla(111,49%,24%,1);
    --coralColorWarningTextWeak: hsla(0,0%,100%,1);
    --coralColorWarningTextWeakHover: hsla(22,85%,92%,1);
    --coralColorWarningTextWeakActive: hsla(22,85%,82%,1);
    --coralColorSuccessBorder: hsla(111,49%,34%,1);
    --coralColorWarningText: hsla(22,85%,37%,1);
    --coralColorWarningTextHover: hsla(22,86%,27%,1);
    --coralColorWarningTextActive: hsla(23,86%,22%,1);
    --coralColorWarningBackground: hsla(22,85%,92%,1);
    --coralColorSuccessBorderHover: hsla(111,49%,29%,1);
    --coralColorWarningBackgroundHover: hsla(22,85%,82%,1);
    --coralColorSuccessBorderActive: hsla(111,49%,24%,1);
    --coralColorWarningBackgroundActive: hsla(22,85%,72%,1);
    --coralColorWarningBackgroundWeak: hsla(0,0%,100%,1);
    --coralColorAssistiveText: hsla(0,0%,100%,1);
    --coralColorWarningBackgroundWeakHover: hsla(22,85%,92%,1);
    --coralColorWarningBackgroundWeakActive: hsla(22,85%,82%,1);
    --coralColorAssistiveBackground: hsla(210,62%,5%,1);
    --coralColorWarningBackgroundStrong: hsla(22,85%,37%,1);
    --coralColorWarningBackgroundStrongHover: hsla(22,85%,32%,1);
    --coralColorWarningBackgroundStrongActive: hsla(23,86%,17%,1);
    --coralColorWarningBorder: hsla(22,85%,37%,1);
    --coralColorAssistiveBorder: hsla(0,0%,47%,1);
    --coralColorWarningBorderHover: hsla(22,85%,32%,1);
    --coralColorWarningBorderActive: hsla(23,86%,17%,1);
    --coralColorBrandingCoral: hsla(359,100%,71%,1);
    --coralColorNeutralBorderDisabled: hsla(0,0%,65%,1);
    --coralColorNeutralBorderWeakHover: hsla(0,0%,42%,1);
    --coralColorAssistiveBorderFocus: hsla(241,54%,61%,1);
    --coralColorAccentTextStrong: hsla(204,96%,18%,1);
    --coralColorAccentTextStrongHover: hsla(204,97%,13%,1);
    --coralColorAccentTextStrongActive: hsla(205,95%,8%,1);
    --coralColorDangerTextStrong: hsla(359,53%,43%,1);
    --coralColorDangerTextStrongHover: hsla(359,54%,38%,1);
    --coralColorDangerTextStrongActive: hsla(359,54%,33%,1);
    --coralColorSuccessTextStrong: hsla(111,49%,29%,1);
    --coralColorSuccessTextStrongHover: hsla(110,49%,24%,1);
    --coralColorSuccessTextStrongActive: hsla(111,48%,19%,1);
    --coralColorWarningTextStrong: hsla(22,86%,27%,1);
    --coralColorWarningTextStrongHover: hsla(23,86%,22%,1);
    --coralColorWarningTextStrongActive: hsla(23,86%,17%,1);
    --coralColorChartsNeutral: hsla(0,0%,21%,1);
    --coralColorChartsPositive: hsla(111,49%,34%,1);
    --coralColorChartsNegative: hsla(359,51%,52%,1);
    --coralColorBrandingStitch: hsla(48,100%,50%,1);
    --coralColorBrandingTwilight: linear-gradient(90deg,hsla(210,62%,26%,1) 0%, hsla(254,47%,23%,1) 100%);    
    --coralColorBrandingNavigation: linear-gradient(90deg,hsla(210,62%,26%,1) 0%, hsla(254,47%,23%,1) 100%);    
    --coralSizeXxs: 0.4rem;    
    --coralSizeXs: 0.8rem;    
    --coralSizeS: 1.2rem;    
    --coralSizeM: 1.6rem;    
    --coralSizeL: 2.8rem;    
    --coralSizeXl: 3.2rem;    
    --coralSizeLimit: 32rem;    
    --coralElevationShadowM: 0rem 0.2rem 0.6rem 0rem hsla(0,0%,0%,0.3);    
    --coralElevationShadowL: 0rem 0.4rem 0.8rem 0rem hsla(0,0%,0%,0.3);    
    --coralHeadingL: 600 1.8rem/140% 'Source Sans Pro';
    --coralParagraphM: 400 1.4rem/140% 'Source Sans Pro';
    --coralParagraphMBold: 600 1.4rem/140% 'Source Sans Pro';
    --coralParagraphS: 400 1.2rem/140% 'Source Sans Pro';
    --coralParagraphSBold: 600 1.2rem/140% 'Source Sans Pro';
    --coralHeadingM: 600 1.6rem/140% 'Source Sans Pro';
    --coralHeadingS: 600 1.4rem/140% 'Source Sans Pro';
    --coralRadiusM: 0.8rem;    
    --coralRadiusL: 1.6rem;    
    --coralRadiusRound: 9999.9rem;    
    --coralBorderSolidS: 1px solid;    
    --coralBorderSolidM: 2px solid;    
    --coralBorderDashedS: 1px dashed;    
    --coralBorderDashedM: 2px dashed;    
    --coralOpacityL: 20%;    
    --coralOpacityM: 40%;    
    --coralOpacityS: 60%;    
    --coralBreakpointS: 40em;    
    --coralBreakpointM: 48em;    
    --coralBreakpointL: 64em;    
    --coralBreakpointXl: 80em;    
}