// DisplayTile styles

/// tile background color
/// @type Color
$tile-background: #fff;
/// tile border color
/// @type Color
$tile-border-color: #ccc;
/// all tile title color
/// @type Color
$title-color: #555;
/// Global font size for tile rendering
/// @type Number (Unit)
$text-size: 15px;
/// tile width
/// @type Number (Unit)
$tile-width: 16em;

.tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0 20px;
}

.tile {
	background: $tile-background;
	border: 1px solid $tile-border-color;
	border-radius: 0.5em;
	font-size: $text-size;
	height: 250px;
	margin: 0 25px 25px 0;
	max-width: $tile-width;
	padding: 15px;
	transition: 0.13s background cubic-bezier(0.18, 0.89, 0.32, 1.28),
		0.13s border-color cubic-bezier(0.18, 0.89, 0.32, 1.28);

	&:hover {
		background: lighten($title-color, 60%);
		border-color: darken($tile-border-color, 40%);
	}
}

.title {
	color: $title-color;
	font-size: $text-size;
	font-weight: 600;
	letter-spacing: 0;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
}

.titlelink {
	padding: 0;

	&:hover {
		text-decoration: underline;
	}
}

.itemlist {
	padding-left: ($tile-width / 2) - 2;

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

.itemtitle,
.itemvalue {
	float: left;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.itemtitle {
	color: $title-color;
	clear: left;
	font-size: 0.8em;
	font-weight: 400;
	line-height: 2.5em;
	margin-left: -($tile-width / 2) - 0.5;
	text-align: right;
	text-transform: uppercase;
	width: ($tile-width / 2) - 1;

	&:after {
		content: ' :';
	}
}

.itemvalue {
	clear: right;
	line-height: 2em;
	margin-left: 0; // reset default
	overflow: hidden;
	text-overflow: ellipsis;
	width: $tile-width / 2;
	white-space: nowrap;
}

.container {
	padding: 0 20px;
}
