@import '../../shared/styles/mixins';

.year-picker {
	display: flex;
	flex-direction: column;
	align-items: center;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.scroll {
		line-height: 1.2rem;
		min-height: auto;

		svg {
			height: 1.2rem;
		}
	}

	.year {
		@include picker-action;

		background: none;
		border: none;
		height: 2.5rem;
		width: 100%;
	}
}
