$tc-border-color: #ededed !default;
$tc-icon-size: 1.3rem !default;

.tc-column-displayer {
	display: flex;
	position: relative;
	align-items: center;
	height: 4rem;
	min-height: 4rem;
	&-dragging, 
	&:hover {
		background-color: $wild-sand;
	}
	&-dragging {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		margin-right: -$padding-large;
		margin-left: -$padding-large;
	}

	&-visibility {
		align-items: center;
		border-right: 0.1rem solid $tc-border-color;
		display: flex;
		height: 70%;
		padding-right: $padding-small;
		&-checkbox {
			margin: 0;
			position: relative;
		}
		:global(.tc-svg-icon) {
			width: $tc-icon-size;
			height: $tc-icon-size;
		}
	}
	&-label {
		display: flex;
		padding-left: $padding-large;
		width: 100%;
	}
	&-order {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		&-value,
		&-input-text {
			font-weight: bold;
			font-size: 1.5rem;
			padding-right: $padding-smaller;
		}
		&-input-text {
			text-align: right;
			max-width: 5rem;
		}
		:global(.btn) {
			color: $dove-gray;
			padding: 0;
		}
	}
}
