$tc-enumeration-height: 50vh !default;
$tc-enumeration-svg-color: #666 !default;
$tc-enumeration-font-size: 1.4rem !default;

.tc-enumeration {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	:global(input[type=text]) {
		font-size: $tc-enumeration-font-size;
		line-height: $tc-enumeration-font-size;
	}

	:global(.btn.btn-link) {
		padding: 0 $padding-smaller;

		svg {
			fill: $tc-enumeration-svg-color;
			height: $tc-enumeration-font-size;
			width: $tc-enumeration-font-size;
		}
	}

	header {
		flex-shrink: 0;
	}

	.tc-enumeration-hint {
		color: $silver;
		font-style: oblique;
	}
}
