@use '~@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '~@talend/design-tokens/lib/tokens';

$tc-enumeration-height: 50vh !default;

.tc-enumeration {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	:global {
		input[type='text'] {
			font-size: tokens.$coral-heading-s;
			line-height: tokens.$coral-heading-s;
		}

		.btn {
			justify-content: flex-start;
			min-height: 100%;
			text-decoration: none;

			&.btn-link {
				padding: 0 $padding-normal;
				outline-offset: 0.5rem;

				svg {
					height: tokens.$coral-heading-s;
					width: tokens.$coral-heading-s;
				}
			}
		}
	}

	header {
		flex-shrink: 0;
	}
}
