$tc-enumeration-height: 50vh !default;

.tc-enumeration {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: $tc-enumeration-height;

	:global(.btn.btn-link) {
		color: inherit;;
	}

	header {
		flex-shrink: 0;
	}
}
