.enumeration__item {
  align-items: center;
  background-color: var(--coral-color-neutral-background);
  display: flex;
  height: 38px;
  justify-content: space-between;
  padding: var(--coral-spacing-xxs) var(--coral-spacing-xs) var(--coral-spacing-xxs) var(--coral-spacing-s);
  transition: background-color var(--coral-transition-fast);
}
.enumeration__item:hover {
  background-color: var(--coral-color-neutral-background-medium);
}
.enumeration__item > :first-child {
  width: 100%;
}
.enumeration__item > :first-child label {
  flex: 1;
}
.enumeration__item--edit {
  padding: 0 var(--coral-spacing-xxs);
}
.enumeration__item--animate {
  animation: highlight 1500ms both 100ms;
}

@keyframes highlight {
  0% {
    background-color: var(--coral-color-neutral-background);
  }
  75% {
    background-color: var(--coral-color-accent-background);
  }
}