.collapsible-panels-list {
	flex-grow: 1;
	align-self: stretch;
	height: 100%;

	:global(.panel-collapse) {
		transition-duration: 0s;
	}
	:global(.tc-list-item) {
		background-color: transparent !important;
		border-bottom-width: 0 !important;
		padding-right: 0 !important;
		width: 100% !important;
	}

	:global(.tc-list-cell-undefined) {
		align-items: flex-start !important;
	}

	:global(.panel) {
		flex-grow: 1;
	}
}

.collapsible-panels-list-row {
	flex-grow: 1;
}
