@use '@talend/design-tokens/lib/tokens' as tokens;

.statusBubble {
	display: block;
	width: tokens.$coral-spacing-xs;
	height: tokens.$coral-spacing-xs;
	border-radius: 50%;

	&.beta {
		background-color: tokens.$coral-color-beta-icon;
	}

	&.error {
		background-color: tokens.$coral-color-danger-icon;
	}

	&.information {
		background-color: tokens.$coral-color-info-icon;
	}

	&.success {
		background-color: tokens.$coral-color-success-icon;
	}

	&.warning {
		background-color: tokens.$coral-color-warning-icon;
	}

}
