$tc-collapsible-panel-padding-normal: $padding-normal !default;
$tc-collapsible-panel-padding-larger: $padding-larger !default;

@mixin type-col($width: 100%) {
	flex-basis: $width;

	:global(.label) {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@mixin col-style {
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: 100%;
	margin: 0 $tc-collapsible-panel-padding-normal;
	overflow: hidden;

	&.col-5 {
		@include type-col(20%);
	}

	&.col-6 {
		@include type-col(calc(100%/6));
	}

	&.col-7 {
		@include type-col(calc(100%/7));
	}

	&.col-8 {
		@include type-col(calc(100%/8));
	}

	&.col-9 {
		@include type-col(calc(100%/9));
	}

	&.col-10 {
		@include type-col(calc(10%));
	}
}

@mixin actions-style {
	.tc-panel-action {
		visibility: hidden;
	}

	&:hover {
		.tc-panel-action {
			visibility: visible;
		}
	}
}

@mixin header-style {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: $tc-collapsible-panel-padding-larger;

	> * {
		@include col-style;
	}
}

.tc-panel {
	@include actions-style;
	font-size: 1.3em;

	:global(.panel-heading) {
		@include header-style;
		padding-right: $tc-collapsible-panel-padding-larger + $tc-collapsible-panel-padding-normal;
	}
}

.tc-collapsible-panel {
	@include actions-style;
	position: relative;

	&-caret-down {
		position: absolute;
		right: $tc-collapsible-panel-padding-normal;
		top: 0;
		bottom: 0;
	}

	:global(.panel-heading) {
		font-size: 1.3em;
		line-height: 1em;
	}

	:global(.panel-title) {
		font-size: 1em;
		position: relative;

		a {
			@include header-style;
			text-decoration: none;

			&[aria-expanded='true'] .tc-collapsible-panel-caret-down {
				transform: rotate(180deg);
			}

			> * {
				margin: auto $tc-collapsible-panel-padding-normal;
			}
		}
	}

	:global(.panel-body) {
		max-height: 50vh;
		overflow: auto;
		word-break: break-all;

		.tc-collapsible-panel-description {
			padding: $tc-collapsible-panel-padding-normal;
		}
	}
}
