// List styles

.appBar{
  background-color: $tlnd-app-toolbar-bg-color;
  padding: 20px;
}
.searchInputContainer{
  width: 200px;
  :global(.form-control) {
    background-color: $tlnd-app-toolbar-bg-color;
  }
}
.container {

}
.bar {

}
.content {
  flex: 1;
  overflowY: 'auto';
  padding: 20px;
}
