.tc-skip-links {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;

	> li {
		> a {
			&:focus {
				position: fixed;
				top: 0;
				left: 0;
				height: $navbar-height;
				visibility: visible;
				background: $white;
				color: $dove-gray;
				font-weight: bold;
				padding: 0 $padding-small;
			}
		}
	}
}
