.tc-skip-links {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;

	ul > li > a {
		height: $navbar-height;
		background: $white;
		color: $dove-gray;
		font-weight: bold;

		display: flex;
		align-items: center;

		&:focus {
			position: fixed;
			top: 0;
			left: 0;
			visibility: visible;
		}

		> .icon {
			padding: 0 $padding-small;
			border-right: 1px solid black;
			display: flex;
			align-items: center;
		}

		> .text {
			padding: 0 $padding-small;
		}
	}
}
