@use '~@talend/design-tokens/lib/tokens';

.legend {
	margin: tokens.$coral-spacing-m 0;
	padding: tokens.$coral-spacing-xs tokens.$coral-spacing-m;
	color: tokens.$coral-color-neutral-text-weak;
	background: tokens.$coral-color-neutral-background-medium;
	border-radius: tokens.$coral-radius-s;
}

.dl {
	display: grid;
	gap: 1ch;
	grid-template: auto / auto 1fr;
}

.table.table {
	overflow: auto;

	th {
		position: sticky;
		top: 0;
	}

	th + th,
	td + td {
		width: 20rem;
	}
}

.tag {
	padding: 0 tokens.$coral-spacing-xxs;
	border-radius: tokens.$coral-radius-s;
}
