.tc-badge {
  border-radius: $border-radius-base;
  padding: 0 $padding-smaller;
  margin: $padding-smaller $padding-normal/2 0;
  display: inline-block;
  font-size: $font-size-small;
  position: relative;
  max-width: 100%;

  &.tc-badge-outline {
    background: $white;
    border: 1px solid $brand-primary-darker;
    color: $black;
    font-weight: normal;

    svg {
      color: $black;
    }

    &.tc-badge-with-icon:hover {
      background: opacify($brand-primary, 0.25)
    }
  }

  &.tc-badge-solid {
    background: $brand-primary-darker;
    color: $white;
    border: 1px solid $brand-primary-darker;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.85;

    svg {
      color: $white;
    }

    &.tc-badge-with-icon:hover {
      background: lighten($brand-primary, $btn-background-tint-percent/100);
    }
  }

  .tc-badge-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-with-icon {
      margin-right: $padding-small + 8px;
    }
  }

  .tc-badge-delete-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;

    svg {
      margin: 0;

      & + span {
        padding: 0;
      }
    }
  }
}

