@use '@talend/bootstrap-theme/src/theme/guidelines' as *;
@use '@talend/design-tokens/lib/tokens' as token;

$tc-resource-picker-toolbar-favorite-color: tokens.$coral-color-warning-text !default;
$tc-resource-picker-toolbar-certified-color: tokens.$coral-color-accent-text !default;

.tc-resource-picker-state-filters {
	margin-right: $padding-normal;
	display: flex;
	align-items: center;

	.option-label {
		margin-right: $padding-small;
	}

	// ActionIconToggle style reset :
	:global(.tc-icon-toggle) {
		border: none;
		box-shadow: none;

		> :global(.tc-icon) {
			margin: 0;
		}

		&:hover:not([disabled]),
		&:focus,
		&:active {
			border: none;
		}
	}

	:global(.tc-icon-toggle) {
		margin-left: $padding-small;
		display: inline-flex;

		&:global(.active),
		&:hover {
			&.tc-resource-picker-selection-filter > svg {
				color: tokens.$coral-color-accent-text;
			}

			&.tc-resource-picker-favorite-filter > svg {
				color: $tc-resource-picker-toolbar-favorite-color;
			}

			&.tc-resource-picker-certified-filter > svg {
				color: $tc-resource-picker-toolbar-certified-color;
			}
		}
	}
}
