$tc-border-color: #ededed !default;
$tc-icon-size: 1.3rem !default;
$tc-height: 4rem;

.tc-column-chooser-row {
	display: flex;
	position: relative;
	align-items: center;
	height: $tc-height;
	min-height: $tc-height;
	&-visibility {
		align-items: center;
		border-right: 0.1rem solid $tc-border-color;
		display: flex;
		height: 70%;
		padding-right: $padding-large;
		&-checkbox {
			margin: 0;
			position: relative;
		}
		:global(.tc-svg-icon) {
			width: $tc-icon-size;
			height: $tc-icon-size;
		}
	}
	&-label {
		padding-left: $padding-large;
		width: 100vw;
	}
}
