.tc-app-header-bar {
	:global(.btn):global(.navbar-brand):hover {
		background-color: transparent;
	}

	[role='search'] > div > div:first-child {
		padding-left: $padding-small;
		padding-right: $padding-large;
		height: $navbar-height;
		background: $white;
	}
}
