@use '@talend/design-tokens/lib/tokens' as tokens;

.key-value {
	display: flex;

	dt,
	dd {
		flex: 1;
	}

	dt {
		display: flex;
		align-items: flex-end;

		> * {
			flex: 1;
		}

		&::after {
			grid-area: equal;
			content: '=';
			display: flex;
			align-items: center;
			justify-content: center;
			height: tokens.$coral-sizing-l;
			width: tokens.$coral-sizing-m;
		}
	}
}
